/*------------feedtimehistory start----------------*/
.feedtime-list {
  text-overflow: unset !important;
  white-space: unset !important;
  overflow: unset !important;
}

.feedtime-height{
  max-height: 50px !important;
  height: 30px !important; 
}


.feed_time .mat-list-item:hover {
  background: rgba(0, 0, 0, .08);
  transition: all 0.5s;
}

.feed_time img {
  width: 30px !important;
  height: 30px !important;
}

.feed_time {
  height: 430px !important;
  overflow: auto;
  padding: 0 !important;
}

/*------------feedtimehistory end----------------*/
