<!-- <app-create-form-component (formsubmitted)="onNoClick()" [formid] = "'2b0b2c27-a85e-4da9-8ca4-588cfb8db5c7'" [isFormEdit]="true"></app-create-form-component> -->
<!-- <app-submit-form-component isEditMain="true" customapplicationid="e840e248-63cf-474f-84f1-f849c2ecfa59" formId="2b0b2c27-a85e-4da9-8ca4-588cfb8db5c7" formsubmittedid ="2aa429d2-d5f4-8c0c-95a3-b7fda955672c"></app-submit-form-component>  -->

<!-- <app-web-page-viewer [isAppStoreVisible] ="true" dynamicTemplateId = "05155679-9b40-0a9e-1ef1-29b809001e6f" ></app-web-page-viewer> -->
<router-outlet></router-outlet>
<!-- <app-form-builder [form]="data"></app-form-builder> -->
<!-- <button mat-raised-button (click)="createForm()">Open create form</button> -->
<!-- <app-submit-form-component></app-submit-form-component> -->
<!-- <app-edit-form-component formId="4f9cdf59-037d-4b0d-bf66-d139fe1a4be5"></app-edit-form-component> -->
<!-- <app-view-form-component formId="4f9cdf59-037d-4b0d-bf66-d139fe1a4be5"></app-view-form-component> -->
 <!-- <app-submit-form-component customapplicationid="d47be837-c4e3-4855-ae0a-e3f9aec7783d" formId="9e75d578-31f5-4b3f-a919-f1a4cd7bc1b2" formsubmittedid ="267d5e09-ccf9-b49f-e1b8-a0b46a50b4aa"></app-submit-form-component>   -->
 <!-- <app-submit-form-component customapplicationid="15ff5cb0-6c27-4e62-b7bc-99c0f7e7f462" formId="2dd458e8-af57-4f85-bc3d-cffafabbfcf1" formsubmittedid ="2ee2da1e-37d1-14ff-5581-7b60d3fc963e"></app-submit-form-component>  -->
 <!-- <app-create-form-component formid="236f7e42-3a4c-44dd-b1ff-48a8d4bdf3bf"></app-create-form-component> -->
 <!-- <app-web-page-viewer-unauth [dynamicTemplate] ="dynamicTemplate" ></app-web-page-viewer-unauth> -->
