.payroll-mat-tabs{
    .mat-tab-header{
background: none;
    }
    .mat-tab-header{
      padding-left: 0px;
    }
}
.advanced-cron-editor-label{
  font-weight: normal !important;

}

.payroll-bg{
background-color: $white-color;
}
.payroll-table{
.k-grid-header .k-header{
  vertical-align: inherit !important;
}
}

.payslip-table td{
padding: 3px 0px 2px 5px;
}

.payslip-table-header{
height: 35px;
}
.border-r{
border-right: 1px solid #000;
}

.employeeresignation .resignation-status{
  padding: 5px;
  border-radius: 25px;
}

.error-msg-text{
  color:red;
}

.success-msg-text{
  color:green;
}

.employeeloan-icons .employeeresignation-icons .employeebonus-icons{
  display: flex;
}