/*-------- HR Dashboard scss start-------*/
.emnployee_spenttime,
.acitivity_report,
.employee_presence,
.feature_usage,
.dialylog_timereport,
.monthly_logtime,
.permission_list,
.permission_history,

.mobile{
  width: 100%;
  overflow-x: auto;
}
.permission_register {
  margin: 0 5px;
}
.dailylogtimereport-table {
  .datatable-body-cell:nth-child(n+1) {
    width:20% !important;
    .datatable-body-cell-label {
      width:100% !important;
      text-align:center !important;
    }

  }
}




@media (max-width: 680px) {
  .emnployee_spenttime mat-form-field,
  .employee_presence mat-form-field,
  .morning_lateemp mat-form-field,
  .acitivity_report mat-form-field,
  .feature_usage mat-form-field,
  .dialylog_timereport mat-form-field,
  .monthly_logtime mat-form-field {
    width: 100%;
  }
}
/*-------- HR Dashboard scss end-------*/

.user-story-status-height{
max-height: 550px;
overflow-y: auto;
}