/*-------process dashboard icons scss start---------*/
.process_icons .fa:hover {
    color: $primary-color !important;
  }
  
  .process_icons .fa {
    font-size: 18px;
    color: $primary-color !important;
  }
  /*-------process dashboard icons scss end---------*/