<div style="overflow: scroll;">
  <!-- <custom-app-training-matrix-view [dashboardFilters]=""> </custom-app-training-matrix-view> -->
  <!-- <custom-app-training-courses-view></custom-app-training-courses-view> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <custom-app-training-courses-view></custom-app-training-courses-view>
  <custom-app-training-course-assignment></custom-app-training-course-assignment>
  <custom-app-add-new-training-course></custom-app-add-new-training-course> -->
  <!-- <custom-app-training-record></custom-app-training-record> -->
  <!-- <custom-app-training-matrix-view></custom-app-training-matrix-view> -->
  <!-- <custom-app-training-courses-view></custom-app-training-courses-view> -->
  <custom-app-training-course-assignment></custom-app-training-course-assignment>
</div>