/*--------goals-------*/

.allgoals-list {
  height: calc(100vh - 160px);
  max-height: calc(100vh - 16);
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.notific-icon {
  margin: 15px 5px 0 0;
  font-size: 12px !important;
}

.goal-shortname {
  padding: 12px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.goal-unique-menu {
  vertical-align: unset !important;
}

.started-goal{
  // width: -webkit-fill-available;
  background-color: beige !important;
}

.custom-goal-unique-width {
  width: 125%;
  padding: 0px !important;
}

.custom-goal-padding {
  padding: 6px !important;
}

.custom-goal-unique-background {
  background-color: $grey-color;
}

.custom-activity-margin {
  margin-top: 6px;
}

.all-goalslist img {
  width: 30px !important;
  height: 30px !important;
  margin: 5px 0 0 0;
}

.allgoals-list .card-control {
  width: auto;
  outline: none;
  cursor: pointer;
}

.all-goalslist .card-title-text {
  height: 40px;
}

.edit_goal {
  max-width: 350px !important;
  min-width: 350px !important;
}

.edit_goal .card-content {
  padding: 10px;
}

.edit_goal .mat-card-title {
  padding: 5px;
  background: $primary-color;
  color: $white-color;
}

.advancedsearch_data .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1em;
}

.goal-options .mat-menu-item {
  line-height: 0 !important;
  height: 34px !important;
}

.goal-options button {
  outline: none !important;
}

.allgoals-list .more_vert {
  width: auto !important;
}

.updategoal {
  max-width: 350px !important;
}

.showonly-reds {
  color: #ff141c;
}

.showonly-warnings {
  color: #ffa700;
}

.userstory-details {
  position: absolute !important;
  right: 0;
}

.allGoals-page {
  position: relative;
}

.goalstatus mat-list-item {
  background: $white-color;
}

@media (max-width: 768px) {
  // .allgoals-listData{
  //   margin-top:25px;
  // }
  .goalList,
  .template-list {
    transform: none !important;
    top: 4px !important;
  }
}

@media (max-width: 680px) {
  .advancedsearch_data mat-form-field {
    width: 100%;
  }
}

.advancedSearch-btns {
  padding: 2px !important;
}

/*-------goals end-------*/

.goals-loader {
  border-left: 2px solid $border-left-color !important;
  padding: 2px 4px;

  .empty-text {
    margin: 6px 0 2px 0 !important;
  }
}

.userstory-loader {
  padding: 2px 4px !important;
  border-bottom: solid 1px $border-left-color;
}

.goal-loader-img {
  border-radius: 50%;
  padding: 10px;
}

.advanced-search-icon {
  height: 35px !important;
  line-height: 35px !important;
}

.goal-card-project {
  margin: 0 0 2px 0;
  line-height: 11px;
  p {
    font-size: 10px !important;
    color: $goalCard-project-color;
    letter-spacing: 0.3px;
    margin: 1px 0 0 0 !important;

    .hours {
      font-weight: 800;
    }
    fa-icon {
      color: $goalCard-project-color;
      font-size: 8px;
      margin: 0 1px;
    }
  }
  .kanbanRotate {
    transform: rotate(90deg);
    display: inline-flex;
    font-size: 11px !important;
  }
  .superagileRotate {
    display: inline-flex;
    font-size: 11px !important;
  }
}
.goals-loader {
  .empty-text {
    margin: 6px 0 2px 0 !important;
  }
}

div.scrollmenu {
  overflow: auto;
  width: 400px;
  height: 250px;
  white-space: nowrap;
  display: inline-block;
}

.color-search-width {
  min-width: 20px !important;
}

.project-list-icon {
  right: 75px !important;

  @media only screen and (min-width: 330px) and (max-width: 375px) {
    right: 163px !important;
  }

  @media only screen and (min-width: 380px) and (max-width: 430px) {
    right: 188px !important;
  }
}

.fileupload-hint {
  color: $fileupload-hint-color;
}

.p-0 {
  padding: 0 !important;
}

.more_horiz {
  transform: rotate(90deg);
}

.goals-filter {
  .custom-select-matform {
    .mat-form-field-wrapper {
      padding-bottom: 0.25em !important;
    }
  }
}

.mt-06 {
  margin-top: 6px;
}

.goal-tags-height {
  max-height: 100px;
  min-height: 35px;
  font-size: 13px !important;
  line-height: 16px !important;
}

.tags-unique-height {
  max-height: 120px !important;
  overflow: auto;
}

.allgoals-filter {
  @media only screen and (max-width: 1024px) {
    border-bottom: 1px solid #e5e5e5;
    ul li {
      border-bottom: 1px solid #75757530;
    }
  }
}
.border {
  border-style: solid;
  margin-bottom: 10px;
}
.report-size {
  height: calc(100vh - 180px);
  max-height: calc(100vh - 209px);
  @media only screen and (max-width: 1024px) {
    display: inline-flex !important;
  }
}

.goal-unique-page-height {
  height: calc(100vh - 60px);
  max-height: calc(100vh - 70px);
  overflow-x: hidden !important;
  overflow-y: scroll;
}
.goal-activity-text p {
  margin-bottom: 0px;
  display: inline-block;
}

.goal-activity-description {
  margin-left: 5px;
}

.leave-reason-description {
  margin: 5px;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.create-edit-goal-component {
  max-width: 417px;
}
.unique-goal-edit {
  max-height: 325px;
  overflow-y: auto;
}

.goal-form {
  max-height: 391px;
  overflow: auto;
}

.projectsearch {
  height: 57px;
}

.goal-cursor {
  cursor: pointer;
}

.mat-form-error {
  color: red;
}

.all-goals-expansion {
  .mat-expansion-panel-body {
    display: none;
  }
}

.goto-all-goals {
  color: $primary-color;
  display: inline-flex;
}

.goto-all-goals span {
  margin-top: 3px;
}

.goto-all-goals:hover {
  cursor: pointer;
}

.goto-all-goals:hover span {
  text-decoration: underline;
}

.k-grid tbody tr:hover {
  cursor: pointer;
}

.projects-list-grid .k-dropdown .k-dropdown-wrap {
  padding: 1px !important;
}

.projects-list-grid .k-filtercell .k-filtercell-operator>.k-button.k-clear-button-visible {
  height: calc(10px + 1.4285714286em) !important;
}

.projects-list-grid  .k-button-icon {
  width: calc( 10px + 1.42857143em) !important;
  height: calc( 10px + 1.42857143em) !important;
}

.m-n07 {
  margin-top: -0.7rem;
}

.user-task-board th, .user-task-board td {
  padding: 0.85rem !important;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  min-width: 200px;
  max-width: 300px;
  word-break: break-all;
  text-align: center;
}

.user-task-board tbody>tr>td:first-child, .user-task-board tbody>tr>th {
  background-color: $primary-color;
  color: white;
}

// .user-task-board tbody>tr>th {
  // position: sticky;
  // top: 0px;
  // background-color: #348cd4;
  // color: white;
  // z-index: 999;
// }

.user-task-board tbody>tr>td:first-child, .user-task-board tbody>tr>th:first-child {
  position: sticky;
  color: white;
  left: 0px;
}

@media only screen and (max-width: 1440px) {
  .filter-icon-show {
    display: none !important;
  }
}

@media only screen and (min-width: 1441px) {
  .filter-icon-show {
    display: block !important;
  }
}

.color-circle {
  .mat-button-toggle-label {
    width: 29px !important;
    height: 29px !important;
  }
}

.backlog-userstory_data {
  height : 46px;
  padding:0.46rem 0.5rem 2.2rem 0;
}

.sprint-icon:hover {
  color: $white-color !important;
}

.backlog-button {
  font-size: 20px;
  font-weight: bold;
}

.sprint-summary {
  height: 202px;
  overflow-y: scroll;
}

.add-goal-icon {
  margin-right: 5px;
}

.sprint-text {
  margin-top: 7px;
}

.sprint-unique-name {
  margin-top:9px;
  color:$primary-color;
}

.margin-top-unique {
  margin-top:6px;
}

.margin-top-uniquename {
  margin-top: 8px;
}

.board-icon {
  margin-left: 5px;
}

.chip-size {
  background-color: darkgray;padding: 0px 4px !important;cursor: pointer;  font: 400 12px/20px Lato, Helvetica Neue, sans-serif;
}