.amount-filter
{
    overflow-y: auto;
    max-height: 200px;
}
.text-display
{
    color: $secondary-color;
}
.radio-text-size
{
    font-size: $font-size-h6;
    color: $primary-color;
}
.question-icon-display
{
    color: $grey-iconColor;
}
.exclamation-display
{
    color: $error-message-color;
}
.calender-display
{
    color: $timepicker-color;
}
.border-align
{
    border: 1px solid;
    border-style: groove;

}
.border-style
{
    border: 1px solid rgba(0,0,0,0.12);
    border-style: groove;
    border-radius: 13px;
}
@media (max-width: 320px) {
.edit-schedule-text-overflow{
    .mat-radio-label{
        max-width: 90%;
    }
    .mat-radio-label-content{
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
}

.Goal-filter-option > .mat-pseudo-checkbox {
    display: none !important;
  }
  
  .custom-matdialog .mat-dialog-container{
    padding: 0px;
  }

  .add-client{
    position: unset;
    color: $primary-color;
 }
 .recent-invoice{
   mat-divider{
    background-color: $editGoalFloat-background;
    border-top-width: 3px;
    border-top-style: solid;
    position: inherit!important;
  }
 }
 .billingmanagement-card{
   min-height: 180px;
 }

.add-new-client
{
    border : 2px dotted $loader-color;
    min-height : 148px;
}
.Updated-client
{
    min-height : 148px;
    max-height : 148px;
    border-radius: 5px;
    border-top : 5px solid $primary-color;
}
.updated-client-avatar
{
  border-right: 1px solid grayscale($color: #494646);
}
.Expenses-display
{
    min-height : 100px;
    fa-icon 
    {
        color: $green-color;
    }
}
.add-seconadry-detail-block
{
    border : 2px dotted $loader-color;
   height : 174px;
}
.edit-client-overview-icon
{
  font-size:50px;
}
@media screen and (min-width: 768px)
{
  .secondary-details-client
  {
    max-height: 70vh;
    overflow-y : auto;
  }

}

.msg-class {
  position: fixed;
    z-index: 100;
    right: 232px;
    top: 166px;
    background: transparent;
    display: flex;
}
