
<div style="overflow: scroll;">
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-billing-component-my-expenses [dashboardId]="null"></app-billing-component-my-expenses> -->
  <!-- <app-billing-component-expenses [dashboardId]="null"></app-billing-component-expenses> -->
  <!-- <app-billing-component-my-expenses [dashboardId]="null"></app-billing-component-my-expenses> -->
  <!-- <app-billing-component-expenses [dashboardId]="null"></app-billing-component-expenses> -->
  <!-- <app-billing-component-expenses [isPendingExpenses]="true"></app-billing-component-expenses> -->
  <!-- <app-billing-component-expenses [isApprovedExpenses]="true"></app-billing-component-expenses> -->
  <app-expense-area-component></app-expense-area-component>
</div> 