/*-----custom load card start----*/
.img-bg {
    .img{
    width: 80px;
    height: 80px;
  }
  }
  .empty-text{
    background: #ccc;
    height: 10px;
    margin: 4px 0 3px 0 !important;
  }
  .loading-bg{
    background:#CCC;
    animation:myfirst 2s;
  -moz-animation:myfirst 2s infinite; /* Firefox */
  -webkit-animation:myfirst 2s infinite; /* Safari and Chrome */
  }
  @-moz-keyframes myfirst /* Firefox */
  {
  0%   {background:#ccc;}
  50%  {background:#ebe8e8;}
  100%   {background:#ccc;}
  }
   
      @-webkit-keyframes myfirst /* Firefox */
  {
    0%   {background:#ccc;}
    50%  {background:#ebe8e8;}
    100%   {background:#ccc;}
  }
  
  /*-----custom load card end----*/  