.chip {
  display: inline-block;
  height: 20px;
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 19px;
  border-radius: 16px;
  &.chip-name {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #e4e4e4;
    padding: 0 12px;
    .chip-avatar{
        width: 20px;
        margin: 0 4px 0 -12px;
    }
  }
  .chip-avatar {
    float: left;
    height: 20px;
    border-radius: 50%;
  }
}

.select-avatar{
  .chip{
    margin-right: 5px;
  }
}
