<div class="custom-dialog">
  <div class="custom-close" mat-dialog-close (click)="onNoClick()">
      <fa-icon icon="times" class="project-dialog"></fa-icon>
  </div>
</div>
<div class="p-0" style="padding-top: 10px !important;">
    <div fxLayout="row" style="height: 40px;margin-bottom: 5px;">
      <div fxFlex="40%" fxLayout="row" class="app-container" fxLayoutAlign="start center">
      </div>
      <div fxFlex="34%" fxLayout="row" cla5ss="app-container" fxLayoutAlign="start center">
        <div class="mt-08">
          <div class="app-container">
            <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" previousLabel="" nextLabel="" class="apps-pagination"
              maxSize="5"></pagination-controls>
          </div>
        </div>
      </div>
      <div fxFlex fxLayoutAlign="end center" class="ml-1 mr-05 search_goalinput">
        <div fxLayoutAlign="end center" fxLayoutAlign.xs="start center">
          <mat-form-field fxLayoutAlign="start center">
            <input name="search" class="search_goal" matInput placeholder="Search"
              [(ngModel)]="searchText" (keyup)="searchAppStore($event)">
          </mat-form-field>
        </div>
  
        <span class="shift-timing-close" fxLayoutAlign="end center" fxLayoutAlign.xs="start center"
          style="right:0px !important">
          <span *ngIf="!searchText"></span>
          <mat-icon *ngIf="searchText" class="icon-button mr-05" aria-hidden="false" (click)="closeSearch()"
            style="cursor:pointer">
            close</mat-icon>
        </span>
      </div>
    </div>
    <hr class="p-02 m-0">
    <div class="widgets-list" id="custom-style-1">
      <mat-progress-bar color="primary" mode="indeterminate" *ngIf="loadingApps">
      </mat-progress-bar>
      <div fxLayout="row wrap" *ngIf="!loadingApps">
        <ng-container
          *ngFor="let webPageTemplate of (webPageTemplates | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems } )">
          <div fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="33">
  
            <mat-card class="p-05 app-store-title app-on-hover mat-card" >
              <div fxLayout="row" fxLayOutAlign="center">
                <div fxFlex class="mb-05 hide-content-overflow">
                  <b class="app-dialog-title" matTooltip ="{{webPageTemplate.fileName}}" >{{webPageTemplate.fileName}}</b>
                </div>
              </div>
  
              <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="row wrap">
                <div fxFlex>
                  <fa-icon class="mr-05 pull-right cursor-pointer mat-color-accent"
                    matTooltip="Install" icon="download" style="cursor: pointer;" (click)="onSelect(webPageTemplate)">
                  </fa-icon>
                </div>
              </div>
            </div>
            </mat-card>
          </div>
        </ng-container>
      </div>
  
      <mat-card *ngIf="webPageTemplates.length === 0 && !(loadingApps)">
        <div fxLayout="row" fxFlex="100">
          <div fxFlex="100" fxFlex.gt-sm="5" class="p-05">
            <fa-icon icon="info-circle"></fa-icon>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="95" class="p-05 ml-1">
            <p class="m-0">No Search Result Found</p>
          </div>
        </div>
      </mat-card>
  
    </div>