form-builder label{
       color: #2E2F64;
       font-family: 'Nunito Sans' !important;
       font-size: 12px !important;
       text-align: left;
};

// formio{
//       display: flex;    
//       justify-content: center;  
//     };
    
formio label{
      color: #2E2F64;
      font-family: 'Nunito Sans';
      font-size: 12px !important;
   };
  

.form-text.error{
    color: #FF0038;
    font-family: 'Nunito Sans';
    font-size: 12px;
    text-align: left;
    padding: 15px 35px;
  };
  
  .form-control.is-invalid{
    border-radius: 8px;
    border: 1px solid #FF0038;
  };

  form-builder button[type=submit]{
    color: white !important;
    font-family: 'Nunito Sans !important';
    font-size: 12px !important;
    text-align: left !important;
    padding: 10px 35px !important;
    border-radius: 8px !important;
    border: 1px solid #00295C !important;
    background-color: #00295C !important;
  };

  formio button[type=submit]{
    color: white !important;
    font-family: 'Nunito Sans !important';
    font-size: 12px !important;
    text-align: left !important;
    padding: 10px 35px !important;
    border-radius: 8px !important;
    border: 1px solid #00295C !important;
    background-color: #00295C !important;
  }

  formio input[type="checkbox"] {
    margin: 4px -17px 0 !important;
    margin-top: 1px \9; // IE8-9
    line-height: normal;
  }
 