h1{
  font-size:60px;
  text-align:center;
}
.timeline{
  position:relative;
  margin:5px auto;
  padding:15px 0;
  width:1000px;
  font-family: 'Montserrat', sans-serif;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 30px 0px 30px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.timeline {
  .timeline-content{
    padding-bottom:20px;
  }
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:rgb(214, 66, 116);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:rgb(214, 66, 116);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li p{
  margin:0px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-120px;
  margin:0;
  padding:8px 16px;
  color:#fff;
  border-radius:18px;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-120px;
  margin:0;
  padding:8px 16px;
  color:#fff;
  border-radius:18px;
}
.timeline{
    width:100%;
}

.productive-color .mat-progress-bar-fill::after {
    background-color: $productive-color !important;
  }
 
.unproductive-color .mat-progress-bar-fill::after {
  background-color: $unproductive-color !important;
}

.neutral-color  .mat-progress-bar-fill::after {
  background-color: $neutral-color !important;
}

.productive-bar-color {
  background-color: $productive-color !important;
}

.unproductive-bar-color {
  background-color: $unproductive-color !important;
}

.neutral-bar-color {
  background-color: $neutral-color !important;
}

.idle-bar-color {
  background-color: #fdd835 !important;
}

.app-usage-status .mat-progress-bar-buffer {
  background-color: $app-usage-color !important;
}
.app-usage-status .mat-progress-bar{
  height: 15px !important;
}

.productivity-custom-cell{
  display: flex !important;
  align-items: flex-start !important;
}

.chip-type .mat-chip:not(.mat-basic-chip) {
    padding: 8px 8px;
    border-radius: 0px;
    align-items: center;
    cursor: default;
}
.chip-productive{
    background-color: $productive-color !important;
}
.chip-unproductive{
    background-color: $unproductive-color !important;
}
.chip-neutral{
    background-color: $neutral-color !important;
}

.productivity-productive{
  background-color: $productive-color !important;
  border-radius: 4px;
  padding: 5px;
  color: $white-color;
  margin-right: 1px;
  text-align: center;
}

.productivity-unproductive{
  background-color: $unproductive-color !important;
  border-radius: 4px;
  padding: 5px;
  color: $white-color;
  margin-right: 1px;
  text-align: center;
}

.productivity-neutral{
  background-color: $neutral-color !important;
  border-radius: 4px;
  padding: 5px;
  color: $white-color;
  margin-right: 1px;
  text-align: center;
}

.productivity-normal{
  background-color: $white-color !important;
  border-radius: 4px;
  padding: 5px;
  margin-right: 1px;
  text-align: center;
}

.apps-height{
  min-height: 339px;
  max-height: 339px;
}

.apps-height-pagination {
  min-height: 280px;
  max-height: 280px;
}

.screenshot-screen-height{
  min-height: 5px;
  // max-height: 691px;
  // max-height: 599px;
  max-height: calc(100vh - 285px);
}

.screenshots-tab-height{
  min-height: 5px;
  max-height: calc(100vh - 350px);
}

.user-list-height{
  max-height: 67.5vh !important;
}

.scroller-app{
  width: 99.4%;
}

.button-top-screenshot{
  top: 0px;
}

.activity-font-color{
  color:  $primary-text-color !important;
}

#tooltip {
  position: absolute;
  width: 140px;
  height: 45px;
  padding: 3px;
  z-index: 1 !important;
  background-color: #707070;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) ;
}
#tooltip.hidden {
  opacity: 0;
}

#tooltip p {
  margin: 0;
  font-family: $font-family-base;
  font-size: 12px;
  color: aliceblue;
  line-height: 20px;
}
.display-chart{
opacity: 1 !important;
}

.appstore-pin-close{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index:2;

  .mat-icon {
    font-size: 19px;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

.document-pin-close{
  .mat-icon {
    font-size: 19px;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

.cutom-chart-tooltip{
  font-family: $font-family-base;
  font-size: 12px;
  fill: white;
}

.custom-button-group {
  width:203px;
  height:28px;
  .mat-button-toggle-label-content {
    line-height: 28px !important;
    color: cadetblue;
    }}
      
   .custom-button{
  .mat-button-toggle-checked {
color:black;
    }
  }

.custom-button-group1  {
  border-radius: 20px;
  color:$testrail-on-hover-link;
  //width:282px;
  height:28px;
  .mat-button-toggle-label-content {
    line-height: 29px !important;
    color: cadetblue;
    }

}

@media screen and (max-width: 425px) {
  .marg-left {
    margin-left: 51px;
  }
}

.activity-font-custom{
  font-size: 16px;
}

.activity-screenshot-details{
  background: $black-color !important;
  height: inherit;
}

.activity-screenshot-font-details{
  color: $white-color !important;
}

// .image-checkbox
// {
//     cursor: pointer;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     border: 4px solid transparent;
//     outline: 0;
// }

//     .image-checkbox input[type="checkbox"]
//     {
//         display: none;
//     }

// .image-checkbox-checked
// {
//     border-color: #f58723;
// }

.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.appstore-pin-close{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index:2;

  .mat-icon {
    font-size: 19px;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

.document-pin-close{
  .mat-icon {
    font-size: 19px;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

.image-checkbox-checked {
	border-color: rgb(6, 6, 7);
}
.image-checkbox .fa {
  position: absolute;
  color: rgb(15, 16, 17);
  background-color: rgb(0, 0, 0);
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.img-size{
  // height: 150px;
  // width: 250px;
  margin: 12px;
  margin-left: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}
span.galleryImage {
  display: inline-block;
  position: relative;
}
span.galleryImage input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 2%;
  height: 2%;
  -webkit-transition: all 0.1s ease-in-out;
}
span.galleryImage:hover input[type=checkbox], span.galleryImage input[type=checkbox]:checked {
  top: 3%;
  left: 3%;
  opacity: 1;
  width: 10%;
  height: 10%;
  -webkit-transition: all 0.1s ease-in-out;
}

span.galleryImage i {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 10%;
  height: 10%;
  -webkit-transition: all 0.1s ease-in-out;
}
span.galleryImage:hover i {
  top: 3%;
  right: 3%;
  opacity: 1;
  width: 10%;
  height: 10%;
  -webkit-transition: all 0.1s ease-in-out;
}

.custom-modal {
  display: none;
  position: fixed;
  z-index: 60000;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1919eb;
}

.custom-live-modal {
  display: none;
  position: fixed;
  z-index: 60000;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1919eb;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  image-rendering: -webkit-optimize-contrast;
  padding: 0;
  width: 85%;
  max-width: 1250px;
  height: calc(70vh);
}

.custom-application-modal {
  display: none;
  position: fixed;
  z-index: 60000;
  padding-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1919eb;
}

.application-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1250px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  height: calc(66vh);
}

.my-live-slides {
  display: none;
  height: calc(66vh);
}

.delete-screenshot{
  display: none;
}

.mySlides:hover .delete-screenshot {
  position: absolute;
  display: block;
  right: 6px;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.act_close_icon {
    position: absolute;
    right: 5px;
    top: 3px;
}

.act_close_icon .mat-icon {
  font-size: 14px;
  background: rgba(204,204,204,0.415686);
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 46%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  background-color: #2d2b2b !important;
  font-weight: bold;
  font-size: 52px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mat-button-item  .mat-button-toggle-checked{
  background-color:#b4b4b4 !important;
}

.app-image-preview{
  height: 150px;
  width: 90%;
  border-radius: 5px;
}

.image_close {
  position: absolute;
  right: 23px;
  top: 55px;
  background: #505050a6 !important;
  border-radius: 50%;
  margin: auto;
  padding: 4px 8px;
  color: #fff !important;
  font: small-caption;
  height: 25px;
  width: 25px;
}

.no-data{
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(0,0,0,0.87);
  font-family: Lato,Roboto,"Helvetica Neue",sans-serif;
  color: rgba(0,0,0,0.87);
}

.activity-recorder{
  font-size: 14px;
  margin-left: 6px;
  margin-right: 0px;
  border-radius: 8px;
  width: 12px !important;
  height: 12px !important;
  background-color: red;
}

.activity-user-tracking{
  font-size: 14px;
  margin-left: 6px;
  margin-right: 0px;
  border-radius: 8px;
  width: 12px !important;
  height: 12px !important;
  background-color: rgba(25, 228, 59, 0.972);
}

.activity-user-break{
  font-size: 14px;
  margin-left: 6px;
  margin-right: 0px;
  border-radius: 8px;
  width: 12px !important;
  height: 12px !important;
  background-color: #fa7300e0;
}

.recording-style{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 3px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 3px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 3px 13px rgba(173,0,0,0);
	}
}

.display-form-custom{
  display: contents !important;
}

.screenshot-custom-dialog{
  margin-top: -25px !important;
  margin-right: -8px !important;
}

.compact-user-list .mat-list-item {
  line-height: 2.5;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.compact-user-list .mat-list-item:hover {
  background: rgba(0, 0, 0, .08);
  cursor: pointer;
}

.productive-app-img {
  margin-top: -15px !important;
  margin-left: 5px !important;
}

.time-usage-height .datatable-body{
  height: calc(100vh - 245px) !important;
}

.tracker-tab-icon {
  vertical-align: super;
}

.tracker-main-page {
  height: calc(100vh - 96px) !important;
}

.tracker-screnshoot-bar {
  height: calc(100vh - 160px) !important;
}

.tracker-screnshoot-sidebar {
  height: calc(100vh - 160px) !important;
}

.tracker-configuration-height {
  height: calc(100vh - 180px) !important;
}

.activity-page-header {
  background: white;
  height: 46px;
}

.activitytracker-page-header {
  background: white;
  height: 46px;
}

.activitytracker-page-header .mat-tab-header {
  border-bottom: none !important;
}

@media only screen and (max-width: 768px) {
  .activitytracker-page-header {
    background: white;
    height: 92px;
  }
}

.activity-tracker-panel .mat-expansion-panel-content{
  background-color: white;
}

.activity-tracker-panel .mat-expansion-panel-header{
  margin: 0px;
}

.activity-tracker-panel .mat-expansion-panel:hover{
  background-color: #f3f3f3 !important;
}

.activity-tracker-panel .mat-expansion-panel{
  background-color: #f3f3f3 !important;
}

.tracker-history {
  height: calc(100vh - 211px) !important;
}

.tracker-timeline {
  height: calc(100vh - 138px) !important;
}

.pagination-position .mat-paginator {
  display: flex !important;
  justify-content: start !important;
}

.tracker-users-height {
  height: calc(100vh - 239px) !important;
}

.custom-url-button-group {
  width:140px;
  height:28px;
  .mat-button-toggle-label-content {
    line-height: 28px !important;
    color: cadetblue;
    }}
      
.custom-button{
  .mat-button-toggle-checked {
      color:black;
    }
}
  
.activity-selection {
  .ng-select .ng-select-container {
    background-color: #f3f3f3 !important;
  }
}

/* screenshot media queries */
@media screen and (max-width: 425px) {
  .screenshot-max-width {
    max-width: 90%;         
  }
}

@media screen and (min-width: 425px) and (max-width: 548px) {
  .screenshot-max-width {
    max-width: 95%;        
  }
}

@media screen and (min-width: 548px) and (max-width: 768px) {
  .screenshot-max-width {
    max-width: 45%;
    margin-left: 1.5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .screenshot-max-width {
    max-width: 31%;
    margin-left: 1.5%;
  }
}

@media screen and (min-width: 1024px) {
  .screenshot-max-width {
    max-width: 18%;    
    margin-left: 1.5%;        
  }
}
/* screenshot media queries */

.activity-material {
  font-size: 21px !important;
}

.tracker-bar-chart {
  .k-chart{
    min-height: 265px !important;
    height: 265px !important;
  }
}

.k-animation-container-shown {
  z-index: 1002 !important;
}

.custom-modal-pm {
  display: none;
  position: fixed;
  z-index: 60000;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1919eb;
}

.mySlides-pm {
  display: none;
  height: calc(66vh);
}

.delete-screenshot-pm {
  display: none;
}

.mySlides-pm:hover .delete-screenshot {
  position: absolute;
  display: block;
  right: 6px;
  cursor: pointer;
}

.tracker-helper-icon:hover {
  .tracker-helper{
    display: block !important;
  }
}
.tracker-helper{
  display: none;
}

// app-fm-containers-page-activitydashboard app-time-sheet-tracker-component app-hr-component-viewtimesheet .k-grid-content{
//   height: calc(100vh - 250px) !important;
// }
app-fm-containers-page-activitydashboard app-view-activitytracker-component-time-usage .time-usage-height .datatable-body{
  height: calc(100vh - 230px) !important;
}
app-fm-containers-page-activitydashboard app-fm-component-activityhistory .tracker-history {
  height: calc(100vh - 150px) !important;
}
app-fm-containers-page-activitydashboard app-fm-component-activitytracker-productiveapps .datatable-body{
  height: calc(100vh - 207px) !important;
}
app-fm-containers-page-activitydashboard app-hr-component-usermanagement .datatable-body{
  height: calc(100vh - 207px) !important;
}
app-fm-containers-page-activitydashboard app-view-activitytracker-component-web-app-usage {
  .datatable-body{
    height: calc(100vh - 290px) !important;
  }

  .ngx-pagination .datatable-footer .page-count{
      position: absolute;
      left: 320px !important;
    }
}

.webApps-box {
  border-radius: 25px;
  padding: 40px; 
  border: 2px solid;
}

.webApps-chart .k-widget {
  border-width: 0px !important;
}

.webApps-Img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0 6px 0 0;
  float: left;
}

.webAppsTooltip {
  white-space: pre-line;
  word-break: break-word !important;
  max-width: 500px !important;
}

.tracker-badge-position {
  position: relative;
  display: inline-block;
}

.leave-badge {
  position: absolute;
  top: 65%;
  left: 70%;
  background: #2bf0e6;
  border-radius: 50%;
  font-size: 1px;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.6rem;
}

.break-badge {
  position: absolute;
  top: 65%;
  left: 70%;
  background:#fa7300e0;
  border-radius: 50%;
  font-size: 1px;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.6rem;
}

.tracking-badge {
  position: absolute;
  top: 65%;
  left: 70%;
  background:rgba(25, 228, 59, 0.972);;
  border-radius: 50%;
  font-size: 1px;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.6rem;
}

.not-tracking-badge {
  position: absolute;
  top: 65%;
  left: 70%;
  background: red;
  border-radius: 50%;
  font-size: 1px;
  vertical-align: middle;
  width: 0.6rem;
  height: 0.6rem;
}

.summary-page-box {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.summary-box-pagination {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

div.tracker-clip-path {
  background-color: #ffffff;
  clip-path: polygon(30% 80%, 43% 81%, 51% 54%, 64% 42%, 75% 93%, 86% 67%, 100% 100%, 0 100%, 0 67%, 15% 23%);
}

.new-apps-color {
  color: white !important;
}

.top-websites {
  margin: 6px 0px 0px 4px;
}

.allcated-color  .mat-progress-bar-fill::after {
  background-color: orange !important;
 }

 .used-color  .mat-progress-bar-fill::after {
  background-color: rgba(0, 128, 0, 0.685) !important;
 }

 .nonallcated-color  .mat-progress-bar-fill::after {
  background-color: rgba(255, 255, 0, 0.699) !important;
 }

 .nonused-color  .mat-progress-bar-fill::after {
  background-color:rgba(0, 0, 255, 0.575) !important;
 }
 
.tracker-my-dashboard {
  .widget-not-editable-background  {
    height: calc(100vh - 157px) !important;
  }

  .custom-list {
    height: calc(100vh - 197px) !important;
    margin: 0px;
  }

  .custom-list-data {
    height: calc(100vh - 136px) !important;
    margin: 0px;
  }
}

.tracker-pagination .datatable-pager {
  text-align: left !important;
}

.tracker-count .page-count {
  flex: 1 1 0% !important;
}

.detailed-view .datatable-body{
  height: calc(100vh - 360px) !important;
  overflow: auto;
}

.tracker-chart {
  .k-chart{
    min-height: 320px !important;
    height: 320px !important;
  }
}

.idle-color  .mat-progress-bar-fill::after {
  background-color: #fdd835 !important;
}

.pagination-move-left .ngx-datatable .datatable-footer .datatable-pager{
  order: -1;
  flex-grow: 0;
  flex-basis: auto;
}

.productive-count .page-count {
  display: none !important;
}

.productive-border {
  border: 2px solid transparent;
}

.unProductive-border {
  border: 2px solid transparent;
}

.neutral-border {
  border: 2px solid transparent;
}

.productive-border:hover {
  border: 2px solid rgb(39, 194, 108);;
}

.unProductive-border:hover {
  border: 2px solid #ffa500;
}

.neutral-border:hover {
  border: 2px solid #8E9AAA;
}

.screenshot-chart-icon{
  border: 1px solid $primary-color !important;
  border-radius: 4px;
}
.mat-card-fx-col{
  flex-direction: column !important;
}
.fxcls{
  
}
.flex-wrap-mat-card{
  flex-wrap: wrap !important;
}

.shift-timing-close-no-puls{
  position: absolute;
  right: 40px;
  top: 15px;
  .mat-icon {
    font-size: 14px;
    background: $close-icon-background;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}
.no-flex-dpl{
  display: contents !important;
}
.flx-dplay-none{
  display: initial !important;
}
.btn-right{
  display: flex !important;
  justify-content: flex-end !important;
}
.form-file-upload{
  display: flex !important;
    align-items: center !important; 
    flex-direction: column !important;
}

.favicon-preview{
  width: 150px !important;
  height: 150px !important;
  .upload-banner-text{
      height: 150px !important;
  }
}
.avatar-upload .booking-avatar {
  width: 20vw;
  height: 85px !important;
  border-radius: 5px;
  font-size: 20px !important ;
  position: relative;
  overflow: hidden;
  border: 5px solid #fff;
  background-color: #fff;
  border: 2px dashed #757575;
  @media only screen and (max-width: 1030px) {
      width: 37vw;
  }
  @media only screen and (max-width: 780px) {
      width: 95vw;
  }
  @media only screen and (max-width: 480px) {
      width: 90vw;
  }
}
 