.productive-color .mat-progress-bar-fill::after {
    background-color: $productive-color !important;
  }
 
.unproductive-color .mat-progress-bar-fill::after {
  background-color: $unproductive-color !important;
}

.neutral-color  .mat-progress-bar-fill::after {
  background-color: $neutral-color !important;
}

.app-usage-status .mat-progress-bar-buffer {
  background-color: $app-usage-color !important;
}
.app-usage-status .mat-progress-bar{
  height: 15px !important;
}

.productivity-custom-cell{
  display: flex !important;
  align-items: flex-start !important;
}

.chip-type .mat-chip:not(.mat-basic-chip) {
    padding: 8px 8px;
    border-radius: 0px;
    align-items: center;
    cursor: default;
}
.chip-productive{
    background-color: $productive-color !important;
}
.chip-unproductive{
    background-color: $unproductive-color !important;
}
.chip-neutral{
    background-color: $neutral-color !important;
}

.productivity-productive{
  background-color: $productive-color !important;
  border-radius: 4px;
  padding: 5px;
  color: $white-color;
  margin-right: 1px;
  text-align: center;
}

.productivity-unproductive{
  background-color: $unproductive-color !important;
  border-radius: 4px;
  padding: 5px;
  color: $white-color;
  margin-right: 1px;
  text-align: center;
}

.productivity-neutral{
  background-color: $neutral-color !important;
  border-radius: 4px;
  padding: 5px;
  color: $white-color;
  margin-right: 1px;
  text-align: center;
}

.productivity-normal{
  background-color: $white-color !important;
  border-radius: 4px;
  padding: 5px;
  margin-right: 1px;
  text-align: center;
}

.apps-height{
  min-height: 5px;
  max-height: 200px;
}

.screenshot-screen-height{
  min-height: 5px;
  // max-height: 691px;
  max-height: 599px;
}

.scroller-app{
  width: 99.4%;
}

.button-top-screenshot{
  top: 0px;
}

.activity-font-color{
  color:  $primary-text-color !important;
}

#tooltip {
  position: absolute;
  width: 140px;
  height: 45px;
  padding: 3px;
  z-index: 1 !important;
  background-color: #707070;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) ;
}
#tooltip.hidden {
  opacity: 0;
}

#tooltip p {
  margin: 0;
  font-family: $font-family-base;
  font-size: 12px;
  color: aliceblue;
  line-height: 20px;
}
.display-chart{
opacity: 1 !important;
}

.cutom-chart-tooltip{
  font-family: $font-family-base;
  font-size: 12px;
  fill: white;
}

.custom-button-group {
  width:203px;
  height:28px;
  .mat-button-toggle-label-content {
    line-height: 28px !important;
    color: cadetblue;
    }}
      
   .custom-button{
  .mat-button-toggle-checked {
color:black;
    }
  }

.custom-button-group1  {
  border-radius: 20px;
  color:$testrail-on-hover-link;
  //width:282px;
  height:28px;
  .mat-button-toggle-label-content {
    line-height: 29px !important;
    color: cadetblue;
    }

}

@media screen and (max-width: 425px) {
  .marg-left {
    margin-left: 51px;
  }
}

.activity-font-custom{
  font-size: 16px;
}

.activity-screenshot-details{
  background: $black-color !important;
  height: inherit;
}

.activity-screenshot-font-details{
  color: $white-color !important;
}

// .image-checkbox
// {
//     cursor: pointer;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     border: 4px solid transparent;
//     outline: 0;
// }

//     .image-checkbox input[type="checkbox"]
//     {
//         display: none;
//     }

// .image-checkbox-checked
// {
//     border-color: #f58723;
// }

.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: rgb(6, 6, 7);
}
.image-checkbox .fa {
  position: absolute;
  color: rgb(15, 16, 17);
  background-color: rgb(0, 0, 0);
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.img-size{
  // height: 150px;
  // width: 250px;
  margin: 12px;
  margin-left: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}
span.galleryImage {
  display: inline-block;
  position: relative;
}
span.galleryImage input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 2%;
  height: 2%;
  -webkit-transition: all 0.1s ease-in-out;
}
span.galleryImage:hover input[type=checkbox], span.galleryImage input[type=checkbox]:checked {
  top: 3%;
  left: 3%;
  opacity: 1;
  width: 10%;
  height: 10%;
  -webkit-transition: all 0.1s ease-in-out;
}

span.galleryImage i {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 10%;
  height: 10%;
  -webkit-transition: all 0.1s ease-in-out;
}
span.galleryImage:hover i {
  top: 3%;
  right: 3%;
  opacity: 1;
  width: 10%;
  height: 10%;
  -webkit-transition: all 0.1s ease-in-out;
}

.custom-modal {
  display: none;
  position: fixed;
  z-index: 60000;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1919eb;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1250px;
  height: calc(70vh);
}

.custom-application-modal {
  display: none;
  position: fixed;
  z-index: 60000;
  padding-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1919eb;
}

.application-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1250px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  height: calc(66vh);
}

.delete-screenshot{
  display: none;
}

.mySlides:hover .delete-screenshot {
  position: absolute;
  display: block;
  right: 6px;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.act_close_icon {
    position: absolute;
    right: 5px;
    top: 3px;
}

.act_close_icon .mat-icon {
  font-size: 14px;
  background: rgba(204,204,204,0.415686);
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 46%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  background-color: #2d2b2b !important;
  font-weight: bold;
  font-size: 52px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mat-button-item  .mat-button-toggle-checked{
  background-color:#b4b4b4 !important;
}

.app-image-preview{
  height: 150px;
  width: 90%;
  border-radius: 5px;
}

.image_close {
  position: absolute;
  right: 40px;
  background: #bebfc1;
  border-radius: 50%;
  margin: auto;
  padding: 3px 8px;
  color: #fff !important;
  font: small-caption;
  height: 25px;
  width: 25px;
}

.no-data{
  font-weight: 400;
  font-size: 0.875rem;
  color: rgba(0,0,0,0.87);
  font-family: Lato,Roboto,"Helvetica Neue",sans-serif;
  color: rgba(0,0,0,0.87);
}

.activity-recorder{
  font-size: 14px;
  margin-left: 6px;
  margin-right: 0px;
  border-radius: 8px;
  width: 12px !important;
  height: 12px !important;
  background-color: red;
}

.activity-user-tracking{
  font-size: 14px;
  margin-left: 6px;
  margin-right: 0px;
  border-radius: 8px;
  width: 12px !important;
  height: 12px !important;
  background-color: rgba(25, 228, 59, 0.972);
}

.recording-style{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 3px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 3px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 3px 13px rgba(173,0,0,0);
	}
}

.display-form-custom{
  display: contents;
}

.screenshot-custom-dialog{
  margin-top: -25px !important;
  margin-right: -8px !important;
}

.compact-user-list .mat-list-item {
  line-height: 2.5;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.compact-user-list .mat-list-item:hover {
  background: rgba(0, 0, 0, .08);
  cursor: pointer;
}
.mat-card-fx-col{
flex-direction: column !important;
}