<div *ngIf="customApplicationsLoaded && formDataLoaded" style="display:block ;height:100vh !important">
    <mat-card-title class="text-center">
        <div fxLayout="row">
            <div fxFlex class="card-title-text mat-bg-primary p-05" fxLayoutAlign="center center">
                {{ formName }}
            </div>
        </div>
    </mat-card-title>
    <div class="p-1 mat-dialog-padding" [ngStyle]="{'background-color': formBgColor}">
        <div fxLayout="column" fxLayoutGap="10px"  id="style-1" *ngIf="load && isEdit">
            <formio #formio [form]="form" [submission]="submission"  [readOnly]="templateViewOnly" (submit)="onSubmit($event)"
                (change)="onChange($event)" (customEvent)="customEvent($event)" [refresh]="refreshForm" style="height: 90%;"
                >
            </formio>
        </div>
        <div fxLayout="column" fxLayoutGap="10px"  id="style-1" *ngIf="!load && isEdit">
            <formio #formio [form]="form" [submission]="submission"  [readOnly]="templateViewOnly" (submit)="onSubmit($event)"
                (change)="onChange($event)" (customEvent)="customEvent($event)" [refresh]="refreshForm" style="height: 90%;"
                >
            </formio> 
        </div>
        <div fxLayout="column" fxLayoutGap="10px" *ngIf="!isEdit"   id="style-1">
            <formio id="formio" #formio [form]="form" [submission]="submission"  [readOnly]="templateViewOnly" (submit)="onSubmit($event)"
                (change)="onChange($event)" (customEvent)="customEvent($event)" [refresh]="refreshForm" style="height: 90%;"
                >
            </formio>
        </div>
    </div>
</div>
<div class="loader text-center" *ngIf="!customApplicationsLoaded || !formDataLoaded"></div>