/* You can add global styles to this file, and also import other style files */
/* #form-builder label.col-form-label{
    color: palevioletred !important;
} */


/* @import url('https://fonts.googleapis.com/css?family=Nunito Sans');
form-builder label{
       color: #2E2F64;
       font-family: 'Nunito Sans' !important;
       font-size: 12px !important;
       text-align: left;
};

formio{
      display: flex;    
      justify-content: center;  
    };
    
formio label{
      color: #2E2F64;
      font-family: 'Nunito Sans';
      font-size: 12px;
   };
  

.form-text.error{
    color: #FF0038;
    font-family: 'Nunito Sans';
    font-size: 12px;
    text-align: left;
    padding: 15px 35px;
  };
  
  .form-control.is-invalid{
    border-radius: 8px;
    border: 1px solid #FF0038;
  } */
  

