
<div  *ngIf ="template && template.templateType != 'pdf' && template.htmlFiles && template.htmlFiles.length > 0" class="dynamic-html-page-scoll-unauth">
<span *ngFor ="let htmlTemplate of template.htmlFiles">
<app-dynamic-html-creation-unauth [htmlTemplate] ="htmlTemplate" [templateTagStyles]="template.templateTagStyles" (dynamicButtonRoute) = "dynamicButtonRouteEvent($event)"></app-dynamic-html-creation-unauth>
</span>
</div>

<div *ngIf ="template && template.templateType == 'pdf'">
<app-pdf-preview  [sfdtdata]="template.sfdtFile"></app-pdf-preview>
</div>
