<div style="display: grid; padding: 10px !important;" id="lookup-formio-class">
    <mat-progress-bar color="primary" mode="indeterminate" *ngIf="isLookupValuesGetInprogress"></mat-progress-bar>
    <div class="form-control ui fluid selection dropdown" style="padding: 0px !important;">
        <div class="lookup-select-suffix">
            <mat-select class="form-control choices__input lookup-select-select" panelClass="formio-lookup-select-panel"
                (valueChange)="GetFormRecordValues($event)" [(ngModel)]="value" id="lookup" [disabled]="disableds"
                (infiniteScroll)="getFieldValues(false)" [complete]="!canLoadValues" msInfiniteScroll>
                <!-- <mat-option>
                <ngx-mat-select-search [formControl]="ngSelectSearch" [searching]="searching"
                    placeholderLabel="Find..."></ngx-mat-select-search>
            </mat-option> -->
                <div class="loading-sign" [hidden]="!searching">Loading...</div>
                <mat-form-field class="lookup-search">
                    <input [formControl]="ngSelectSearch" placeholder="Search" matInput
                        (input)="searchItem($event?.target?.value)" [(ngModel)]="searchValue"
                        (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                    <span class="close-icon" *ngIf="searchValue" (click)="searchItem('')"></span>
                </mat-form-field>
                <mat-option value="null" hidden disabled>Choose Lookup</mat-option>
                <mat-option
                    class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted"
                    *ngFor="let data of lookupDropDownDataSubject | async"
                    [value]="data.value">{{data.label}}</mat-option>
                <!-- <mat-option [hidden]="!searching" disabled>Loading...</mat-option> -->
                <div class="loading-sign" [hidden]="!searching">Loading...</div>
            </mat-select>
            <button mat-button mat-icon-button matSuffix class="lookup-clear-suffix" *ngIf="value"
                (click)="clearFormFieldValue()">
                <mat-icon style="font-size: 17px !important;line-height: 15px !important;">close</mat-icon>
            </button>
        </div>
    </div>
    <div [innerHTML]="table" *ngIf="valueType == 'more'" style="overflow:auto !important;">
    </div>
    <div *ngIf="valueType == 'latest'">
        <div style="width: 100%;">
            <table style="border: none; width: 100% !important;">
                <ng-container *ngFor="let data of relatedFieldsfinalDatas">
                    <tr style="border: none;" *ngIf="getdata(data) as d">
                        <td style=" border: none;"><b>{{data.label}}</b></td>
                        <td style=" border: none;">{{d}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</div>