.datatable-body-cell {
  display: flex !important;
  align-items: center !important;
}

ul.sidenav mat-icon {
  color: $grey-iconColor;
}


button.mat-warn fa-icon {
  color: #ffffff;
}

.leavetype-configheader{
  margin: 4px 7px 4px 20px;
}

.leaveHistory-tab{
  height: calc(100vh - 75px);
  overflow-y: auto;
}

.leaveHistory-list-overflow{
  overflow-y: auto;
  height: 100% !important;
}

.leaveHistory-list-word-overflow{
 word-break: break-all;
}

.ptt-05
{
  padding-top:05px;
}

button.mat-primary:disabled fa-icon {
  color: $grey-iconColor;
}

.mat-tab-header {
  background: $white-color;
  padding-left: 13px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.backdrop-color {
  background: rgba(0, 0, 0, 0.6);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.mrl0604{
  margin: 0px 6px 0px 4px;
}

.mat-search_field {
  width: 200px !important;
}

.badge-item {
  padding: 3px 10px;
  line-height: 12px;
  color: $white-color !important;
  font-weight: 400;
  border-radius: 4px;
  font-size: 12px;
}

.mat-bg-green {
  background-color: $green-color !important;
}
.mat-bg-red {
  background-color: $red-color !important;
}
.mat-bg-columbia-blue {
  background-color: $columbia-blue-color !important;
}
.mat-bg-old-lace {
  background-color: $old-lace-color !important;
}
.mat-bg-peach-orange {
  background-color: $peach-orange-color !important;
}
.mat-bg-unbleached-silk {
  background-color: $unbleached-silk-color !important;
}
.mat-bg-papaya-whip-yellow {
  background-color: $papaya-whip-yellow !important;
}

.mat-bg-accent {
  color: $white-color !important;
}

.floating-right-fab-button {
  position: fixed;
  z-index: 100;
  bottom: 16px;
  right: 24px;
}

.floating-right-fab-button .mat-fab{
  width: 45px !important;
  height: 45px !important;
}

.floating-left-fab-button {
  position: fixed;
  z-index: 100;
  bottom: 16px;
  left: 24px;
}

.floating-left-fab-button .mat-fab{
  width: 45px !important;
  height: 45px !important;
}

button.mat-primary fa-icon,
button.mat-accent fa-icon,
.floating-right-fab-button .mat-icon {
  color: $white-color;
}

.filter-icon {
  color: $filter-icon;
}

.hide-content-overflow {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ml-10 {
  margin-left: 10px;
}

.m-left{
  margin-left: 2px;
}
.add-userstory-card {
  border: 1px solid $grey-color;
  width: 100%;
} 


.icon-button {
  cursor: pointer;
  font-weight: normal !important;
}


.auto-search-icon{
position: absolute;
display: inline-block;
}

.checkbox-text label{
margin-bottom:0px; 
}

.custom-icon-size{
font-size: 20px
}

 .mat-option-text{

  .mat-body-2{
    margin: 5px 0 5px;
  }
  .avatar-container{
    img{
      margin: 1px 0px 11px;
    }
  }
  .avatar-content{
    margin-top: 2px; 
  }
 }

 .custom-search-close
 {
  right: 15px !important;
 }

 .masterdata-search-close{
  right: 40px !important;
  top: 12px !important;
 }
 .masterdata-search-close-plus{
  margin-right: 37px !important;
 }
 .mat-button-focus-overlay { background-color: transparent!important; }

 .box-width {
  border: 1px solid #eeee;
  border-radius: 20px;
  width:350px;
  height:50px;
  }

.text-size{
  font-size: 20px;
}

.size {
  font-size:15px;
}

.mat-divider{
  border-top-width: 10px;
  border-top-style: dashed;
}

 .licence-text { 
   .mat-form-field{
  line-height: 1.25 !important;
  }
}
  
.mat-fab .mat-button-wrapper {
  padding: 10px 0 !important;
}


 .mat-pseudo-checkbox{
  color: $checkbox-color !important;
  border: 0.5px solid !important;
  background: linear-gradient(90deg, rgba(239, 239, 245, 0.22) 0%, #e7edf1 0.5%, rgba(255, 251, 251, 0.83) 99%, #eae6e6 100%) !important;
}

.mat-pseudo-checkbox-checked{
  color:$primary-color !important;
  background: $primary-color  !important;
}

.font-primary{
  color:  $primary-color !important; 
}

.mat-option{
  color:  $primary-text-color !important;
}

.mrl20{
  margin: 0px 20px;
}

.leave-type-configmat{
  overflow: auto;
  height: calc(100vh - 180px);
}

.leave-type-configtable{
  overflow: auto;
  height: calc(100vh - 410px);
}

.leave-type-configencashmentform{
  overflow: auto;
  height: calc(100vh - 350px);
}

.leave-type-configapplicabilityform{
  overflow: auto;
  height: calc(100vh - 280px);
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  color: $primary-color !important;
}
.productive .mat-progress-bar-fill::after {
    background-color: #70b603 !important;
  }
 
.un-productive .mat-progress-bar-fill::after {
  background-color: #f59a23 !important;
}

.neutral  .mat-progress-bar-fill::after {
  background-color: #aaaaaa !important;
}

.app-usage-status .mat-progress-bar-buffer {
  background-color: #e2e8e8 !important;
}
.app-usage-status .mat-progress-bar{
  height: 15px !important;
}

.my-custom-cell{
  align-items: flex-start !important;
}

.k-pager-numbers .k-state-selected {
  color: #fff;
  background-color: $primary-color !important;
}

.kendo-scheduler .k-event, .k-event {
  background-color: $primary-color !important;
  color: #fff;
}

.k-scheduler-monthview .k-scheduler-table td {
  height: 80px;
  text-align: left;
}

.k-scheduler-views li.k-state-selected {
  border-color: rgba(0,0,0,0.1);
  color: #fff;
  background-color: $primary-color !important;
  background-image: none;
}

.k-scheduler-times .k-scheduler-table {
  table-layout: auto;
}

.k-scheduler-table {
  width: 100%;
  max-width: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.k-scheduler-pane {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.k-scheduler-table {
  width: 100%;
  max-width: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.kendo-scheduler .k-event, .k-event {
  background-color: $primary-color !important;
  color: #fff;
}
.k-scheduler-monthview .k-scheduler-table td {
  height: 100px;
  text-align: left;
}
.k-scheduler-views li.k-state-selected {
  border-color: rgba(0,0,0,0.1);
  color: #fff;
  background-color: $primary-color !important;
  background-image: none;
}
.k-scheduler-times .k-scheduler-table {
  table-layout: auto;
}
.k-scheduler-table {
  width: 100%;
  max-width: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
.k-scheduler-pane {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.k-scheduler-table {
  width: 100%;
  max-width: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
.tooltip-calander-view{
  word-break: break-all;
  background-color: #ffffff !important;
  border: 1px !important;
  border-radius: 10 !important;
  border-style: groove !important;
  border-color: rgba(0, 0, 0, 0.6) !important;
  color: #000000 !important;  
}

.m-calender-view-05{
  margin: 4px 0px 0px 4px !important;
}
.calander-view{
  overflow: auto;
  width: 100%;
  height: 100% !important;
}

.k-scheduler-table {
  line-height: 1.4 !important;
}

.k-more-events {
  position: absolute !important;
}

.kendo-scheduler .k-event, .k-event {
  border-radius: 2px;
  min-height: 25px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-radius: 2px;
  text-align: left;
  cursor: default;
  position: absolute;
  overflow: hidden;
  padding-right: 0px !important;
}
.kendo-scheduler .k-event .k-event-actions, .k-event .k-event-actions {
  height: 0px !important;
}

.expense_history_section{
  float: left;
  width: 100%;
  max-height: 36vh;
  overflow: auto;
 }
  
.goal-calender-view{
  height: 800px !important;
  overflow: auto;
}

.k-tooltip.k-popup{
  visibility: hidden;
}

.m03{
  margin: 3px !important;
}
.m08{
  margin: 8px;
}

.ml-01{
  margin-left: 5px !important;
}

.userstory-summary{
  cursor: pointer;
  .more_vert {
    display: none;
    visibility:hidden;
    position:fixed
  }

  &:hover {
    .more_vert {
      display: inline-block;
    }
  }
}

.mat-filter{
  width: 200px;
  padding-left: 8px !important;
}

.mat-icon-position{
  position: relative;
  top: 14px;
  right: 10px;
}

.times-on-hover:hover{
  color: $primary-color;
}
.assets-update{
  margin: 4px 0px 0px 20px;
}

.k-treeview .k-in .k-icon, .k-treeview .k-in .k-image, .k-treeview .k-in .k-sprite {
  margin-right: 4px;
  color: $primary-color;
}

.form-v-table{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.bold-text {
  font-weight: bold;
}

.form-builder-height {
  max-height: calc(100vh - 16.5rem);
}

.form-builder-height .formcomponents .panel-group {
  position: fixed;
  width: 14%;
}

@media only screen and (min-width: 1154px) {
  .form-builder-height .formcomponents #group-basic, .form-builder-height .formcomponents #group-advanced {
    max-height: 280px;
    overflow: auto;
  }

  .form-builder-height .formarea {
    margin-left: -15px;
  }
}

@media only screen and (max-width: 1153px) {
  .form-builder-height .formcomponents #group-basic, .form-builder-height .formcomponents #group-advanced {
    max-height: 180px;
    overflow: auto;
  }

  .form-builder-height .formarea {
    margin-left: -10px;
  }
}