.filter-section {
  float: left;
  width: 100%;
  transition: all 0.5s;
  color: $primary-text-color;
  mat-icon {
    float: left;
    margin-right: 5px;
    color: $primary-text-color;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    li {
      border-left: solid 1px #75757530 !important;
      float: left;
      padding: 7px;
      position: relative;
      min-height: 39px;
      cursor: pointer;
      &.active {
        // background: #fff;
        font-weight: 600;
      }
      a{
        margin: 2px 0 0px 0;
        float: left;
      }
    }
  }
  label {
    margin-bottom: 0;
  }
}

.filter-header {
  float: left;
  padding: 8px;
}

.filter-block {
  background: #ffffff;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc;
  position: absolute;
  z-index: 9;
  top: 44px;
  left: 0;
}

.filter-data.mat-card {
  border-radius: 0 !important;
  margin: 3px 0 0 0;
  padding: 10px;
}
.sat-popover-container .mat-card {
  border-radius: 0 !important;
}

.filter-margin {
  margin: 0.33333rem;
}
@media only screen and (max-width: 1424px) {
.mat-card-soft{
  max-height: 550px !important;
}
}
@media only screen and (max-width: 1024px) {
  .filter-header {
    width: 100%;
  }
  .filter-section-responsive ul li {
    border: solid 1px #75757530 !important;
  }
  .filter-section-responsive ul li a mat-icon {
    margin-top: -4px;
  }
  .filter-section-responsive ul li a {
    font-size: 13px;
  }
  .filter-section-responsive{
    border-top: solid 1px #75757530 !important;
  }
}


@media only screen and (max-width: 480px) {
  .filter-header {
    width: 100%;
  }
  .filter-section ul li {
    width: 100%;
    border: none;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #cccccc !important;
  }
}

