<div fxLayout="row wrap" class="m-333 selected-dashboard" *ngIf="isAppStoreAccess">
    <div fxFlex class="mr-1"></div>
    <div fxFlex="2" fxFlex.md="3" fxFlex.lt-sm="6" fxFlex.lt-md="4" fxLayoutAlign="start center"
        class="dashboard-options">
        <fa-icon icon="store" matTooltip="App store" class="mat-color-accent cursor-pointer" (click)="opentemplates()"></fa-icon>
    </div>
</div>


<div *ngIf ="(template && template.templateType != 'pdf' && template.htmlFiles && template.htmlFiles.length > 0 )&& (template.allowAnonymous == null || template.allowAnonymous == false)" class="dynamic-html-page-scoll" >
<span *ngFor ="let htmlTemplate of template.htmlFiles">
<app-dynamic-html-creation [htmlTemplate] ="htmlTemplate" [templateTagStyles]="template.templateTagStyles" (dynamicButtonRoute) = "dynamicButtonRouteEvent($event)"></app-dynamic-html-creation>
</span>
</div>

<div *ngIf ="template && template.templateType != 'pdf' && template.allowAnonymous == true && template.htmlFiles && template.htmlFiles.length" class="dynamic-html-page-scoll-unauth" >
    <span *ngFor ="let htmlTemplate of template.htmlFiles">
    <app-dynamic-html-creation-unauth [htmlTemplate] ="htmlTemplate" [templateTagStyles]="template.templateTagStyles" (dynamicButtonRoute) = "dynamicButtonRouteEvent($event)"></app-dynamic-html-creation-unauth>
    </span>
</div>

<div *ngIf ="template && template.templateType == 'pdf'">
<app-pdf-preview  [sfdtdata]="template.sfdtFile"></app-pdf-preview>
</div>
