.feedbacks-label {
    color:#318bc7;
}

.feedbacks-label:hover{
    text-decoration: underline;
    cursor: pointer;
}

.feedback-description {
  word-break: break-word;
}

.feedback-list {
  max-height: calc(100vh - 110px);
  overflow: auto;
}

.feedback-icon:hover{
  color:#318bc7 !important;
}

.feedback-header-text{
  font-size: 15px !important;
}

.user-name-link{
  color:rgb(51, 178, 255);
}

.user-name-link:hover{
 text-decoration: underline;
 cursor: pointer;
}
.user-name-link{
  color:rgb(51, 178, 255);
}

.user-name-link:hover{
 text-decoration: underline;
 cursor: pointer;
}