.search-audits {
  position: relative;

  .clear-search {
    top: 0 !important;
  }
}

.audits-list {
  height: calc(100vh - 150px) !important;
}

.audits-category-list {
  height: calc(100vh - 154px);
  overflow: auto !important;
}

.audits-category-question-list {
  height: calc(100vh - 106px);
  overflow: auto !important;
}

.category-questions {
  border-left: 2px solid $grey-color-background;
}

.question-tag {
  // background-color: #3da3b5;
  border-radius: 10px;
  padding: 1px 4px !important;
  margin-right: 3px;
  max-width: 100%;
  color: white;
}

.questions-mat-radio .mat-radio-label-content {
  white-space: normal;
}

.audit-description p {
  display: inline;
}

.inline-conduct-height {
  max-height: 250px;
}

.question-type-table .table td,
.question-type-table .table th {
  padding: 0.15rem !important;
}

.overall-activity .avatar-content {
  font: 10px / 35px Helvetica !important;
}

.status-score {
  font-size: 0.75rem;
}

@media only screen and (max-width: 1440px) and (min-width: 1260px) {
  .audit-custom {
    max-width: 19% !important;
  }

  .namesection-custom {
    max-width: 19% !important;
  }
}

.employee_Unique_img {
  width: 23px;
  height: 23px;
  border-radius: 30px;
  /* margin: 6px 6px 0 0; */
  float: left;
}
