.lookup-search {
    width: 100% !important;
    .mat-form-field-wrapper {
        width: 100% !important;
        padding-bottom: 0 !important;
    }
}
.lookup-search.mat-form-field.mat-focused .mat-form-field-underline {
    display: none !important;
  }

  .search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
    float: left;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 10px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}

.loading-sign {
    box-shadow: inset 0px 0px 10px 10px rgba(170, 170, 170, 0.3);
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.lookup-select-suffix {
	width: 100% !important;
  }
  
//   .lookup-select-suffix .mat-form-field-suffix{
// 	  white-space: nowrap !important;
// 	  flex: none !important;
// 	  position: relative !important;
// 	  right: 50px !important;
// 	  top: -15px;
//   }
  
//   .lookup-select-suffix .mat-select-arrow-wrapper {
// 	top: -15px !important;
// 	position: relative !important;
//   }

//   .mat-select-arrow-wrapper {
// 	top: -15px !important;
// 	position: relative !important;
//   }
//   .lookup-select-select .mat-select-arrow-wrapper {
// 	top: -15px !important;
// 	position: relative !important;
//   }
//   .lookup-clear-suffix {
//     position: relative !important;
//     right: 50px !important;
//     top: -15px !important;
// }
.lookup-select-suffix {
	position: relative;
}
.lookup-clear-suffix {
	position: absolute;
	right: 20px !important;
	font-size: 17px !important;
	line-height: 15px !important;
}