.check-display .mat-checkbox-layout {
  display: block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.permissions {
  overflow: hidden;
  height: 40px;
}

.masonry-card {
  display: block;
  border: 1px solid $masonrycard-border-color;
  padding: 10px;
  margin: 5px;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  background: $white-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.role-heading {
  font-weight: 700;
}

.role-permission {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #696363;
}

.role-title-card {
  padding: 1rem 0.5rem;
}

.role-sidebar-scroll {
  position: relative;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

.role-permission-empty-text {
  background: $grey-color;
  height: 15px;
}

.role-feature-menu-item-name {
  font-weight: 600;
  font-size: 10px;
  padding: 0px 3px;
  @media only screen and (max-width: 1100px) {
    flex-basis: 50%;
  }
}
.roleslist-text-overflow {
  .mat-checkbox-layout {
    max-width: 100%;
  }
  .mat-checkbox-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.tag-card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-top: 2px;
  font-family: "Nunito Sans",sans-serif;
  color: #737880;
}

.listof_roles {
  overflow: auto;

  &.entity-roles-list {
    height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
    overflow-x: hidden !important;
    overflow-y: scroll;
  }

  &.roles-list {
    height: calc(100vh - 210px);
    overflow-y: scroll;
  }

  .mat-list {
    padding: 0 !important;
  }

  .entity-role {
    width: 100%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 1rem;
  }

  .role-card {
    border-bottom: solid 1px $border-left-color;

    &:hover {
      background: $card-hover;
      cursor: pointer;
    }
  }
}

.prl-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ptb-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.role-title {
  @extend .prl-1;
  @extend .ptb-05;
}

.masonry-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .testing {
    width: 360px;
    margin: 0 1rem 1rem 0;
  }
}

.masonry-with-flex {
  max-height: 3000px;
  @extend .masonry-flex;
}

.masonry-with-flex-loading {
  max-height: 1500px;
  @extend .masonry-flex;
}

.masonry-item {
  display: inline-block;
  margin: 0.3rem 0.6rem;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 15px;
}

.masonry {
  margin: 0.5em 0;
  padding: 0;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
  font-size: 0.85em;
  max-width: 94%;

  @media only screen and (min-width: 310px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  @media only screen and (min-width: 700px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  @media only screen and (min-width: 1100px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    max-width: 99%;
  }
}

@media only screen and (max-width: 960px) {
  .listof_roles {
    overflow: auto;

    &.roles-list {
      height: calc(50vh - 90px);
      max-height: calc(50vh - 90px);
      overflow-y: scroll;
    }
  }
}

@media only screen and (max-width: 599px) {
  .listof_roles {
    overflow: auto;

    &.entity-roles-list {
      height: calc(50vh - 95px);
      max-height: calc(50vh - 95px);
      overflow-x: hidden !important;
      overflow-y: scroll;
    }
  }
}