

//new styles

.m-top-0 {
    margin-top: 0px;
}

.m-top-1 {
    margin-top: 1px !important;
}

.m-top-2 {
    margin-top: 2px !important;
}

.m-top-3 {
    margin-top: 3px;
}

.m-top-4 {
    margin-top: 4px;
}

.m-top-5 {
    margin-top: 5px;
}

.m-top-6 {
    margin-top: 6px;
}

.m-top-7 {
    margin-top: 7px;
}

.m-top-8 {
    margin-top: 8px;
}

.m-top-9 {
    margin-top: 9px;
}

.m-top-10 {
    margin-top: 10px !important;
}

.m-top-11 {
    margin-top: 11px;
}

.m-top-12 {
    margin-top: 12px;
}

.m-top-13 {
    margin-top: 13px;
}

.m-top-14 {
    margin-top: 14px;
}

.m-top-15 {
    margin-top: 15px;
}

.m-top-16 {
    margin-top: 16px;
}

.m-bottom-0 {
    margin-bottom: 0px;
}

.m-bottom-1 {
    margin-bottom: 1px;
}

.m-bottom-2 {
    margin-bottom: 2px;
}

.m-bottom-3 {
    margin-bottom: 3px;
}

.m-bottom-4 {
    margin-bottom: 4px;
}

.m-bottom-5 {
    margin-bottom: 5px;
}

.m-bottom-6 {
    margin-bottom: 6px;
}

.m-bottom-7 {
    margin-bottom: 7px;
}

.m-bottom-8 {
    margin-bottom: 8px;
}

.m-bottom-9 {
    margin-bottom: 9px;
}

.m-bottom-10 {
    margin-bottom: 10px;
}

.m-bottom-11 {
    margin-bottom: 11px;
}

.m-bottom-12 {
    margin-bottom: 12px;
}

.m-bottom-13 {
    margin-bottom: 13px;
}

.m-bottom-14 {
    margin-bottom: 14px;
}

.m-bottom-15 {
    margin-bottom: 15px;
}

.m-bottom-16 {
    margin-bottom: 16px;
}

.m-left-0 {
    margin-left: 0px;
}

.m-left-1 {
    margin-left: 1px;
}

.m-left-2 {
    margin-left: 2px;
}

.m-left-3 {
    margin-left: 3px;
}

.m-left-4 {
    margin-left: 4px;
}

.m-left-5 {
    margin-left: 5px;
}

.m-left-6 {
    margin-left: 6px;
}

.m-left-7 {
    margin-left: 7px;
}

.m-left-8 {
    margin-left: 8px;
}

.m-left-9 {
    margin-left: 9px;
}

.m-left-10 {
    margin-left: 10px;
}

.m-left-11 {
    margin-left: 11px;
}

.m-left-12 {
    margin-left: 12px;
}

.m-left-13 {
    margin-left: 13px;
}

.m-left-14 {
    margin-left: 14px;
}

.m-left-15 {
    margin-left: 15px;
}

.m-left-16 {
    margin-left: 16px;
}

.m-right-0 {
    margin-right: 0px;
}

.m-right-1 {
    margin-right: 1px;
}

.m-right-2 {
    margin-right: 2px;
}

.m-right-3 {
    margin-right: 3px;
}

.m-right-4 {
    margin-right: 4px;
}

.m-right-5 {
    margin-right: 5px;
}

.m-right-6 {
    margin-right: 6px;
}

.m-right-7 {
    margin-right: 7px;
}

.m-right-8 {
    margin-right: 8px;
}

.m-right-9 {
    margin-right: 9px;
}

.m-right-10 {
    margin-right: 10px;
}

.m-right-11 {
    margin-right: 11px;
}

.m-right-12 {
    margin-right: 12px;
}

.m-right-13 {
    margin-right: 13px;
}

.m-right-14 {
    margin-right: 14px;
}

.m-right-15 {
    margin-right: 15px;
}

.m-right-16 {
    margin-right: 16px;
}

.m-auto {
    margin: auto;
}

.margin-0 {
    margin: 0px;
}

.margin-1 {
    margin: 1px;
}

.margin-2 {
    margin: 2px;
}

.margin-3 {
    margin: 3px;
}

.margin-4 {
    margin: 4px;
}

.margin-5 {
    margin: 5px;
}

.margin-6 {
    margin: 6px;
}

.margin-7 {
    margin: 7px;
}

.margin-8 {
    margin: 8px;
}

.margin-9 {
    margin: 9px;
}

.margin-10 {
    margin: 10px;
}

.margin-11 {
    margin: 11px;
}

.margin-12 {
    margin: 12px;
}

.margin-13 {
    margin: 13px;
}

.margin-14 {
    margin: 14px;
}

.margin-15 {
    margin: 15px;
}

.margin-16 {
    margin: 16px;
}

.margin-x-1 {
    margin: 0px 1px;
}

.margin-x-2 {
    margin: 0px 2px;
}

.margin-x-3 {
    margin: 0px 3px;
}

.margin-x-4 {
    margin: 0px 4px;
}

.margin-x-5 {
    margin: 0px 5px;
}

.margin-x-6 {
    margin: 0px 6px;
}

.margin-x-7 {
    margin: 0px 7px;
}

.margin-x-8 {
    margin: 0px 8px;
}

.margin-x-9 {
    margin: 0px 9px;
}

.margin-x-10 {
    margin: 0px 10px;
}

.margin-x-11 {
    margin: 0px 11px;
}

.margin-x-12 {
    margin: 0px 12px;
}

.margin-x-13 {
    margin: 0px 13px;
}

.margin-x-14 {
    margin: 0px 14px;
}

.margin-x-15 {
    margin: 0px 15px;
}

.margin-x-16 {
    margin: 0px 16px;
}

.padding-0 {
    padding: 0px;
}

.padding-1 {
    padding: 1px;
}

.padding-2 {
    padding: 2px;
}

.padding-3 {
    padding: 3px;
}

.padding-4 {
    padding: 4px;
}

.padding-5 {
    padding: 5px;
}

.padding-6 {
    padding: 6px;
}

.padding-7 {
    padding: 7px;
}

.padding-8 {
    padding: 8px;
}

.padding-9 {
    padding: 9px;
}

.padding-10 {
    padding: 10px;
}

.padding-11 {
    padding: 11px;
}

.padding-12 {
    padding: 12px;
}

.padding-13 {
    padding: 13px;
}

.padding-14 {
    padding: 14px;
}

.padding-15 {
    padding: 15px;
}

.padding-16 {
    padding: 16px;
}

.padding-x-0 {
    padding: 0px 0px;
}

.padding-x-1 {
    padding-left: 1px;
    padding-right: 1px;
}

.padding-x-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.padding-x-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.padding-x-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.padding-x-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-x-6 {
    padding-left: 6px;
    padding-right: 6px;
}

.padding-x-7 {
    padding-left: 7px;
    padding-right: 7px;
}

.padding-x-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.padding-x-9 {
    padding-left: 9px;
    padding-right: 9px;
}

.padding-x-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-x-11 {
    padding-left: 11px;
    padding-right: 11px;
}

.padding-x-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.padding-x-13 {
    padding-left: 13px;
    padding-right: 13px;
}

.padding-x-14 {
    padding-left: 14px;
    padding-right: 14px;
}

.padding-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-x-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-y-1 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.padding-y-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.padding-y-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.padding-y-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.padding-y-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-y-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.padding-y-7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.padding-y-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-y-9 {
    padding-top: 9px;
    padding-bottom: 9px;
}

.padding-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-y-11 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.padding-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.padding-y-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.padding-y-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.padding-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-top-1 {
    padding-top: 1px;
}

.p-top-2 {
    padding-top: 2px;
}

.p-top-3 {
    padding-top: 3px;
}

.p-top-4 {
    padding-top: 4px;
}

.p-top-5 {
    padding-top: 5px;
}

.p-top-6 {
    padding-top: 6px;
}

.p-top-7 {
    padding-top: 7px;
}

.p-top-8 {
    padding-top: 8px;
}

.p-top-9 {
    padding-top: 9px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-top-11 {
    padding-top: 11px;
}

.p-top-12 {
    padding-top: 12px;
}

.p-top-13 {
    padding-top: 13px;
}

.p-top-14 {
    padding-top: 14px;
}

.p-top-15 {
    padding-top: 15px;
}

.p-top-16 {
    padding-top: 16px;
}

.f-grow-1 {
    flex-grow: 1;
}

.f-grow-2 {
    flex-grow: 2;
}

.f-grow-3 {
    flex-grow: 3;
}

.f-grow-4 {
    flex-grow: 4;
}

.f-grow-5 {
    flex-grow: 5;
}
.contact-page-numbers:hover{
    color:white !important;
    background-color: #709ae9 !important; 
  }
  
  .contact-page-options:hover{
    color:white !important;
    background-color: #709ae9 !important; 
  }
  
  .selected-contacts-page-number{
  color:white !important;
  background-color: #149A9A !important;
  }
  
  .full-width {
    width: 100% !important;
  }
  .selected-contacts-page-option{
    color:white !important;
    background-color: #149A9A !important;
  }



.contacts-container{
    height: calc(100vh - 96px);
}

.contacts-container,
div,
button,
input,
p,
h4,
th,
td,
label {
//    font-family: 'Poppins';
}

.ff{
 //   font-family: 'Poppins';
}

.drop-down-button{
    background: none;
    border: none;
    text-align: left;
}

.d-flex {
    display: flex;
}

.d-inline {
    display: inline;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    &::-webkit-scrollbar-track {
        visibility: hidden;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            visibility: visible;
        }

        &::-webkit-scrollbar-track {
            visibility: visible;
        }
    }
}

.overflow-x-auto {
    overflow-x: auto;
    overflow-y: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;

    &::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    &::-webkit-scrollbar-track {
        visibility: hidden;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            visibility: visible;
        }

        &::-webkit-scrollbar-track {
            visibility: visible;
        }
    }
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-left {
    text-align: left;
}

.f-10 {
    font-size: 10px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-14 {
    font-size: 14px !important ;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed{
    cursor: not-allowed;
}

.drop-down {
    background: white;
    box-shadow: 0px 0px 6px #DAE7F0;
    border: none;
    border-radius: 3.5px;
}

.custom-dropdown {
    border: none;
    background: none;
    padding: 0;
}

.box-shadow-1 {
    border: 1px solid #E9ECEC;
    border-radius: 3.5px;
    box-shadow: 0px 3px 6px #DAE7F0;
}

.button-1 {
    background: none;
    background-color: transparent;
    border: none;
}

.button-2 {
    background: none;
    background-color: transparent;
    border: 1px solid #E9ECEC;
    border-radius: 3.5px;
//    font-family: 'Poppins';
    color: #212529;
}

.button-3 {
    background: none;
    background-color: #149A9A;
    border: 1px solid #E9ECEC;
    border-radius: 3.5px;
    color: #FFFFFF;
 //   font-family: 'Poppins';
}

.button-4 {
    background-color: #4CB2B240;
    border-radius: 4px;
}

.button-5{
    border: none;
    background-color: #E9ECEC;
}

.button-6{
    background: #4CB2B2B3;
    color: #FFFFFF;
    border-radius: .25rem;
    border: none;
}

.button-6:hover{
   background: #4CB2B2;
}

.font-color-1 {
    color: #149A9A;
}

.font-color-2 {
    color: #495757;
}

.font-color-3 {
    color: #6C757D;
}

.font-color-4 {
    color: #495057;
}

.font-color-5 {
    color: #4CB2B2;
}

.font-color-6 {
    color: #878A99;
}

.font-color-7 {
    color: #622515;
}

.font-color-8 {
    color: #363636;
}

.font-color-9 {
    color: #707070;
}

.font-color-10 {
    color: #149A9ACC;
}

.font-color-11 {
    color: #000000;
}

.font-color-12 {
    color: #666666;
}

.font-color-13{
    color: #212529;
}

.font-color-14{
    color: #FFFFFF;
}

.font-color-15{
    color: #149A9A;
}

.font-color-16{
    color: #99acc2;
}

.font-color-17{
    color: #878A997F;
}

.font-color-18{
    color: #4CB2B2CC;
}
.font-color-19{
    color:#ff0000;
}

.font-w600 {
    font-weight: 600;
}

.hover-color-1:hover {
    color: #4cb2b2;
}

.hover-2:hover{
    border: 1px solid #149A9A80;
}

.hover-3:hover{
    color:  #149A9A;
    & path{
        fill: #149A9A;
    }
}

.hover-4:hover{
    background-color: #E5F5F8;
    border-radius: 0.2188rem;
}

.hover-5:hover{
    background-color: #dfe3eb;
    border-radius: 0.2188rem;
}

.hover-6:hover{
    border: 1px solid #149A9A80;
    background-color: #4CB2B226;
}

.hover-7 span{
    border-bottom: 1px solid transparent;
}

.hover-7:hover > span{
    border-bottom: 1px solid #149A9ACC;
}

.hover-8:hover{
    color: #495757;
}

.hover-9:hover{
    background-color: #DBF0F080;
}

.hover-9{
    border: 1px solid transparent;
}

.hover-10:hover{
    text-decoration: underline;
}

.hover-11:hover{
    background-color: #DAE7F080;
}

.hover-12:hover{
    background-color: #FF9B9Bc0;
}

.overflow-elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.overflow-elipsis-wrap{
    text-overflow: ellipsis;
    overflow: hidden;
}

.contacts-tab {
    background-color: #F4F8F9;
    border: 1px solid #E9ECEC;
    color: #6C757D;
    min-width: 150px;
    max-width: 25rem;
}

.contacts-tab-container{
    border-bottom: 1px solid #DAE7F0;
}

.contacts-tab-container > div::-webkit-scrollbar{
    display: none !important;
}

.contacts-tab.active-tab {
    color: #495757;
    background-color: #FFF;
    border: 1px solid #DAE7F0;
    border-bottom: 2px solid white;
    transform: translateY(1px);
}

.tab-group {
    transform: translateY(1px);
}


.contacts-filter {
    background-color: transparent;
    border-radius: 3.5px;
    border: none;
    color: inherit;
    &:hover{
        background-color: #DBF0F0;
    }
}

.filter{
    background-color: #DBF0F0;
}


.dropdown-active-bg {
    background-color: #DBF0F0;
}

.contacts-search input {
    border: none;
    line-height: 2;
    width: 220px;
//    font-family: 'Poppins';
}


input:focus-visible {
    outline: none;
}

.search-container {
    border: 1px solid #E9ECEC;
    border-radius: 3.5px;
}

.search-container-focus{
    border:1px solid rgba(0,208,228,.5);
    box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4;
}

.drop-down-input input {
    border: none;
    line-height: 2;
//    font-family: 'Poppins';
    width: 100%;
}

.custom-icon-margin {
    margin: -4px;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.w-100p{
    width: 100px;
}

.w-50 {
    width: 50%;
}

.w-74{
    width: 74%;
}

.w-0{
    width: 0px;
}

.w-20p{
    width: 20px;
}

.w-16p{
    width: 16px;
}

.w-200p {
    width: 200px;
}

.w-250p{
    width: 217.2px;
    margin-left: 0.9375rem !important;
}

.w-180p {
    width: 180px;
}

.w-300p {
    width: 300px;
}

.w-350p {
    width: 350px;
}

.h-0 {
    height: 0px;
}

.h-100p{
    height: 100px;
}

.h-125p{
    height: 125px;
}

.h-150p{
    height: 150px;
}

.h-200p {
    height: 200px;
}

.h-250p{
    height: 250px;
}

.h-100vh{
    height: 100vh;
}


/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 21px;
    white-space: nowrap;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    left: 2px;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid #878A9980;
    box-shadow: 0px 1px 1px #00000029;
    border-radius: 2px;
}


/* When the checkbox is checked, add  background */
.checkbox-container input:checked~.checkmark {
    background-color: #4CB2B2;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3.7px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.partial-all .checkmark:after{
    transform: rotate(90deg);
    border-width: 0 3px 0px 0;
    display: block;
}

.partial-all .checkmark {
    background-color: #4CB2B2;
    border: none;
}

.create-contact-popup {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: clamp(500px, 30vw, 600px);
    background-color: white;
    border: 1px solid #DAE7F0;
    box-shadow: 0px 2px 6px #DAE7F0;
    border-radius: 10px;
}

.create-contact-form {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
}

.create-contact-form .dropdown-menu{
    width: calc(100% - 58px);
}

.create-contact-form p {
    margin-bottom: 0;
    font-size: 14px;
    color: #707070;
}

.create-contact-form > div > input, .create-contact-form button {
    width: 100%;
    border: 0.5px solid #93ABD3B2;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #93ABD305;
}

.border-style-1 {
    border: 1px solid #E9ECEC;
    border-radius: 3.5px;
}

.border-style-2 {
    border: 1px solid #E9ECEC;
}

.border-style-3{
    border: 1px solid #DAE7F0;
}

.border-4cb2b2{
    border: 1px solid #4cb2b2;
}

.bb-DAE7F0 {
    border-bottom: 1px solid #DAE7F0;
}

.bb-E9ECEC{
    border-bottom: 1px solid #E9ECEC !important;
}

.bt-E9ECEC{
    border-top: 1px solid #E9ECEC !important;
}

.border-right-style {
    border-right: 1px solid #E9ECEC;
}

/* .table-checkbox .checkmark {
    border-radius: 50%;
    border: 1px solid #6C757D;
    height: 14px;
    width: 14px;
    top: 4px;
}

.table-checkbox .checkmark::after {
    left: 4px;
    top: 1px;
} */

.profile-dialog {
    position: fixed;
    height:100vh;
    right: 0;
    top: 0;
    background: white;
    width: 25vw;
    background-color: white;
    border: 1px solid #E4E8E8BF;
    box-shadow: 0px 3px 6px #DAE7F0;
    border-radius: 10px 0 0 10px;
}

.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 2px 3px #00000029;
}

.profile-image div {
    font-size: 48px;
}

.profile-details {
    height: calc(100vh - 150px);
}

.profile-input {
    border: none;
    border-bottom: 1px solid transparent;
}

.tablecell-input {
    border: none;
    background: none;
    caret-color: #149A9A;
}

.tablecell-input:focus{
    box-shadow: rgb(124, 152, 182) 0px 0px 0.4em;
}

.table-container {
    border: 1px solid #DAE7F0;
    border-radius: 0 0 3px 3px;
    border-top: none;
}

.table-container table td {
    border: 1px solid #E9ECEC;
}

.table-container table tr:first-child td {
    border-top: 0;
}

.table-container table tr td:first-child {
    border-left: 0;
}

.table-container table tr:last-child td {
    border-bottom: 0;
}

.table-container table tr td:last-child {
    border-right: 0;
}

// .table-container .contacts-table:first-child th:first-child {
//     padding-left: 26px;
// }

.table-container .contacts-table:first-child {
    position: sticky;
    top: 0;
    transform: translateY(-1px);
}

.contacts-table table {
    border-collapse: collapse;
}

.contacts-table table th:not(:last-child),
.contacts-table table td:not(:last-child) {
    min-width: 250px;
    max-width: 250px;
}

.contacts-table table th:first-child,
.contacts-table table td:first-child,
.contacts-table table th:last-child,
.contacts-table table td:last-child {
    min-width: 218px;
    max-width: 218px;
}

// .contacts-table table th:first-child,
// .contacts-table table td:first-child {
//     min-width: 50px;
//     max-width: 218px;
// }

.contacts-table table td,
.contacts-table table th {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
}

.contacts-table table th {
    background-color: #F4F8F9;
    border: 1px solid transparent;
}

// .contacts-table table td {
//     cursor: pointer;
// }

.table-container .contacts-table:last-child {
    height: calc(100vh - 444px);
}

.table-container .contacts-table:last-child .preview-btn {
    display: none;
}

.table-container .contacts-table:last-child tr:hover {
    background-color: #DAE7F0;
}

.table-container .contacts-table:last-child tr:hover .customer-name {
    width: 50%;
}

.table-container .contacts-table:last-child tr:hover .preview-btn {
    display: block;
    width: 38%;
}

.table-container .contacts-table:last-child tr:hover .preview-btn span {
    background-color: #F4F8F9;
    border-radius: 3px;
    border: 1px solid #E9ECEC;
}

.table-container .contacts-table:last-child tr:hover .preview-btn span:hover {
    background-color: #A5AEBA26;
    border: none;
}

button[aria-expanded="true"] svg{
    transform: rotate(180deg);
    transition: transform 1s;
}

button[aria-expanded="false"] svg{
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}

.table-cell{
    width: 100%;
    border: 1px solid transparent;
}

.table-cell:hover{
    border: 1px solid #149A9A80;
}

.table-cell[aria-expanded="true"]{
    background-color: #149A9A1A;
    box-shadow: rgb(124, 152, 182) 0px 0px 0.4em;
}

.addview-standard{
    border-right: 1px solid #E9ECEC;
}

.dropdown-item:active{
    background-color: #f8f9fa;
    color: unset;
}

.dropdown-item:hover{
    color: #149A9A;
    background: #DBF0F0;
}

.table-container .contacts-table:first-child th:hover{
    background-color: #DAE7F0;
}

.table-container .contacts-table:first-child th:hover .current-dir{
    color: #878A99;
}

.preview-dropdown .drop-down-button{
    border-bottom: 1px solid transparent;
}

.preview-dropdown .drop-down-button svg{
    display: none;
}

.preview-dropdown:hover .drop-down-button, .preview-dropdown .drop-down-button[aria-expanded="true"]{
    border-bottom: 1px solid #149A9A80;
}

.preview-dropdown:hover .drop-down-button svg, .preview-dropdown .drop-down-button[aria-expanded="true"] svg{
    display: block;
}

.arrow-style-1[data-popper-placement="bottom-start"]::before,
.arrow-style-1[data-popper-placement="bottom-end"]::before{
    content: "";
    border-top: 0px;
    position: absolute;
    top: -9px;
    height: 0px;
    width: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #DAE7F0;
}

.arrow-style-1[data-popper-placement="bottom-start"]::before{
    left: 50px;
}

.arrow-style-1[data-popper-placement="bottom-end"]::before{
    right: 50px;
}

.arrow-style-1{
    margin-top: 10px !important;
}

.arrow-style-2[data-popper-placement="bottom-start"]::before{
    content: "";
    border-top: 0px;
    position: absolute;
    left: 140px;
    top: -10px;
    height: 0px;
    width: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #DAE7F0;
}

.arrow-style-2[data-popper-placement="bottom-start"]{
    margin-top: 10px !important;
    margin-left: -3.125rem !important;
}

.arrow-style-2[data-popper-placement="bottom"]::before{
    content: "";
    border-top: 0px;
    position: absolute;
    left: calc(50% - .5rem);
    top: -9px;
    height: 0px;
    width: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #DAE7F0;
}

.arrow-style-2[data-popper-placement="bottom"]{
    margin-top: 10px !important;    
}

.arrow-style-3{
    margin-top: 1rem !important;
}

.arrow-style-3.edit-name-js{
    margin-right: -1.25rem !important;
}

.arrow-style-3.contact-name-js{
    margin-left: -16.125rem !important;
}

.arrow-style-3::before{
    content: '';
    background-color: #FFFFFF;
    transform: rotate(45deg);
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #e9ecec;
    border-left: 1px solid #e9ecec;
    position: absolute;
    top: -9px;
    right: 24px;
    box-shadow: -2px -2px 3px 0px #DAE7F0;
}

.arrow-style-4[data-popper-placement="bottom-start"]{
    margin-top: 1rem !important;
    padding: 1rem 0.5rem 0.5rem;
    border: 1px solid #4CB2B2CC;
}

.arrow-style-4[data-popper-placement="bottom-start"]::before{
    content: '';
    background-color: #FFFFFF;
    transform: rotate(45deg);
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #4CB2B2CC;
    border-left: 1px solid #4CB2B2CC;
    position: absolute;
    top: -9px;
    left: 1.5rem;
    box-shadow: -2px -2px 3px 0px #DAE7F0;
}

.arrow-style-4[data-popper-placement="top-start"]{
    margin-bottom: 1rem !important;
    padding: 1rem 0;
    border: 1px solid #4CB2B2CC;
}

.arrow-style-4[data-popper-placement="top-start"]::before{
    content: '';
    background-color: #FFFFFF;
    transform: rotate(-135deg);
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #4CB2B2CC;
    border-left: 1px solid #4CB2B2CC;
    position: absolute;
    bottom: -9px;
    left: 1rem;
    box-shadow: -2px -2px 3px 0px #DAE7F0;
}

.arrow-style-4[data-popper-placement="bottom-end"]{
    margin-top: 1rem !important;
    padding: 1rem 0.5rem 0.5rem;
    border: 1px solid #4CB2B2CC;
}

.arrow-style-4[data-popper-placement="bottom-end"]::before{
    content: '';
    background-color: #FFFFFF;
    transform: rotate(45deg);
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #4CB2B2CC;
    border-left: 1px solid #4CB2B2CC;
    position: absolute;
    top: -9px;
    right: 1.5rem;
    box-shadow: -2px -2px 3px 0px #DAE7F0;
}

.arrow-style-4[data-popper-placement="bottom"]{
    margin-top: 1rem !important;
    padding: 1rem 0.5rem 0.5rem;
    border: 1px solid #4CB2B2CC;
}

.arrow-style-4[data-popper-placement="bottom"]::before{
    content: '';
    background-color: #FFFFFF;
    transform: rotate(45deg);
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #4CB2B2CC;
    border-left: 1px solid #4CB2B2CC;
    position: absolute;
    top: -9px;
    right: calc(50% - .5rem);
    box-shadow: -2px -2px 3px 0px #DAE7F0;
}

.bg-1{
    background: #DAE7F0;
}

.bg-2{
    background-color: #149A9ACC;
}

.bg-3{
    background-color: #F4F8F980;
}

.bg-4{
    background-color: #F27575;
}

.bg-5{
    background-color: #DBF0F0 !important;
}

.bg-6{
    background-color: #4CB2B2;
}

.bg-7 {
    background-color: #FF9B9B;
}

.bg-8{
    background-image: repeating-linear-gradient(135deg,#f04b51,#f04b51 24px,#f2545b 0,#f2545b 48px);
}

.bg-F2D5CD{
    background-color: #F2D5CD;
}


.contacts-table-tools{
    border: 1px solid #DAE7F0;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}

.preview-dropdown .dropdown-menu{
    width: calc(25vw - 61px);
}

.advanced-filters{
    height: 100vh;
    border: 1px solid #E9ECEC;
    box-shadow: 0px 3px 6px #DAE7F0;
    border-radius: 2px 0 0 2px;
    position: fixed;
    width: 25vw;
    right: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
    z-index: 2;
}

.adv-filters-container{
    height: calc(100vh - 225px);
}

.advanced-filter{
    font-size: 0.875rem;
    padding: 6px 8px;
    border-radius: 0.3125rem;
    &:hover{
        background-color: #DBF0F0;
    }
}

.advf-close svg:last-child{
    display: none;
    margin: -5px -10px -15px -5px;
}

.advf-close:hover svg:first-child{
    display: none;
}

.advf-close:hover svg:last-child{
    display: block;
}

.create-view{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: 1px solid #E9ECEC;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 3;
    width: 420px;
}

.create-view input[type = 'text']{
    border: 1px solid #93ABD3B2;
    border-radius: 3px;
}

button:focus-visible{
    border: none;
}

.customer-image{
    opacity: 30%;
}

.input-style-1{
    background-color: #93ABD305;
    border: 1px solid #DAE7F0;
    border-radius: 3px;
}

.input-style-2{
    background: none;
    border: none;
}

.input-style-3{
    background: #93ABD305;
    border: 1px solid #93ABD3B2;
    line-height: 1.5;
    &:hover, &:focus{
        border: 1px solid #4cb2b2;
        box-shadow: 0 0 4px 1px rgba(0, 208, 228, 0.3), 0 0 0 1px #00d0e4;
    }
}

.input-style-4{
    border: 1px solid transparent;
    &:focus{
        box-shadow: 0 0 4px 1px rgba(0, 208, 228, 0.3), 0 0 0 1px #00d0e4;
    }
    &:hover, &:focus{
        color: #212529;
        background-color: #DBF0F0;
        border: 1px solid #4cb2b280;
    }
}

.button-3:hover{
    background-color: #4CB2B2;
}

.anchor-tag{
    text-decoration: none;
}

.anchor-tag:hover{
    color: #149A9A;
}

.rotate{
    transition: transform 500ms ease-in-out;
}

.not-expanded{
    transform: rotate(-90deg);
}

.expanded{
    transform: rotate(0deg);
}

.contact-info{
    height: calc(100vh - 66px);
    border: 1px solid #E4E8E8BF;
    box-shadow: 0px 3px 6px #DAE7F0;
}

.contact-details-action-js{
    margin-left: -3.875rem !important;
}

.name-flag{
    position: sticky;
    top: -1rem;
    border-bottom: 1px solid #e9ecec;
    overflow: hidden;
    width: calc(100% + 2rem);
    transform: translateX(-1rem);
}

.mini-avatar{
    background-color: #F2D5CD;
    box-shadow: 0px 0px 6px #DAE7F0;
    height: 3.125rem;
    width: 3.125rem;
}

.animation{
    animation: hide-show 500ms linear 0ms 1 normal none;
}

@keyframes hide-show {
    0%{
        height: 0px;
        opacity: 0;
        padding: 0 1rem;
    }

    100%{
        height: 85px;
        opacity: 1;
        padding: 1rem;
    }
}

.animation-2{
    animation: ngif 500ms linear 0ms 1 normal none;
    overflow: hidden;
    display: grid;
}

@keyframes ngif {
    0%{
        grid-template-rows: 0;
    }

    100%{
        grid-template-rows: 1;
    }
}

hr{
    color: #e9ecec;
    opacity: 1;
}

.new-search{
    position: relative;
    left: -2rem;
    pointer-events: none;
}

.activty-serach{
    border: 1px solid #E9ECEC;
    border-radius: .25rem;
    width: 12.5rem;
    transition: all 500ms linear;
}

.activty-serach:focus{
    width: 50%;
    box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4;
    border-color: #00d0e480;
}

.activty-serach:hover{
    box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4;
    border-color: #00d0e480;
}

.profile-tabs{
    border-bottom: 1px solid #e9ecec;
}

.profile-tabs div{
    display: flex;
    flex-direction: column;
}

.active-bar{
    height: 4px;
    width: calc(100% + 2rem);
    border-radius: .25rem;
    transform: translate(-1rem, 10px);
    transition: all 500ms linear;
}

.profile-tabs .active .active-bar{
    background-color: #4cb2b2;
}

.profile-tabs .active{
    color: #4cb2b2;
}

.filter-activity-dropdown{
    height: calc(100vh - 259px);
    overflow-y: auto;
}

.fade-notes{
    background-image: linear-gradient(rgba(255,255,255,0),rgb(255,255,255));
    background-size: 100% 32px;
    height: 32px;
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.profile-middle-container{
    height: calc(100vh - 66px);
}

.task-desc{
    background: none;
}

.task-desc:focus{
    box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4;
    border-color: #00d0e480;
}

.min-w-unset{
    min-width: unset;
}

.priority-1{
    background: #4CC96DCC;
}

.priority-2{
    background: #D2BB45B2;
}

.priority-3{
    background: #F27575;
}

.pin-rotate{
    transform: rotate(45deg);
}

.email-avatar{
    width: 32px;
    opacity: 30%;
}

.email-content{
    color: #393F45;
}

.email-content a{
    text-decoration: none;
    color: #4cb2b2;
}

.email-content a:hover{
    text-decoration: underline;
}

.dropdown-item{
    border-radius: .25rem;
    cursor: pointer;
}

.feature-pop {
    position: fixed;
    right: 25%;
    bottom: 3rem;
    width: 650px;
    border-radius: 5px 5px 0 0;
}

.close-icon:hover{
    background-color: #FFFFFF1A;
}


.create-note + .tox{
    border: none !important;
}

.create-note-editor{
    .tox-tinymce{
        border: none !important;
    }
}

.date-picker{
    .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{
        display: none;
    }
    .mdc-text-field{
        padding: 0px;
        background-color: transparent !important;
    }
    .mat-mdc-form-field-focus-overlay{
        background-color: transparent !important;
    }
    .mat-mdc-form-field-infix{
        min-height: unset !important;
        padding: 0px !important;
        width: 110px !important;
    }
    .mdc-line-ripple{
        display: none;
    }
}

.theme-checkbox{
    .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
    .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
    .mdc-checkbox:not(:disabled):active .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background
    {
        background-color: #4cb2b2 !important;
        border-color: #4cb2b2 !important;
    }
    .mdc-checkbox:active .mdc-checkbox__native-control:checked~.mdc-checkbox__ripple,
    .mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple{
        background-color: #4cb2b226;
    }
    .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
        border-color: #878A9980 !important;
    }
    .mdc-checkbox:hover .mdc-checkbox__ripple{
        background-color: transparent !important;
    }
    .mdc-checkbox .mdc-checkbox__native-control:focus~.mdc-checkbox__ripple{
        background-color: #4cb2b226 !important;
    }
}

.email-autocomplete {
    .mat-mdc-form-field-infix {
        padding: 0 !important;
        display: flex !important;
        align-items: center;
        min-height: 40px !important;
        flex-wrap: wrap;
    }

    .mat-mdc-text-field-wrapper {
        padding: 0 !important;
        background-color: transparent !important;
    }

    .mat-mdc-form-field-focus-overlay {
        background-color: transparent !important;
    }

    .mat-mdc-form-field-subscript-wrapper,
    .mdc-line-ripple {
        display: none;
    }

    mat-chip-row.mat-mdc-chip {
        background-color: white;
        border: 1px solid #E9ECEC;
        border-radius: 3.5px;
    }
}

.custom-radio{
    .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before{
        background-color: #FFFFFF !important;
    }

    .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle{
        border-color: #4CB2B2 !important;
    }

    .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle{
        border-color: #4CB2B2 !important;
    }
    .mat-mdc-radio-button .mdc-radio .mdc-radio__background::before{
        background-color: transparent !important;
    }
    .mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element{
        background-color: #4CB2B2 !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
   appearance: textfield;
  -moz-appearance: textfield;
}

.active-button{
    border: #4CB2B2;
    background-color: #4cb2b226;
    color: #149A9A;
}

.fade-filter{
    background-image: linear-gradient(to right,rgba(255,255,255,0),rgb(255,255,255));
    width: 50%;
    opacity: 1;
    background-size: 100% 100%;
    text-align: end;
    visibility: hidden;
}

.filter-container:hover{
    background-color: #4cb2b210;
    .fade-filter{
        visibility: visible;
    }
}

.filter-and::before{
    content: '';
    position: absolute;
    height: 8px;
    width: 1px;
    background-color: #E9ECEC;
    top: 0;
}

.filter-and::after{
    content: '';
    position: absolute;
    height: 8px;
    width: 1px;
    background-color: #E9ECEC;
    bottom: 0;
}

.tag-input-styles{
    .ng2-tag-input.ng2-tag-input--focused{
        border: 1px solid #4cb2b2;
        border-bottom: 1px solid #4cb2b2 !important;
        box-shadow: 0 0 4px 1px rgba(0, 208, 228, 0.3), 0 0 0 1px #00d0e4;
    }
    .ng2-tag-input{
        background: #93ABD305;
        border: 1px solid #93ABD3B2;
        border-bottom: 1px solid #93ABD3B2 !important;
        border-radius: .25rem;
        padding: .25rem 0.25rem !important;
    }
    .ng2-tags-container{
        align-items: center;
    }
    tag{
        background-color: transparent !important;
        border-radius: .25rem !important;
        line-height: unset !important;
        height: unset !important;
        border: 1px solid #4cb2b2;
        & > div{
            display: flex;
        }
        delete-icon{
            display: flex;
            span{
                display: flex;
                svg{
                    height: unset !important;
                }
            }
            &:hover{
                transform: scale(1) !important;
            }
        }
        .tag__text.inline{
            line-height: 1;
        }
        .tag-wrapper{
            gap: .5rem;
        }
        padding: 0.4rem 0.45rem !important;
    }
}

.grid-3columns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.make-call-pop{
    position: fixed;
    right: 25%;
    bottom: 3rem;
    min-width: 25vw;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.header{
    background-image: linear-gradient(to right,#149a9a,#4cb2b2);
}

.show-on-hover{
    .material-icons-outlined{
        visibility: hidden;
    }
}

.show-on-hover:hover{
    .material-icons-outlined{
        visibility: visible;
    }
}

.button-extender{
    border-radius: 50%;
    position: absolute;
    top: 50px;
    .material-icons-round:first-child{
        margin-right: -9px;
    }
    .material-icons-round:last-child{
        margin-left: -9px;
    }
}

.transition{
    transition: all 0.5s cubic-bezier(0.16, 0.74, 0.16, 0.74);;
}

.rotate-180{
    transform: rotate(-180deg);
}

.right-16 {
    right: 1rem;
}

.note-icon{
    p{
        margin: 0;
    }
    .material-icons-outlined{
        visibility: hidden;  
    }
    &:hover{
        .material-icons-outlined{
            visibility: visible;  
        }
    }
} 

.pin-record{
    top: -14px;
    right: -14px;
    position: absolute;
    padding: 10px 8px 6px 8px;
}

.history-table{
    th,td{
        padding: 0.8rem 1.5rem;
    }

    tr{
        border-bottom: 1px solid #e9e9ec;
    }


    table {
        border-collapse: collapse;
        width: 100%;
        border-top: 1px solid #e9e9ec;
        border-left: 1px solid #e9e9ec;
        border-right: 1px solid #e9e9ec;
    }

    th{
        background-color: #F4F8F9;
        &:hover{
            background-color: #DAE7F0;
            .sort-next{
                color: #149A9A;
            }

            .sort-alternative{
                color: #878A99;
            }
        }
    }

    tr.row-data:hover {
        background-color: #DAE7F0;
    }

    .active-sort{
        color: #149A9A;
    }

    
}

.comment-options{
    position: absolute;
    top: -5px;
    right: 20px;
}


.table-dialog{
    .mat-dialog-container {
        padding:0px !important;
    }
    .mat-mdc-dialog-surface.mdc-dialog__surface{
        overflow: visible;
    }

    .table-dialog-drop{
        width: calc(100% - 64px);
    }
}

.skeleton-loaders{
    border-radius: 5px;
    background-image: linear-gradient(to right,#dedfe1 0%,#f2f3f5 20%,#dedfe1 40%,#dedfe1 100%) !important;
    background-size:200% 100% !important;
    animation:animate 2s infinite ;
}

@keyframes animate{
    100% {
      background-position: -100% 0;
    }
}

.disable-delete-button {
  cursor: not-allowed;  /* Set cursor to not-allowed */
  background-color: #CCCCCC;  /* Set background color to a light gray or any color you prefer */
  color: #999999;  /* Set text color to a slightly darker shade for better visibility */
  /* You can add additional styles as needed */
}

.contact-profile-image {
    height: 28px;
    max-width: 28px;
    min-width: 28px;
    text-align: center;
    padding:6px;
    border-radius: 50%;
    background-color: rgb(124, 152, 182);
    box-shadow: 0px 2px 3px #00000029;
}

.multiselect-dropdown{
    .dropdown-multiselect__caret::before{
        border-color: #878A99 transparent !important;
        border-width: 6px 6px 0 6px !important;
    }
    .dropdown-multiselect__caret{
        right: 10px !important;
    }
    .dropdown-btn{
        border: 1px solid #93abd3b2 !important;
        background-color: #93abd305;
    }
}

.preview-form{
    width: clamp(600px , 40vw , 700px);
}

.custom-dialog {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 5px;
  
    .custom-close {
      position: fixed;
      width: 30px;
      background-color: #eaeaea;
      height: 30px;
      border-radius: 20px;
      -webkit-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      cursor: pointer;
    }
  
    .project-dialog {
      position: absolute;
      top: 14px;
      left: 7px;
      -webkit-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      color: #757575;
      font: small-caption;
    }
  }

.theme-color-button {
    background-color: #4cb2b2 !important;
}

//subscription details
.subscription-details-container{
    .company-subscription-details{
    border-radius: 5px!important;
    box-shadow: 0 0!important;
    border: 0.5px solid #e5e2e2;
    margin-top: 0!important;
    margin-right: 0!important;
    }
}

.comp-det-head{
    font-size: 14px;
    color: #000;
}
.comp-det-text{
    font-size: 14px;
    color: #707070;
}
.contacts-table table tr:hover{
    color:black;
}
.subscriptions-table{
    height:auto !important;
}
.vertical-line {
    border-left: 1px solid #000; /* Set the width and color of the line */
    height: 100%; /* Set the height of the line (adjust as needed) */
}
.invoice-details-container{
    border-radius: 5px!important;
    box-shadow: 0 0!important;
    border: 0.5px solid #e5e2e2; 
}
.disable-cursor{
    cursor: not-allowed; 
}
.invoice-preview-container{
    padding-left:12px;
    padding-right:12px;
}

.relative-position {
    position: relative;
}

.input-group-append {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.input-group-text {
    background-color: transparent; // To make it look like it's part of the input
    border: none; // To remove border
}

.info-icon{
    .mat-icon {
        height: 16px !important;
        width: 16px !important;
        margin:2px 4px 0px 4px !important;
    }
    .material-icons {
        font-size: 16px !important;
    }
}
.url-word-wrap{
    word-wrap: break-word;
}
.rounded-circle {
    border-radius: 50%;
}
.dynamic-html-page-scoll-unauth{
    height: calc(100vh);
    overflow-y: auto; 
}
.font-size-24{
    font-size: 24px;
}