@import "scss/_themes";

/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-documenteditor/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
@import '~ngx-toastr/toastr.css';
@import "~@progress/kendo-theme-material/scss/tabstrip";
@import "~@progress/kendo-theme-material/scss/grid";
@import "~@progress/kendo-theme-material/scss/notification";
@import "~@progress/kendo-theme-material/scss/tabstrip";
@import "~@progress/kendo-theme-material/scss/upload";
@import "~@progress/kendo-theme-material/scss/dropdownlist";
@import "~@progress/kendo-theme-material/scss/multiselect";

kendo-grid-group-panel.k-grouping-header.k-grouping-header-flex {
    display: none;
  }

  

#style-1,
.no-drag,
.userstory-dialog-scroll .mat-dialog-container {
  overflow: auto;
}

#style-1,
.mat-select-panel,
.company-registration-container .mat-dialog-container,
.testrun-status-preview-scroll,
.no-drag,
.k-grid-aria-root,
.payrollrun-dialog,
.employeeleavedetail-dialog,
.userstory-dialog-scroll .mat-dialog-container {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #f9f9f9;
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(222, 217, 217, 0.3);
    background-color: #c1bfbf;
  }
}

.pdf-records-data-height .k-grid-content {
    height: calc(100vh - 230px);
  } 


#documenteditor_title_contentEditor {
    height: 26px;
    max-width: 75%;
    width: auto;
    overflow: hidden;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    margin: 5px;
}

.single-line {
    cursor: text !important;
    outline: none;
}

#default_title_bar {
    height: 36px;
    line-height: 26px;
    width: 100%;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 10px;
    font-family: inherit;
    box-sizing: border-box;
}


[class^="e-de-icon-"],
[class*=" e-de-icon-"] {
    font-family: 'Example icons' !important;
}

.e-de-icon-Print:before {
    content: "\e723";
}

.e-de-icon-Download:before {
    content: "\e728";
}
#rteSection {
    height: 500px;
}

.pdf-designer-layout-container 
{
    
.designer-action-icons{
    margin-left:10px;
    font-size:20px;
    color:#3da8b5;
    cursor:pointer;
}
// .k-grid-header .k-header {
//     font-weight: 600;
//   }
  
//   .k-grid .k-grid-aria-root {
//     overflow: auto !important;
//     border-radius: 5px;
//   }
  
//   .mat-menu-content mat-divider.mat-divider {
//     margin: 0 !important;
//   }
  
//   .k-grid .k-grid-aria-root {
//     display: block !important;
//   }
  .k-grid-header .k-header {
    height: 42px !important;
  }
  .k-header .k-link{
    text-align: center !important;
 }
 .egret-bright-blue .k-grid-content tr td
 {
  text-align:center !important;
 }
 .k-grid .k-cell-inner{
  justify-content: center !important;
 }
 .k-grid tbody tr:hover {
  cursor: default !important;
}
  
}
.pdf-designer-button {
  border-radius: 5px !important;
  display: block;
  width: 200px;
  padding: 2px 0px !important;
}
.pdf-save-designer-button {
  border-radius: 5px !important;
  display: block;
  width: 100px;
  padding: 8px 0px;
}
.bottom-margin-negative {
margin-bottom: -4px !important;
}
// .activity-material {
// color: white !important;
// }
// .activity-material {
// font-size: 21px !important;
// }
.hover-button:hover {
background-color: #4cb2b2 !important;
color: #FFFFFF !important;
border: 2px solid #4cb2b2 !important;

.mat-progress-spinner circle,
.egret-btrak .mat-spinner circle {
  stroke: #FFFFFF;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #FFFFFF !important;
}
.fa-plus{
    color: white !important;  
}
}

.hover-button {
background-color: #FFFFFF !important;
//color:#626262 !important;
//border:1px solid #ccc !important;
color: #4cb2b2 !important;
border: 2px solid #4cb2b2 !important;

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #4cb2b2 !important;
}
}
.validation-error {
  color: red;
}
.pdf-designer-theme-color{
 color:#4cb2b2 !important;
}
.designer-font-size{
  font-size:16px !important;
}
.designer-menu-action-icons{
  margin-left:10px;
  font-size:16px;
  color:#3da8b5;
  cursor:pointer;
}
.e-treeview .e-list-text
{
  font-size:16px !important;
}
.hide-content-overflow{
  overflow: hidden !important;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.project-dialogContent {
  position: relative;
  max-height: 100% !important;
}

@media only screen and (max-width: 320px) {
  .project-dialogContent {
    .project-card-name {
      margin-left: 15px;
    }
  }
}
.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000
}

.cdk-overlay-container:empty {
  display: none
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1
}

@media screen and (-ms-high-contrast:active) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
      opacity: .6
  }
  .mat-badge-small .mat-badge-content {
      outline: solid 1px;
      border-radius: 0
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px
}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll
}

@-webkit-keyframes cdk-text-field-autofill-start {
  /*!*/
}

@keyframes cdk-text-field-autofill-start {
  /*!*/
}

@-webkit-keyframes cdk-text-field-autofill-end {
  /*!*/
}

@keyframes cdk-text-field-autofill-end {
  /*!*/
}

.cdk-text-field-autofill-monitored:-webkit-autofill {
  -webkit-animation-name: cdk-text-field-autofill-start;
  animation-name: cdk-text-field-autofill-start
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  -webkit-animation-name: cdk-text-field-autofill-end;
  animation-name: cdk-text-field-autofill-end
}

textarea.cdk-textarea-autosize {
  resize: none
}

textarea.cdk-textarea-autosize-measuring {
  height: auto!important;
  overflow: hidden!important;
  padding: 2px 0!important;
  box-sizing: content-box!important
}
.mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  background: #fff;
  color: rgba(0, 0, 0, .87)
}
.close-button{
  position: absolute;
  z-index:1;
  top:0px;
  right:0px;
  border: 0px !important;
  background: white;
  font-size: 32px !important;
  padding-right:16px !important;
}

.close-icon {
  transition: 1s ease-in-out;
  color:black
}

.close-button:hover {
  //transform: rotate(180deg);
  color:red !important;
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
 overflow: unset
}
.pdf-designer-mat-dialog{
  .mat-dialog-container{
    padding:0px !important;
  }
}
.mat-tooltip {
  max-width: max-content;
  word-break: break-word;
  font-size: 11px;
}
.mat-tooltip {
  background: rgba(97, 97, 97, .9)
}
.mat-tooltip {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px
}

.mat-tooltip-handset {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px
}

.arrow-open {
  cursor:pointer !important;
  transform : (rotate(0deg));
}


.arrow-closed {
  cursor:pointer !important;
  transform : (rotate(180deg));
}

/* Common styles for the div */
.show-datasource,
.hide-datasource {
  /* Add common styles here */
  overflow: hidden; /* Important for the animation */
  // transition: height 0.5s ease; /* Animation for opening and closing */
  transition: transform 0.5s ease;
}

/* Styles for the show-datasource class */
.show-datasource {
  // width: 100% !important;
  transform: translateX(0);
  
}

/* Styles for the hide-datasource class */
.hide-datasource {
  // width :0px !important;
  // display: none;
  transform: translateX(-100%); 
}

.doc-editor-button {
  border-radius: 5px !important;
  display: block;
  width: 100px;
  text-transform:none !important;
  //padding: 8px 0px;
}

.doc-editor-button-icon {
  border-radius: 5px !important;
  display: block;
  width: 40px;
  padding: 8px 0px;
  margin-right:26px !important;
}
.hover-button:hover .fa-eye {
  color: #FFFFFF !important;
}

.hover-button:hover .fa-save {
  color: #FFFFFF !important;
}

.hover-button:hover .fa-cog {
  color: #FFFFFF !important;
}

.template-search-close {
  position: absolute;
  // right: 36px;
  // top: 20px;

  .mat-icon {
    font-size: 14px;
    background: #cccccc6a;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.icon-button {
  cursor: pointer;
  font-weight: normal !important;
}

.custom-searchbar,
.template-search_goalinput {
  input {
    border: 2px solid #d0cacadb !important;
    border-radius: 8px;
    height: 38px;
    text-transform: initial !important;
    padding: 0 26px 0 10px !important;
    background-color: #ffffff;
    border: 2px solid #d0cacadb !important;
    width: 100% !important;;
  }

  .mat-form-field-label {
    left: 5px;
    top: 1.35em;
  }

  .mat-form-field-underline,
  .mat-form-field-ripple {
    background-color: transparent !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0.25em;
  }
  
.input-search {
  position:relative;
}

.search-input-icon {
  position:absolute;right:10px;top:9px;z-index:3
}
}

.full-width{
  width :100% !important ; 
}

.cursor-pointer{
  cursor:pointer !important;
}

.archived-text-padding{
  padding: 10px; 
}

.archive-toggele-icon{
  margin-right: 5px;padding: 10px; 
}

.text-align-center {
  text-align: center !important;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.template-sm-margin {
  margin: 10px 2px !important;
}

.font_weight_lg {
  font-weight: 700;
}

.template-label {
  margin-right: 12px;
  text-align: end;
}

.doc-edit-right-buttons-container {
  float: right;
  text-align: right;
}

.new-button {
  display: inline-block;
  margin-right: 20px;
  width: 120px !important
}

.update-botton {
  display: inline-block;
  margin-right: 5px;
  width: 150px !important;
}

.save-botton {
  display: inline-block;
  margin-right: 5px;
  width: 150px !important;
}

.doc-edit-title {
  background-color: #4cb2b2;
  color: white !important;
}

.display_flex {
  display: flex;
}

.data-sources-text {
  margin-left: 26px;
  margin-top: 8px;
}

.data-sorce-add-icon {
  float: right;
  margin-right: 24px;
  font-size: 24px;
  margin-top: -4px;
  cursor: pointer;
}

.hr-line {
  margin-top: 10px;
  margin-bottom: 8px;
}

.hr-line-2 {
  margin-top:8px;
  margin-bottom:8px;
}

.add-btn-container {
  float: right;
  margin: 8px 24px 2px 8px;
}

.doc-text-area {
  width: 600px;
}

.text_align_center{
  text-align:center ;
}

.mongo-query-add-params-text{
  position:absolute;
  float:right;
  right:34px;
  font-size:20px;
  cursor: pointer;
}

.mongo-query-btn-font-weight{
  font-weight:700;
}

.mongo-query-button-container{
  float:right;
  margin:8px 24px 2px 8px;
}

//template permission styles
.project-dialogContent {
  position: relative;
  max-height: 100% !important;
}


.mat-select-panel {
  background: #fff
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(0, 0, 0, .12)
}

.formio-lookup-select-panel.mat-select-panel {
  max-width: fit-content;
  min-width: fit-content;
  }

  .mat-pseudo-checkbox {
    color: rgba(0, 0, 0, .54)
  }
  
  .mat-pseudo-checkbox::after {
    color: #fafafa
  }
  
  .mat-accent .mat-pseudo-checkbox-checked,
  .mat-accent .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked,
  .mat-pseudo-checkbox-indeterminate {
    background: #002060
  }
  
  .mat-primary .mat-pseudo-checkbox-checked,
  .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #3f51b5
  }
  
  .mat-warn .mat-pseudo-checkbox-checked,
  .mat-warn .mat-pseudo-checkbox-indeterminate {
    background: #002060
  }
  
  .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled {
    background: #b0b0b0
  }


  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0
  }
  
  .mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.84375em;
    margin-top: -.25em
  }
  
  .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-1.59375em) scale(.75);
    transform: translateY(-1.59375em) scale(.75);
    width: 133.33333%
  }
  
  .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server[label]:not(:label-shown)+.mat-form-field-label-wrapper .mat-form-field-label {
    -webkit-transform: translateY(-1.59374em) scale(.75);
    transform: translateY(-1.59374em) scale(.75);
    width: 133.33334%
  }



  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, .12)
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, .87)
  }
  
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3f51b5
  }
  
  .mat-form-field-appearance-outline.mat-focused.mat-accent .mat-form-field-outline-thick {
    color: #002060
  }
  
  .mat-form-field-appearance-outline.mat-focused.mat-warn .mat-form-field-outline-thick,
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #002060
  }
  
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, .38)
  }


.template-permissions-container
{
.example-chip-list {
  width: 100%;
  border: 1px solid #747775;
  border-radius: 4px;
  padding: 4px 8px;

  .mat-form-field-wrapper
  {
    padding-bottom: 0px !important;
  }
  .mat-form-field-underline{
     display: none;
  }
  input{
    font-size: 18px;
  }
  
}

.example-chip-list:focus{
  border: 2px solid #2c43c2; 
}
.permissions-select{
  border: 1px solid #747775;
  padding: 12px 8px !important;
  margin-top: 0px !important;
  font-size: 18px; 
}
select:focus-visible{
  //border: 1px solid #747775;
  outline:none !important;
}
.contact-profile-image {
  height: 35px;
  max-width: 35px;
  min-width: 35px;
  text-align: center;
  padding:6px;
  border-radius: 50%;
  background-color: rgb(124, 152, 182);
  box-shadow: 0px 2px 3px #00000029;
}
.font-color-14{
  color: #FFFFFF;
}
.f-12 {
  font-size: 15px !important;
}

.overflow-elipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.overflow-elipsis-wrap{
  text-overflow: ellipsis;
  overflow: hidden;
}

.padding-y-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.access-text{
  font: var(--dt-title-medium-font, 500 1rem / 1.5rem "Google Sans"), "Google Sans", Roboto, Arial, sans-serif;
    letter-spacing: var(--dt-title-medium-spacing, .00625em);
    color: var(--dt-on-surface, rgb(60, 64, 67));
    padding-top: 16px;
    padding-left: 24px;
}

}