$egret-bright-blue-font-family: "Nunito Sans",sans-serif;
$egret-bright-blue-font-color: hsl(239, 37%, 29%);
$egret-white-font-color:white;
$egret-black-font-color: black;
$egret-bright-blue-font-size-h1: 21px;
$egret-bright-blue-font-size-h2: 20px;
$egret-bright-blue-font-size-h3: 17px;
$egret-bright-blue-font-size-h4: 15px;
$egret-bright-blue-font-size-h5: 14px;
$egret-bright-blue-font-size-h6: 12px;
$tab-colurs-in-modules: (
    "tab1": #76e8e0,
    "tab2": #f97fbc,
    "tab3": #b1d3f8,
    "tab4": #fac000,
    "tab5": #cfaeff,
    "tab6": #00d1ff,
    "tab7": #4e00ff,
    );
    body.egret-bright-blue {
      margin: 0;
      height: 100%;
      background: white !important;
      color: $egret-bright-blue-font-color !important; 
    }
.egret-bright-blue {
    font-family: $egret-bright-blue-font-family !important;
    color: $egret-bright-blue-font-color !important; 
    h1 {
        font-size: $egret-bright-blue-font-size-h1 !important;
        font-family: $egret-bright-blue-font-family !important;
    }
    h2 {
        font-size: $egret-bright-blue-font-size-h2 !important;
        font-family: $egret-bright-blue-font-family !important;
    }
    h3 {
        font-size: $egret-bright-blue-font-size-h3 !important;
        font-family: $egret-bright-blue-font-family !important;
    }
    h4 {
        font-size: $egret-bright-blue-font-size-h4 !important;
        font-family: $egret-bright-blue-font-family !important;
    }
    h5 {
        font-size: $egret-bright-blue-font-size-h5 !important;
        font-family: $egret-bright-blue-font-family !important;
    }
    h6 {
        font-size: $egret-bright-blue-font-size-h6 !important;
        font-family: $egret-bright-blue-font-family !important;
    }
    .mat-drawer-container {
        background-color: white !important;
        color: $egret-bright-blue-font-color !important;
      }
      
      .mat-drawer {
        background-color: #fff;
        color: $egret-bright-blue-font-color !important;
      }
    .mat-drawer-side {
      border-right: none !important;
    }
    .tooltipClass-mat {
        background-color: #D4d8db !important;
        color: #2E2F64 !important;
        font-size: 10px !important;
        font-family: $egret-bright-blue-font-family !important;
        text-align: center !important;
        display: block !important;
        font-weight: bold !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 25px !important;
    }

    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #25D366;
      }
      
      .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: #25D366;
      }

      .theme-custom-label {
        height: 30px;
        font-size: 13px;
        padding: 1px 5px 0px 0px;
        display: flex;
        // font-weight: bold;
      }
        
      .theme-veritcal-label {
        position: absolute;
        transform: rotate(-90deg) scaleX(-1);
        transform-origin: top left;
        background: $primary-color;
        .theme-custom-label-content {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          cursor: pointer;
          color: #fff;
          border-radius: 10px;
          padding: 6px 6px 3px 8px;
          margin: 3px 3px; 
          margin-top: -5px; 
          height: 37px;
          fa-icon{
            color: #fff !important;
            font-size: 11px;
          }
        }
      }

      @each $key, $val in $tab-colurs-in-modules {
        .theme-custom-label-content-#{$key} {
            @if($key == "tab1") {
                margin-left: -9px !important; 
            }
            border-top: solid 2px $val;
            background-color: $val !important;
      }
    }

    .page-header-class {
     color:  $egret-bright-blue-font-color !important;
     font-family: $egret-bright-blue-font-family !important;
     text-align: left;
    }

    .action-icon-color {
        color: #0060FF !important;
    }

    .ngx-datatable.btrak {
      .datatable-header .datatable-header-cell {
        color: #0020B8  !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        font-family: $egret-bright-blue-font-family !important;
        font-size:  14px !important;
        text-align: center !important;
        white-space: normal;
      }
      .datatable-body .datatable-body-cell {
        color: #2E2F64 !important;
        font-family: $egret-bright-blue-font-family !important;
        font-weight: bold !important;
        font-size:  12px !important;
        text-align: center !important;
        justify-content: center !important;
      }
  }

  .k-grid .k-grid-header .k-header{
        color: #000000 !important;
        font-weight: bold !important;
        font-family: $egret-bright-blue-font-family !important;
        font-size:  16px !important;
        text-align: center !important;
        padding-left: 10px !important;
        white-space: normal;
  }
  .k-grid-header .k-header > .k-link {
    color: #000000 !important;
    font-weight: bold !important;
    font-family: $egret-bright-blue-font-family !important;
    font-size:  16px !important;
    text-align: center !important;
    //padding-left: 0 !important;
  }
  // .k-grid-content tr:last-child td, .k-grid-content-locked tr:last-child td,
 
  
  .glossy-button-button:not([disabled]) {
    display: inline-block;
    position: relative;
    background-color: #0020AD !important;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: white !important;
    border: none;
    box-shadow:
      2px 5px 5px rgb(0 0 0 / 20%);
    cursor: pointer;
  }

  .glossy-button-button:not([disabled]):before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    height: 25px;
    background: linear-gradient(
      hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0) );
  }

  .topbar, .side-nav-color, .top-logo-bg {
    background: white !important;
  }
  .menu-text-color {
    display: none;
    color: white;
  }
  .li-menu {
    min-height: 52px;
  }
  .li-menu:hover .menu-text-color {
    display: block !important;
    color: $egret-bright-blue-font-color !important;
  }
  .div-menu:hover .menu-text-color {
    display: block !important;
    color: $egret-bright-blue-font-color !important;
  }
  .sidenav  {
  .mat-icon-color {
    color: $egret-bright-blue-font-color !important;
    padding-top: 5px;
    }
    .li .menu-text-color {
      color: white !important;
    }
    .li:hover .menu-text-color {
      color: blue !important;
    }
  }
  .theme-navbar-icon-color {
    color: $egret-bright-blue-font-color !important;
  } 
  .SearchBox {
    background: aliceblue !important;
  }
  .side-nav-color {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px #f9f9f9;
      border-radius: 10px;
      background-color: #F5F5F5;
    }
  
    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background-color: #F5F5F5;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(222, 217, 217, 0.3);
      background-color: lightskyblue !important;
    }
  }
  .mat-tab-list .mat-tab-labels .mat-tab-label {
    // color: $egret-bright-blue-font-color !important;
  }
  .clients-mat-card {
    margin-top: 0 !important;
    margin-left: 0 !important;
    border-left: none !important;
    padding-left: 0px !important;
  }
  
  .filter-section {
    color: $egret-bright-blue-font-color !important;
  }
 .mat-input-element {
    color: $egret-bright-blue-font-color !important;
    caret-color: $egret-bright-blue-font-color !important;
  }
  .close_icon {
    color: $egret-bright-blue-font-color !important;
  }

  ::ng-deep .mat-form-field-label{
    color: $egret-bright-blue-font-color !important;
}
  
.mat-input-element::-ms-input-placeholder {
  color: $egret-bright-blue-font-color !important;
}

.mat-input-element::placeholder {
  color: $egret-bright-blue-font-color !important;
}

.mat-input-element::-moz-placeholder {
  color: $egret-bright-blue-font-color !important;
}

.mat-input-element::-webkit-input-placeholder {
  color: $egret-bright-blue-font-color!important;
}

.mat-input-element:-ms-input-placeholder {
  color: $egret-bright-blue-font-color !important;
}

.mat-card {
  color: $egret-bright-blue-font-color !important;
}.mat-card-bottom-no-box-shadow.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: unset !important;
}
.button-css {
  color: $egret-bright-blue-font-color !important;
}
.tr-color-blue-td .tr-color-sale-td {
  color: $egret-bright-blue-font-color !important;
  }
  b, h3 {
    color: $egret-bright-blue-font-color !important;;
  }
  label {
    color: $egret-bright-blue-font-color !important;
  }
  .tr-color-blue{
    background-color: #b9f4f0 !important;
    width: 100%;
  }
  .tr-color-sale{
    background-color: #cddff3 !important;
     width: 100%;
  }
  // snack bar style change
  // ::ng-deep .mat-snack-bar-container{
  //   color: #155724 !important;
  //   background-color: #d4edda !important;
  //   border-color: #c3e6cb !important;
  // }
   .mat-simple-snackbar-action {
    color: white;
  }
  //
}
button:disabled .action-icon-color {
  color: grey !important;
  cursor: no-drop !important;
}

.justifyContentStart {
  justify-content: start !important;
}