/*------------hr management-----------*/
.update_user .checkbox-text {
  top: 13px !important;
}

.receipt-image {
  width: 100px !important;
}

.receipt-image img,
.prof-image {
  width: 30px !important;
  border-radius: 50px;
}

.purchase_item {
  max-width: 350px !important;
}

.update_user {
  max-width: 400px !important;
  min-width: 400px !important;
}

/*-----------permissionhistory---------------*/
.user-detailslist img {
  margin: 0px 10px 0 0;
  width: 30px !important;
  height: 30px !important;
  border-radius: 30px;
}

.permissionHistory_txt {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0 0 0;

}

.permissions_history .mat-list {
  padding: 0 !important;
}

.permissions_history .mat-list-item {
  height: 35px !important;
  border-left: solid 2px $border-leftcolor;
  margin: 10px -5px 8px 16px;
  box-shadow: 1px 0px 1px 1px $box-shadow;
  float: left;
  width: 24%;

}

.time_input .mat-form-field-infix {
  padding: 0.12em 0 !important;
}
.reason-input{
margin-top: 5px;
}

.permissions_history .mat-list-item:hover {
  border-left: solid 2px $primary-color;
  transition: all 0.5s;
}

.permission_icons {
  display: none;
  text-align: right;
  margin: 8px 0 0 0;
  transition: all 0.5s;
}

.permissions_history .mat-list-item:hover .permission_icons {
  display: block;
  transition: all 0.5s;
}

.permission_icons .fa:hover {
  color: $primary-color;
  transition: all 0.5s;
}


.edit_permission {
  max-width: 350px !important;
}

.foodorders-data .k-grid td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.check-margin {
  margin-left: 10px;
}

@media (max-width: 680px) {

  .permission_history mat-form-field,
  .permission_register mat-form-field {
    width: 100%;
  }
}

@media only screen and (max-width: 568px) {
  .viewTimeSheet_search {
    float: none !important;
  }

  .canteen-top {
    position: static !important;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 375px) {
  .foodorders-data .k-grid td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .addfood-button {
    margin-top: 5px !important;
  }

  .canteen-manage .k-grid .k-grid-aria-root {
    max-width: 300px !important;
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .canteen-manage .k-grid .k-grid-aria-root {
    max-width: 360px !important;
  }

  .addfood-button {
    margin-top: 5px !important;
  }
}

@media only screen and (max-width: 320px) {
  .canteen-manage .k-grid .k-grid-aria-root {
    max-width: 260px !important;
  }
}

  
.master-timepicker .timepicker-dial__control {
  width: 56px !important;
}

.responsive-popover{
  background: rgba(0, 0, 0, 0.6);
}

.responsive-popover+* .cdk-overlay-pane{
  @media (max-width: 460px){
    left: 10px !important;
    right: 0px !important;
    
  }
}

.shift-timing-close, .softlabels-close {
  position: absolute;
  right: 40px;
  top: 15px;
  .mat-icon {
    font-size: 14px;
    background: $close-icon-background;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.softlabels-close {
  right: 0px !important;
  top: 12px !important;
}

.create-ratesheet-component{
  max-width: 417px;
}

.create-peakhour-component{
  max-width: 417px;
}
.template-popup
{
  width: 600px !important;
  height: fit-content !important;
}
.button-center{
  text-align: center;
}
.text-area{
  max-height: 500px !important;
}