/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-documenteditor/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

#documenteditor_title_contentEditor {
    height: 26px;
    max-width: 75%;
    width: auto;
    overflow: hidden;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    margin: 5px;
}

.single-line {
    cursor: text !important;
    outline: none;
}

#default_title_bar {
    height: 36px;
    line-height: 26px;
    width: 100%;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 10px;
    font-family: inherit;
    box-sizing: border-box;
}


[class^="e-de-icon-"],
[class*=" e-de-icon-"] {
    font-family: 'Example icons' !important;
}

.e-de-icon-Print:before {
    content: "\e723";
}

.e-de-icon-Download:before {
    content: "\e728";
}
#rteSection {
    height: 500px;
}
.butoon-1 {
    border: 1px solid grey;
    background-color: #fff;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 9px;
    font-size: 18px;
}
.close-button{
    float: right;
    top:-24px;
    right:-24px;
    border: 0px !important;
    background: white;
    font-size: 32px !important;
    padding-right:16px !important;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
    color:black
  }
  
  .close-button:hover {
    color:red !important;
  }

  .pdf-designer-theme-color{
    color:#4cb2b2 !important;
   }