.admin-profile {
    
    height: auto;
    text-align:center;
  }
  .main-div{
    margin-top: 56px;
        background: #fff;
  }
  .side-card{
    
    height:100vh

  }
  .card{
      width:auto;
      height: auto;
      text-align:center;
  }
  .list{
      padding-top:30px;
  }
  .element {
    padding: 10px;
}   
 .card-button{
color:white!important;

 }
 .main-card{
     background-color:rgb(255, 255, 255) !important;
     width:100%;
 }
 .matform{
     float:right;
     color:#8a8a8a;
 }
 .mat-search{
    color:#8a8a8a;
    width:20px;
 }
.imagslide{
    height: 300px;
    width: 300px;
  }
  .room-button{
    color:white!important;
    position: absolute;
    text-align: center;
    transition: opacity .35s ease;
    float:right;
    }
    .room-card-b{
        color: white !important;
    }
    .gallerycard{
    width: 100%;
    text-align: center;
    color:#8a8a8a;
    }
    .searchbar{
        float:right!important;
    }
    .search_bookinginput{
        position: relative;
      }
    .room-name{
    text-transform: capitalize;
    }
    .room-card{
        height: 220px;

        @media only screen and (max-width: 425px) {
          display: unset !important;  
        }

    }
    .date-fields{
        width: 200px;
    }
    
    .event-forward{
    width: 50px;
    height: 50px;
    font-size: 56px;
    float: right;
    }
    .event-backward{
        width: 50px;
    height: 50px;
    font-size: 56px;
    float: left;
    }
    .event-button{
        font-size: 20px;
        justify-content: center;
    }
    .paypal-custom{
        text-align: center;
        
    }
    .custom-icon{
        background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 54px;
    }
    .venue-expansion-panel{
        .mat-expansion-panel{
      box-shadow: none !important;
      color: #737880;
      padding: 5px 6px !important;
        }

    }
    .search_bookinginput .mat-form-field-underline{
        height: 0px !important;
        display: none;
     }
     .search_bookinginput .mat-form-field-underline::focus{
       height: 0px !important;
     }
     .goal-list-closeicon{
         margin-left: 30px;
         margin-top: 8px;
     }
     
     .search_bookinginput .mat-form-field{
           max-width: 200px !important;
     }
     .goal_search{
        padding: 12px 4px 15px 0px !important;
      }
      .tooltip-overflows {
        word-break: break-word !important;
        max-width: 10px !important;
      }
      
    
      .amenity-list{
        height: 200px;
        width: auto;
      
      }
      .text-fields{
        width: 200px;
      }

      .button-hover {
        position: absolute;
        text-align: center;
        opacity: 0;
        transition: opacity .35s ease;
      }

      .room-card:hover .buttonvisible{
        opacity: 1;
      
      }
    

      .showButton{
        display: block !important;
        opacity: 1;
      }
      .fbicon{
        background-color: #3578E5 !important;
        width: 36px;
        padding: 5px;
        padding-left: 11px;
        padding-top: 7px;
        border-radius: 3px;
      }
      .youtube{
        background-color:#d62415!important;
        width: 36px;
        padding: 6px;
        padding-top: 7px;
        border-radius: 3px;
      }
      .twitter{
        background-color: #2caae1 !important;
        width: 36px;
        padding: 9px;
        padding-top: 7px;
        padding-left: 7px;
        padding-bottom: 5px;
        border-radius: 3px;
      }
      .linkedin{
        background-color:#007bb6 !important;
        width: 36px;
        padding: 6px;
        padding-top: 7px;
        border-radius: 3px;
        padding-left: 8px;
      }
      .buttonvisible{
        opacity: 0;
      }

      .block-ellipsis {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.5;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

.card-left{
margin-left: 10px;
}

.card-right{
  margin-right: 10px;
}

.search-room{
  border: 1px solid rgba(208,202,202,0.858824) !important;
  border-radius: 4px;
  height: 39px;
  text-transform: initial !important;
  padding: 6px 26px 0 10px !important;
  background-color: #fff !important;
  font-size:16px;

}




.w3rt-search-button{
margin-top: -6px;
button{
  margin-left: 18px !important;
  margin-top: 0.1px;
  padding: 0.5px;
}
}

.room-booking-model{
  box-shadow: 0 1px 9px rgba(0,0,0,0.08) !important;
  min-height: 100vh;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}

.room-details-title, .room-name, .filter-text{
font-size:21px !important;
color: #000;
}

.room-card{
  .carousel-item{
img{
  height: 200px;
}
  }
}
.room-details{
color: #000;
}


.w3rt-card{
background-color: white;
box-shadow: 0 1px 9px rgba(0,0,0,.08) !important;
background-color: white;
box-shadow: 0 1px 9px rgba(0,0,0,0.08) !important;
padding-top: 16px;
border-right: 1px solid #e1e2e3;
border-radius: 4px;
background-color: #fff;
height: auto;
position: -webkit-sticky;
position: sticky;
bottom: 0;
vertical-align: bottom;
display: inline-block;
min-height: 100vh;

}

.my-custom-cell-ngx {
  width: 30px;
}

.custom-close-button{
  background: #bebfc1;
  border-radius: 50%;
  margin: auto;
  padding: 3px 8px;
  color: #fff !important;
  font: small-caption;
  height: 25px;
  width: 25px;
  float: right;
  position: absolute !important;
  right: -13px;
  top: -15px;
  border: 1px solid;
}
