.notification-number {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.badge-number {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
mat-select#langToggle {
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 0px;
	// height: 33px;
    line-height: 25px;
}

.theme-list {
  .mat-menu-item {
    width: 70px;
    height: 48px;
    padding: 5px;
    .egret-swatch {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
    .active-icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto !important;
      color: #ffffff;
    }
  }
}

@media only screen and (min-width: 430px){
  .topbar-button-right {
    margin-left: 1rem !important;
  }

  #langToggle .mat-select-trigger {
    width: 140px;
    min-width: 80px;
  }
}

// .home {
//   position: relative !important;
//   right: 54em;
// }

// @media only screen and (min-width: 768px)
//   {
//     .home {
//       right: 0em !important;
//     }   
    
// }

// @media only screen and (min-width: 1024px)
//   {
//     .home {
//       right: 26em !important;
//     }   
    
// }
// @media only screen and (min-width: 1920px) {
//   .home {
//       right: 55em !important;
//     }
// }

// @media only screen and (min-width: 1440px)
//   {
//     .home {
//       right: 40em !important;
//     }   
    
// }

@media only screen and (min-width: 1024px)
  {
.isShow {
     display: none !important;
   }
    
}

@media screen and (max-width: 1023px)
{
  .isShow {
       display: block !important;
     }
      
  }

@media only screen and (max-width: 429px){
  #langToggle .mat-select-trigger {
    width: 40px;
    min-width: 40px;
  }

  .remove-padding{
    padding: 0px !important;}}
.topbar-button-right {
  margin-left: 0.6rem !important;
}

[dir=rtl] {
  .topbar-button-right {
    margin-right: 0.6rem;
    margin-left: 0 !important;
  }
}

.topbar .mat-select-arrow {
    width: 20px !important;
    height: 20px !important;
    // background-image: url('assets/images/expand_more.png') !important;
    background-repeat: repeat !important;
    border: none !important;
    text-align: center;
    background-size: cover;
    background-position: right center;
}

.mat-select-value {
    min-width: 35px;
}

#langToggle .mat-select-trigger {
    padding: 0px;
    // background-image: url('assets/images/flag-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 10px;
}

.icon_active_class{
  background-color: rgba(0,0,0,0.12) !important;
}

// .mat-select-value span {
//     color: #fff !important;
// }