
  .login-bg {
    // background-image: url(assets/images/loginpage-bg2.png) !important;
    // background-size: cover !important;
    // background-color: $white-color;
    // height: 100vh;
    // background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1.0), $primary-color);
  }
  .login-section {
    // position: absolute;
    // right: 0;
    // top: -5px;
    // border: 1px solid #dadce0;
    // border-radius: 10px;
  }
  .login-inner {
    // height: 100vh;
    // box-shadow: none !important;
    padding: 48px 40px 36px !important;
    // border: 1px solid #ccc !important;
    border-radius: 10px !important;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2) !important;   
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);

  }

  .signin-text:hover{
color: map-get($mat-secondary, 500);
  }
  .error-message{
    text-align: center;
    background:$error-message-background;
    padding: 10px 0;
    border-radius: 5px;
    color: $error-message-color;
    display: flow-root;
  }


  .login-page{ 
    input{
height: 43px !important;
}
.mat-form-field-empty{
margin-top: 7px !important;
}
.mat-form-field-should-float{
  .mat-form-field-empty{
    margin-top: 0px !important;
    }
}
  }
 
  .u-userLauncherColor {
    border: 1px solid #fff !important;
  }
  