
// General
$transitionDuration: 300ms !default;
$gutter: 1rem !default;
$transitionTiming: cubic-bezier(.35, 0, .25, 1);
$sidebarTrnTime: .3s;

// Widths
$sidebar-width: 15rem !default;
$compact-sidebar-width: 36px !default;
$compact-big-sidebar-width: 150px !default;

// Typography
$font-family-base: Lato,
Roboto,
"Helvetica Neue",
sans-serif;
$font-size-base: .875rem !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: (1rem / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$primary-color:  var(--primary-theme-color);
$secondary-color: var(--primary-theme-color);
$black-color:#000000;
$white-color:#ffffff;
$sidebar-color:rgba(255, 255, 255, 0.95);
$grey-color-background:#c3c1c1fa;
$card-background:#ffffff;
$card-hover:#efe9e9;
$matlist-background:#ffffff;
$timepicker-color: $primary-color;
$title-background:#f3f3f3;
$matcard-background:#ffffff;
$button-hover:#0d8f90;
$sidebar-textcolor:#374b53;
$tab-labelcolor:rgba(0, 0, 0, 0.87);
$kgridheader-background:#E6F3FF;
$kgridheader-textcolor:#000000;
$border-leftcolor: $primary-color;
$box-shadow:#dedede;
$ktooltip-background:#44b1b1;
$popup-background:#ffffff;
$k-grd-hover-color:#e4e9f0;
$grey_background:#eaeaea;
$grey-iconColor:#757575;
$tabs-background: #ffffff;
$kanbanList-hover:#ebebdb;
$goals-loader-border-leftcolor: #b5b5b5;
$kanban-border-bottomcolor:#b7b7b7;
$kanban-loading-color-primary:#ccc;
$kanban-loading-color-secondary:#b3afb883;
$border-left-color:#ccc;
$masonrycard-border-color: #969696;
$folder-file-color: #ffb700;

$card-border-color: #e4e4e4;
$breadcrumb-font-size: 14px;
$grey-color: #e6e6e6;
$green-color: #36B37E;
$red-color: #FF5630;
$pink-color:#990099;
$gray-color:#D1D1D1;

$productive-color: #70b603;
$unproductive-color: #f59a23;
$neutral-color: #aaaaaa;
$app-usage-color: #e2e8e8;

//floating buttons colors https://www.schemecolor.com/always-be-there.php
$columbia-blue-color-active: $primary-color;
$columbia-blue-color: $primary-color;
$old-lace-color: $primary-color;
$peach-orange-color:$primary-color;
$unbleached-silk-color:$primary-color;
$papaya-whip-yellow: $primary-color;
$goal-count-color:#b5b7bb;
$active-goals-activetab-background: $columbia-blue-color-active;
$active-goals-background: $primary-color;
$backlog-goals-background: $primary-color;
$underReplan-goals-background: $primary-color;
$members-background: $primary-color;
$archived-goals-background: $primary-color;
$parked-count-background: $primary-color;
$components-count-background: $primary-color;
$warning-color-icon: #ffab00;

$archiveFloat-background:#EF5B59;
$addGoalFloat-background:#F09866;
$editGoalFloat-background:#204E9C;
$enterUserstoryFloat-background:#8D355D;

$test-suites-card-background: #efefef;
$test-runs-border-bottom: #e2e0e0;
$counts-color-red: #e5173f;
$hierarchical-subsection-border: #c3c3c3;
// $testrail-on-hover-link: #266ef6;
$testruns-failed-count: #f38a83;
 $testruns-passed-count: #a0ea70;
$testruns-blocked-count: #a8a8a8;
$testruns-retest-count: #f1d990;
$testruns-untested-count: #d0d0d0;
$testsuites-count: #6554c0;
 $testruns-count: $primary-color;
$testrail-on-hover-link: $primary-color;
// $testruns-failed-count: $primary-color;
// $testruns-passed-count: $primary-color;
// $testruns-blocked-count: $primary-color;
// $testruns-retest-count: $primary-color;
// $testruns-untested-count: $primary-color;
// $testsuites-count: $primary-color;
$testruns-count:$primary-color;;
$test-milestones-count: $primary-color;
$test-reports-count: $primary-color;
$test-case-details-border-left: $primary-color;
$test-case-details-border-bottom: #ccc;
$test-suite-steps-background: #ebebeb;
$testrail-mat-step-header-on-hover: #fff;
$testrail-icon-on-hover: $primary-color;
$filter-icon: $primary-color;
$warning-color-icon:#ffab00;

$goalCard-project-color:#0000008a;

$close-icon-background:#cccccc6a;

$error-message-color:#D8000C;
$error-message-background:#FFBABA;
$user-unique-detail-bg: #ebecf0;
$user-unique-detail-text: #172b4d;
$loader-color: #535050;
$fileupload-hint-color: #090c67;
$backdrop-color: rgba(0, 0, 0, 0.6);
$bug-report-left-color: rgb(4, 254, 254);
$bug-report-fixed-color: rgb(112, 173, 71);
$bug-report-added-color:rgb(51, 178, 255);
$bug-report-approved-color:rgb(255, 217, 102);
$bug-report-unassigned-color:rgb(111, 112, 112);
$hover-color:#e1f0ff;
$icon-hover-color: rgba(242, 139, 159, 0.1);
// $custom-border-color:#e1e8ef;
$custom-border-color:#d0cacadb;
$checkbox-color:#c5c5c5;
$mat-tab-color: #595660;
$userdetail-form-field-label-color:#4b4852;
$form-field-color: #8a8692;
$primary-text-color:#737880;
$container-bg-color:#f7f8fa;
$userstory-status-text-color: #6560698f;
$border-bottom-color: #cccccc;
// $goal-count-color:#dadce0;
$header-bg-color:#dbdbdb;
$goal-count-color:#b5b7bb;
$primary-color-100:$hover-color;
$toggle-button-color:rgb(51, 178, 255);

// :root {
//     --my-variable-name: #fff;
// }
