
////////formio changes///////

$formio-text-color: black !important;
$formio-error-color: #FF0038 !important;

.formio-component{
  font-family: 'Nunito Sans';
  color: $formio-text-color;
  opacity: 1;
}

.formio-component {
  label {
    font-size: 12px;
};

.form-control{
  color: $formio-text-color;
};

.help-block{
    color: $formio-error-color;
    font-size: 12px;
    text-align: left;
    padding: 15px 35px;
};

.formio-errors .error{
  color: $formio-error-color;
    font-size: 12px;
    text-align: left;
    padding: 15px 35px;
}

.form-control.is-invalid{
    border-radius: 8px;
    border: 1px solid #FF0038;
}

.has-error label{
    color: $formio-error-color;
    font-size: 12px;
    text-align: left;
}

form-builder button[type=submit]{
  color: white !important;
  font-size: 12px !important;
  text-align: left !important;
  padding: 10px 35px !important;
  border-radius: 8px !important;
  border: 1px solid #00295C !important;
  background-color: #00295C !important;
};

form-builder input[type=checkbox] {
  line-height: normal;
}

formio input[type=checkbox] {
  line-height: normal;
}

.formio-form .btn-primary{
  background-color: #00295C !important;
}

::placeholder {
  color: $formio-text-color;
}

h1, h2, h3, h4, h5, h6, label, p, b, .signature-pad-footer, .formio-component-htmlelement{
  color: $formio-text-color;
  opacity: 1;
}

p::before, ul, span, .form-radio, .choices__list--single .choices__item{
  color: $formio-text-color;
  opacity: 1;
}

p::before{
  opacity: 0;
}
}

.choices__list--dropdown.is-active {
  display: inline-table !important;
  position: inherit !important;
}
.choices__list--multiple .choices__item{
  background-color: #0060FF !important;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted{
  background-color: #0060FF !important; 
  span {
    color: white !important;
  }
}
.choices__list--multiple .choices__item--selectable span {
  color: white !important;
}

formio input[type="checkbox"] {
  margin: 4px -17px 0 !important;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}