/*----------my profile scss start----*/
.status-select {
    margin-top: -14px !important;
  }
  
  .projects-list a {
    width: 100%;
    float: left;
    color: #3b96e6;
  }
  
  .userstory-transitions {
    font-size: 14px;
  }
  .userstory-transitions-list .mat-list-item {
    height: 35px !important;
  }
  .add_attachment{
    max-width:350px !important;
    min-width:350px !important;
  }
  .add_emergency{
    max-width:350px !important;
    min-width:350px !important;
  }
  .add_immigration{
    max-width:350px !important;
    min-width:350px !important;
  }
  .add_eduaction{
    max-width:350px !important;
    min-width:350px !important;
  }
  .add_membership{
    max-width:350px !important;
    min-width:350px !important;
  }
  @media (max-width: 680px) {
  
    .edit_employee mat-form-field,
    .add_licence mat-form-field,
    .contact_dtls mat-form-field,
    .job-hrrecord mat-form-field,
    .hr-addsalary mat-form-field{
      width: 100%;
    }
  }
  .time_sheet_audit_padding {
    padding: 1rem 1rem 0rem 1rem !important;
  }
  /*----------my profile scss end----*/