<div style="display: grid; padding: 10px !important;" id="rq-formio-class">
    <mat-progress-bar color="primary" mode="indeterminate" *ngIf="isLookupValuesGetInprogress"></mat-progress-bar>
    <div class="form-control ui fluid selection dropdown" style="padding: 0px !important;">
        <select class="form-control choices__input" (change)="getCalculatedData($event.target.value)" [(ngModel)]="value"
        id="lookup" [disabled]="disableds">
                   <option value="null" hidden disabled>Choose Lookup</option>
            <option class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted" 
                *ngFor="let data of lookupDropDownData" [value]="data.value">{{data.label}}</option>
        </select>
    </div>
    <div style="width: 100%;">
            <table style="border: none; width: 100% !important;">
                    <tr style="border: none;">
                        <td style=" border: none;"><b>{{label}}</b></td>
                        <td style=" border: none;">{{getdata()}}</td>
                    </tr>
            </table>
        </div>
</div>