//-----------Vertical tabs start------------//
#tab ul {
    top: 0;
    left: 34px;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 35px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translate(7px, 0px);
    -moz-transform: rotate(90deg) translate(7px, 0px);
    -o-transform: rotate(90deg) translate(7px, 0px);
    transform: rotate(90deg) translate(7px, 0px);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
  
  #tab .k-content {
    width: 100%;
    margin: 0 10px;
    top: 50px;
    // position: absolute;
    height: 90%;
    overflow: unset;
    padding: 0;
  }
  
  #tab ul.k-upload-files {
    transform: rotate(0) translate(-49px, 52px) !important;
    width: 100%;
  }
  
  #tab span.k-link {
    color: $white-color;
    border-bottom: none;
  }
  
  #tab .k-tabstrip-items .k-item.k-state-active {
    border: none !important;
  }
  
  #tab .k-tabstrip-items .k-item.k-state-active span.k-link {
    color: $white-color !important;
    border-bottom: solid 4px $secondary-color;
  }
	.k-tabstrip-items > .k-item {
		background: $secondary-color;
		margin: 1px !important;
    color: $white-color !important;
    border-radius: 3px;
	}
	.k-tabstrip-items > .k-item:not(.k-state-active) {
		opacity: .7;
  }
  
  .k-tabstrip-items {
    background-color: #23db23;
  }

  .userstory_detail {
    margin-top: -10px !important;
  }
  
  .userstory_detail .mat-card-header-text {
    margin: 0;
    width: 90%;
  }
  
  .userstory_detail .mat-card-header-text .mat-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    margin: 0 0 0 10px;
  }
  
  .time-tracking {
    font-size: 12px;
   }
   .time-tracking label{
    font-size:14px;
   }
   .time-tracking .mat-progress-bar {
    margin: 8px 0 0px 0;
    height: 10px;
    border-radius: 6px;
   }
   .time-tracking .mat-card-title {
    font-size: 14px !important;
   }
  
   .comments_section{
    float: left;
    width: 100%;
    max-height: 540px;
    overflow: auto;
   }

   .history_section{
    float: left;
    width: 100%;
    max-height: 83vh;
    overflow: auto;
   }
   .logtime-comment{
    position: relative;
    padding: 5px;
    border: solid 1px #949494;
    border-radius: 5px;
    outline:none;
    resize: auto;
    min-height:40px;
   } 

   .custom-logtime-comment{
    position: relative;
    padding: 5px;
    outline:none;
    resize: auto;
   } 

.log-submit{
margin:0 5px 0 0 !important;
}
.estimated .mat-progress-bar-fill::after {
    background-color: #b2d4ff !important;
  }
  
  .estimated .mat-progress-bar-buffer,
  .remaining .mat-progress-bar-buffer,
  .logged .mat-progress-bar-buffer {
    background-color: #f5f5f5 !important;
  }
  
  .remaining .mat-progress-bar-fill::after {
    background-color: #f9a814 !important;
  }
  
  .logged .mat-progress-bar-fill::after {
    background-color: #00875a !important;
  }
  
  .history-details .mat-list-item-content {
    padding: 0 !important;
  }
  
.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);
  }
	.detail_close {
    position: absolute;
    right: 5px;
    top: 3px;
    background: #bebfc1;
    border-radius: 50%;
    margin: auto;
    padding: 3px 8px;
    color: #fff !important;
    font: small-caption;
    height: 25px;
    width: 25px;
	}
  .detail_close .mat-icon:hover {
   background: #ececec;
   border-radius: 50%;
   transition: all 0.5s;
  }
  
  .history-list{
   margin: 0 0 5px 0; 
  }
  
  .set-time{
   float: right;
   width: 70px;
   border-radius: 5px;
   border: solid 1px $grey-color;
   padding: 2px 4px;
  }
  .userstory-status .mat-list-item {
   height: 35px;
  }

  .inline_edit_close{
    position: absolute;
    right: 5px;
    font-size: small;
    top: 0px;
    padding: 1px;
  }

  .inline_edit_close fa-icon{
    color: $white-color;
  }
  
  .user-comment{
   margin-top:5px !important;
   margin-bottom:0 !important;
   word-break:break-word;
  }
  .comment-area{
   float: left;
   width: 100%;
   border-bottom: solid 1px $grey-color;
   box-shadow: none !important;
  }
  .comment-area img, .comment-area-section-2 img{
   width:30px;
   height:30px;
  }
  
  .comment-area-section-2{
     margin-left:20px;
     margin-bottom:5px;
  }
  .user-comment p{
    margin: 0;
  } 
  .history-details img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }

  .new-userstory:hover{
  color: $primary-color !important;
  }
 
  .custom-input textarea{
    border: none;
    padding: 10px;
    width: 100%;
    &:focus{
      border:none;
    }
    background-color: #f5f9fd;
}


.comment-box{
overflow: auto !important;
height: 23vh;
overflow-x: hidden !important;

}
.details_userstory {
  .mat-card-header-text, .userstory-fullname {
    word-break: break-word;
  }
  .mat-card-title{
    fa-icon{
      cursor: pointer;
    }
  }

}

.log-time-history-section{
  overflow-x:auto ;
}

.custom-description{
  height :210px;
}

.userstory-filepath:hover{
  text-decoration: underline;
  color:blue;
  cursor: pointer;
}

.fileupload-text {
    max-height: 160px;

    .mat-list-item-content {
        margin-top: 10px;
        word-break: break-word;
    }
}

  //-----------Vertical tabs end------------//


  @media only screen and (max-width: 1920px) {
    .userstory_detail .mat-card-header-text .mat-card-title {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .userstory_detail .mat-card-header-text .mat-card-title {
      width: 100%;
    }
}

.icon-style{
  background: $primary-color;
  color: white !important;
  padding: 3px !important;
}



/*.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 40px 35px !important;
    border-radius: 2px;
} */

.details_userstory.mat-card {
	padding: 10px 20px 0px 35px;
	margin: 0px !important;
	background: #fff !important;
	border-radius: 0px;
}
#tab ul {
    top: -10px;
}
.details_userstory .k-tabstrip > .k-content {
	overflow: hidden;
}
.details_userstory mat-label {
    font-size: 12px;
}
input[type="file"] {
    border: solid 2px #e6e6e6 !important;
    border-radius: 0px !important;
    padding: 1px;
	line-height: 1.0;
	width: 100%;
}
span.mat-form-field-label-wrapper {
    text-transform: uppercase;
}
.logtime-comment {
    border: solid 2px $border-bottom-color;
    border-radius: 1px;
    overflow: hidden;
    resize: none;
    min-height: 50px;
}
.k-tabstrip-items .k-link {
    padding: 14px 15px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 2px!important;
    background-color: $border-bottom-color !important;
}
 .mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  height: 2px!important;
}


 .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-image: none !important;
	background-color : $border-bottom-color !important;
}
.userstory_top-title.userstory_focused .user_select, .userstory_top-title.userstory_focused .search_user {
	display: none;
}
.mat-form-field-label-wrapper .mat-form-field-label {
    text-transform: initial;
    font-size: 14px;
    line-height: 25px;
    color: $form-field-color !important;
    width: 98% !important;
}

.mat-form-field-should-float{
  .mat-form-field-label-wrapper .mat-form-field-label {
    width: unset !important;
    left: 0px;
  }
}

// .details_userstory .mat-select-value span {
//     color: #8a8a8a !important;
// }

.details_userstory .mat-form-field-label-wrapper .mat-form-field-label {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 15px;
    color: $userdetail-form-field-label-color !important;
	left: 0px;
}
.user_select .mat-form-field-infix, .search_user .mat-form-field-infix {
	width: 140px;
}

// .details_userstory .mat-select-value span {
//     color: #8a8a8a !important;
// }

.details_userstory .mat-form-field-label-wrapper .mat-form-field-label {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 15px;
    color: $userdetail-form-field-label-color !important;
	left: 0px;
}
.user_select .mat-form-field-infix, .search_user .mat-form-field-infix {
	width: 140px;
}

.customfield-name{
  color:$primary-color;
}

@media only screen and (max-width: 1440px) and (min-width: 1024px)  {
  .details_userstory{
    min-height: 89vh !important;
    max-height: 89vh !important;
  }
  .history_section{
    max-height: 81vh !important;
  }
  .comment-box{
    height: 12vh !important;
  }
  .comments_section{
    max-height: 424px !important;
  }
}

.unique-details-bg:hover {
  background-color: $user-unique-detail-bg;
  border-radius: 5px;

  textarea {
      background-color: $user-unique-detail-bg;
      border-radius: 5px;
  }
}

.unique-details-text {
  color: $user-unique-detail-text;
  font-weight: bold;
  word-break: break-word;

  .unique-details-heading {
      font-size: $font-size-h5;
      display: inline-block;

  }

  .unique-details-small-heading {
    font-size: $font-size-h6;
}

  &:hover {
      background-color: $user-unique-detail-bg;
      border-radius: 5px;
  }
}

.unique-background-color {
  background-color: $user-unique-detail-bg;
  font-weight: bold !important;
  display: inline-block;
  border-radius: 5px;
}

.goal-unique-font-bold {
  font-weight: bold !important;
}

.unique-details-link {
  color: $user-unique-detail-text;
  font-weight: bold;
  .userstory-unique{
  font-size: 16px;
}
}

.unique-detail-height {
  min-height: 92vh;
}

.custom-style-pointer {
  cursor: pointer !important;
}

@media only screen and (max-width: 460) {
  .custom-unique-add-icon{
  padding-top: 20px;
  }
    }

.custom-unique-add-icon fa-icon{
  color: $primary-color;
  cursor: pointer;

}

.userstory-detail-subuserstory {
    overflow-x: hidden;
}

.userstory-tags{
  margin-left:6px;
}


.tags-height{
max-height: 100px;
min-height: 50px;
font-size: 13px !important;
line-height: 16px !important;
display: flex !important;
}

.custom-form{

.formio-form{
  min-height: 20px !important;
}
}


.userstory-detail-header{
font-size: 15px;
}

.f-15p{
font-size: 15px;
}

.icon-edit{
  margin-right:14px;
}


.userstory-detail-expansion{
  .mat-expansion-panel-header{
    display: none;
  }
  .mat-expansion-panel:hover{
  background-color: unset !important;
  }
  .mat-expansion-panel-body{
    padding: 10px !important;
  }
}

.upload-file-button .mat-chip:focus{
box-shadow: none !important;
}

// .userstory-detail-expansion .mat-expansion-panel {
//   box-shadow: none !important;
// }





.assignee-field{
  position: absolute;
  left: 50px;
  top: 20px; 
  opacity: 0;
  visibility: hidden;
}

.assignee-display{
display: inline-flex !important;
}


.description-text{
color: #b7b7b7cf;
}


.userstory-detail-container{
  .search_goalinput, .estimated-time{
    .mat-form-field-infix{
      border-top: 0;
    }
  }
}

.mat-form-field-width .mat-form-field-label-wrapper{
    width: 125px!important;
}