/*---------livedashboard scss start----------*/
.whole-cell {
    float: left;
    width: 100%;
  }
  
  .livedashboard_icons i {
    font-size: 18px;
    vertical-align: middle;
  }
  
  @media only screen and (max-width: 568px) {
    .liveDashboard {
      position: relative !important;
    }
  
    .livedashboard_icons {
      float: left;
      width: 100%;
    }
  
    .livedashboard_icons span {
      margin: 0 10px 10px 0 !important;
      float: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .liveDashboard_table .datatable-body .datatable-group-header
{
  background: $white-color !important;
  border-bottom: solid 0px $white-color !important;
  border-top: solid 0px $white-color !important;
}

.liveDashboard_table  .datatable-footer
{
  display: none !important;
}
.liveDashboard_table  .datatable-footer .page-count
{
  display: none;
}
.liveDashboard_table .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
  cursor: auto !important;
}
.liveDashboard_table .datatable-header .datatable-header-cell .sort-btn
{
  display: none !important;
}
.livedashboard_custom_header
 {
  right: 2%;
    position: relative;
   
  }


  .live-dashboard-table{
border: 1px solid #e0e0e0;
border-top: none;
border-bottom: none;
  }

//   .dashboard-list{
//     .datatable-header{
// display: none;
//     }
//   }