.top-logo-bg {
  background: $primary-color !important;

  img {
    height: 30px;
    left: 50px;
  }
}

.companyListMini{
  margin-bottom: 10px;
}

.zoom-image-hover :hover {
  transform: scale(1.2);
  transition: .5s;
}

.button_topright {
  position: relative !important;
  right: 10px;
  top: 0px;
  text-align: right;
}

/*-----------blocks hover css start-----------*/
.block_ui .mat-card {
  background: $card-background !important;
}

.block_ui p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 4px 0 0 0;
}

.block_ui .mat-card {
  border-left: solid 3px $grey-color !important;
}

.block_uisec p {
  margin: 5px;
  width: 58%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.block_uisec b {
  margin: 5px;
  width: 34%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.block_ui .mat-card:hover {
  border-left-color: $primary-color !important;
  transition: all 0.5s;
}

.block_uisec img {
  width: 30px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}

.block_ui .mat-card:after {
  left: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(234, 38, 42, 0);
  border-left-color: $grey-color !important;
  border-width: 6px;
  z-index: 9999;
  top: 0%
}

.block_ui .mat-card:hover:after {
  border-left-color: $primary-color !important;
  transition: all 0.5s;
}

.block_ui .mat-card:hover {
  background: $card-hover !important;
  transition: all 0.5s;
  transform: translateY(-2px) scale(1);
}

.block_ui h4 {
  font-size: 16px;
  font-weight: 500;
}

.block_icons {
  position: absolute;
  display: none !important;
  font-size: 16px;
  transition: all 0.5s;
}

.block_ui .mat-card:hover .block_icons {
  display: block !important;
  top: 4px;
  right: 10px;
  position: absolute;
  transition: all 0.5s;
}

.block_icons .fa:hover {
  color: $primary-color;
  transition: all 0.5
}

.role {
  display: inherit;
  font-size: 13px;
  text-align: left;
}


.highlight-calender {
  color: $primary-color;
}

/*-----------blocks hover css end-----------*/


/*--------hover button css start-----------*/
.hover_button {
  color: $white-color;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  z-index: 9;
  border-radius: 5px !important;
  overflow: hidden !important;
  padding: 6px 10px;
  background: $secondary-color;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 1px solid #06acc100;
  font-size: 14px;
}

.hover_button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: $button-hover;
  border: 1px solid #06acc100;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1);
  z-index: -9;
}



.hover_button:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.cancel_button {
  background: #9c9c9c !important;
  margin-left: 5px;
}

.cancel_button::before {
  background: #b7b7b7 !important;
}

/*--------hover button css start-----------*/


/*-------leftbox_border for left side blocks start-----*/
.leftbox_border {
  overflow: auto;

  .mat-list {
    padding: 0px !important;
    height: 84.5vh;
  }

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0;
  }
}

.leftbox_border .mat-list-item {
  height: 35px !important;
}

.leftbox_border .mat-divider {
  position: initial;
}

.leftbox_border .mat-list-item-content {
  padding: 0 16px !important;
}

.leftbox_border .mat-list {
  padding: 0px !important;
}

.leftbox_border span {
  width: 100%;
  float: left;
  font-size: 12px;
  margin: 5px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border_left {
  height: 35px !important;
  border-left: solid 2px $border-leftcolor;
  margin: 0 0 5px 0px;
  box-shadow: 0px 2px 2px $box-shadow;
  background: $matlist-background;
}

.border_left:hover {
  border-left: solid 2px $primary-color;
  transition: all 0.5s;
}

.border_left p {
  margin: 0 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.role {
  font-size: 13px;
  display: inherit;
}

/*-------leftbox_border for left side blocks end-----*/


/*-----------popups css start----------------*/
.dialog_window .mat-card-title {
  padding: 5px;
  background: $primary-color;
  color: $white-color;
}

.dialog_window .card-content {
  padding: 10px;
}

/*-----------popups css end----------------*/


/*---------search input scss start----------*/
.search-box {
  position: absolute;
  top: 20px;
  right: 18px;
  transform: translate(0%, -50%);
  height: 30px;
  padding: 10px;
  border-bottom: solid 1px #949494;
  z-index: 9999;
  width: 150px;

  &:hover {}

  .s-btn {
    color: #424242;
    float: right;
    width: 25px;
    height: 30px;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px -11px 0 0px;

    i {
      font-size: 14px;
      margin: 0;
    }
  }

  .s-box {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: $black-color;
    font-size: 14px;
    transition: .5s;
    width: 0px;
    margin: -5px 0 0 0;
    width: 110px;
  }
}

/*---------search input scss end----------*/

.mat-card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  border-radius: 6px;
}

input[type="file"] {
  border: solid 1px $grey-color;
  border-radius: 30px;
}

::-webkit-file-upload-button {
  background: $grey-color;
  padding: 1em;
  border: none;
  cursor: pointer;
}



#style-1,
.no-drag,
.userstory-dialog-scroll .mat-dialog-container {
  overflow: auto;
}


#style-2,
.no-drag,
.userstory-dialog-scroll .mat-dialog-container {
  overflow: auto;
}

#style-3,
.no-drag,
.userstory-dialog-scroll .mat-dialog-container {
  overflow: auto;
}


#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218, 1);
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: none;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(170, 170, 170, 0.3);
  background-color: $grey-color;
  box-shadow: none;
}

#style-4,
.no-drag,
.userstory-dialog-scroll .mat-dialog-container {
  overflow: auto;
}


#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(218, 218, 218, 1);
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: none;
}

#style-4::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(170, 170, 170, 0.3);
  background-color: $grey-color;
  box-shadow: none;
}

.invoice-dialog-scroll .mat-dialog-container {
  overflow: hidden !important;
}


.invoice-dialog-scroll {
  position: absolute !important;
  top: 5%;
}

.invoice-dialog-preview {
  max-height: 80vh;
}

.invoice-preview-height {
  max-height: 75vh;
}

.invoice-manager .k-grid {
  height: 100% !important;
}

.max-width-style
{
  overflow: auto;
  max-height: 350px;
}

#style-1,
.mat-select-panel,
.company-registration-container .mat-dialog-container,
.testrun-status-preview-scroll,
.no-drag,
.k-grid-aria-root,
.payrollrun-dialog,
.employeeleavedetail-dialog,
.userstory-dialog-scroll .mat-dialog-container {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #f9f9f9;
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(222, 217, 217, 0.3);
    background-color: #c1bfbf;
  }
}

#style-2,
.mat-select-panel,
.company-registration-container .mat-dialog-container,
.testrun-status-preview-scroll,
.no-drag,
.k-grid-aria-root,
.userstory-dialog-scroll .mat-dialog-container {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #f9f9f9;
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(222, 217, 217, 0.3);
    background-color: #c1bfbf;
  }
}



::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #2f8cfb !important;
}

::selection {
  color: #ffffff;
  background: #2f8cfb !important;
}

.edit_transition {
  max-width: 350px !important;
  min-width: 350px !important;
}


button:disabled:hover {
  background-color: #e0e0e0 !important;
  cursor: no-drop;
}

.compact-list .mat-list-item:hover {
  background: $hover-color;
}

.logo_btrak {
  width: 300px;
}

.mat-card-title {
  font-size: 1rem !important;
  color: $black-color;
}

.mat-card.p-0 .mat-card-title .mat-divider {
  margin-left: 0;
  margin-right: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.mat-list .mat-list-item.mat-2-line {
  height: 30px !important;
}


button:disabled::before {
  background-color: #e0e0e0;
}

.k-grid-header .k-header {
  font-weight: 600;
}

.k-grid-header {
  background: $kgridheader-background !important;
  color: $kgridheader-textcolor !important;
}

.k-grid .k-grid-aria-root {
  overflow: auto !important;
  border-radius: 5px;
}

.mat-menu-content mat-divider.mat-divider {
  margin: 0 !important;
}

.k-grid .k-grid-aria-root {
  display: block !important;
}

.mat-radio-outer-circle,
.mat-radio-inner-circle {
  width: 15px !important;
  height: 15px !important;
  top: 2px !important;
}

.mat-radio-inner-circle {
  transform: scale(0) !important;
}

.mat-radio-checked .mat-radio-inner-circle {
  transform: scale(0.5) !important;
}

.mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
  background: linear-gradient(90deg, rgba(239, 239, 245, 0.22) 0%, #e7edf1 0.5%, rgba(255, 251, 251, 0.83) 99%, rgb(234, 230, 230) 100%) !important;
}

.mat-radio-outer-circle {
  width: 15px !important;
  height: 15px !important;
}

.mat-radio-inner-circle {
  width: 15px !important;
  height: 15px !important;
}

.breadcrumb-title .bc-title {
  font-size: 1rem !important;
  font-weight: 500;
}


.mat-menu-content {
  padding: 0 !important;
}


.mat-card-title {
  font-size: 0.875rem !important;
  margin-bottom: 0 !important;
}

.mat-radio-label-content {
  padding-left: 0 !important;
}

.k-window-titlebar {
  padding: 10px;
}

.k-window-title {
  font-size: 16px;
}

.k-dialog-wrapper .k-dialog {
  border-radius: 6px;
  overflow: hidden;
}

.k-window-titlebar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.k-grid th,
.k-grid td {
  padding: 7px 12px;
  border-bottom: 1px solid #e8e8e8;
}

.k-grid tbody tr:hover {
  background-color: $k-grd-hover-color !important;
}

.k-grid th,
.k-grid td {
  font-size: 14px !important;
  font-weight: 300;
  color: #000;
}

.k-grid-pager {
  border-radius: 5px;
}

.k-widget k-grid {
  display: flex;
  overflow: auto !important;
}

.k-tooltip {
  background: $ktooltip-background !important;
  color: $white-color !important;
}

/*------------style for image in dropdown start-----------------*/
.employee_img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 6px 6px 0 0;
  float: left;
}

/*------------style for image in dropdown end-----------------*/

.grid-wrapper {
  position: relative;
}

.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, .3);
  color: $primary-color;
}

.ptt-05 {
  padding-top: 05px,
}

.archive-label {
  margin: 17px 10px 0 0;
}

.archive-switch {
  margin: 0px 0 0 0;
}


/*--------------drag drop scss start--------------*/
.gu-mirror {
  background: #f1ebeb;
  margin: 0 0 5px 0;
  // border-left: solid 3px $primary-color;
  box-shadow: 0px 0px 2px 1px #d4d4d4;
}

.gu-mirror .mat-list-text {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}

.gu-mirror h3 {
  font-size: 14px !important;
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gu-mirror p {
  font-size: 14px !important;
  margin: 0px !important;
  line-height: 20px;
  word-break: break-word;
}

.gu-mirror img {
  width: 30px !important;
  height: 30px !important;
  float: left;
  margin-right: 10px !important;
  margin-top: 0px;

}

.gu-mirror .mat-list-item-content {
  padding: 0 16px;
}

.gu-mirror .mat-list-text {
  margin: 8px 0 !important;
  overflow: hidden;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);

}

.gu-transit img {
  float: left;
}

.gu-transit .mat-list-text {
  float: right;
}

.gu-transit .kanban_days {
  float: left !important;
}

/*--------------drag drop scss start--------------*/


.navigation-hold.ps.ps--active-y {
  z-index: 9999999999;
}

.fa {
  cursor: pointer;
  margin-right: 5px;
}

.mat-menu-panel {
  margin-top: 10px;
}

.right_button {
  float: right;
  margin-top: -2px;
}

.k-animation-container {
  width: 300px !important;
}

.k-animation-container-shown {
  width: 300px !important;
}

.k-tooltip {
  border-radius: 5px;
}

.mat-expansion-panel-body {
  padding: 10px 24px !important;
}

.mat-expansion-panel-body .mat-checkbox {
  margin: 0 15px 9px 0 !important;
  padding: 0 !important;
  display: inline-block;
}

// .mat-form-field-appearance-legacy {
//   .mat-form-field-infix {
//     padding: .3em 0 !important;
//   }
// }

.e-grid .e-rowcell {
  padding: 2px 21px !important;
}

@media only screen and (max-width: 1366px) {

  .block_uisec p,
  .block_uisec b {
    width: 100% !important;
  }

  .project-summary .mat-card {
    height: 260px !important;
    overflow: auto;
  }

  // .project-card .project-card-name{
  //   font-size: 16px !important;
  //   line-height: 25px !important;
  // }
  .project-card .badge-item {
    padding: 2px 7px;
  }

  // .project-card .project-avatar-image .avatar-content{
  //   font-size: 15px !important;
  //   line-height: 50px !important
  // }

}

@media only screen and (max-width: 768px) {
  .leftbox_border .mat-list {
    height: auto !important;
  }

  .mat-menu-panel .mr-1,
  .test-suite .mr-1 {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 375px) {
  .button_topright {
    position: static !important;
    margin-bottom: 10px;
    margin-left: 5px !important;
  }
}


.k-pager-wrap .k-pager-nav,
.k-pager-wrap .k-pager-numbers .k-link,
.k-pager-wrap .k-pager-numbers .k-state-selected {
  border-radius: 2px !important;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-state-selected {
  width: calc(0px + 1.42857143em);
  height: calc(0px + 1.42857143em);
}

button,
a {
  outline: none !important;
}

.k-notification-group {
  z-index: 1;
}

.k-grid-header .k-grid-filter,
.k-grid-header .k-header-column-menu {
  bottom: calc(8px + 0.7142857143em + -4px + -0.7142857143em);
}

.k-dialog-titlebar {
  background: #06acc1;
}

.k-dialog-button-layout-stretched .k-primary:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active) {
  color: #06acc1;
}

.k-window-titlebar+.k-window-content {
  margin: 0;
  padding: 10px;
}

.k-switch-on .k-switch-handle {
  left: calc(100% - 3.4em) !important;
}

.mat-tab-label-active .active-goals,
.mat-tab-label-active .members-count,
.mat-tab-label-active .under-replan,
.mat-tab-label-active .components-count,
.mat-tab-label-active .backlog-goals,
.mat-tab-label-active .parked-count,
.mat-tab-label-active .archived-count,
.projects-tab-dropdown-list .mat-active,
.projects-tab-dropdown-list .select-goal-trigger {
  background: $active-goals-activetab-background;
}


.loading-card {
  overflow: inherit !important;
  margin: 2px 5px;
  background: none !important;
}

.loading-border {
  border-radius: 10px;
}


@media only screen and (max-width: 1919px) {

  .loading-card {
    min-height: 70px;
  }

  .loading-card .loading-image {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 1919px) {
  .loading-card .loading-image {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 360px) {
  .search-bar {
    min-width: 180px !important;
    border-radius: 40px;
    display: flex;
    align-items: center;
  }
}

.log {
  padding-bottom: 1em
}

.search-bar {
  // width: 200px;
  background: none;
  border-radius: 40px;
  display: flex;
  align-items: center;

  .search-icon {
    min-width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s ease;
  }

  .search-field {
    border: none;
    outline: none;
    color: $black-color;
    transition: .5s;
    border-bottom: solid 1px #949494;
  }
}


.error-margin {
  margin-top: 2px;
}

@media only screen and (max-width: 430px) {
  .custom-mobile-popover {
    max-height: 350px;
    overflow-y: auto;
  }
}

.custom-auto-spinner {
  position: absolute;
  margin-left: -15px;
}

.custom-auto-close {
  margin-left: -28px;
  margin-top: 10px;
}


@supports (-ms-ime-align: auto) {
  .sat-popover-container {
    max-width: 450px !important;
  }
}

//------hover effects--//

.mat-icon-button:hover {
  background: rgba(242, 139, 159, 0.1);
}

.filter-section {
  ul {
    li:hover {
      background-color: $hover-color;
    }
  }
}

.active-goals-hover {
  .mat-list {

    .mat-list-item,
    .mat-subheader {
      height: 40px !important;
    }
  }
}

.projectStatus-tabs .mat-tab-label:hover,
.active-goals-hover .mat-list-item:hover,
.active-goals-hover .mat-subheader:hover {
  background-color: $hover-color;
  transition: all 0.5s;
}


.board-type-icons:hover,
.goal-summary .goal-card:hover .more_vert:hover,
.project-count:hover,
.allgoals_icons:hover {
  color: $primary-color;
}

.mat-raised-button:hover:enabled,
.plus_icon:hover,
.icon-style:hover,
.custom-close:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

.add-newtask:hover {
  color: $black-color;
}

.role-permission-hover:hover,
.role-feature-name:hover,
.goalname-content:hover,
.role-permission:hover {
  color: $fileupload-hint-color !important;
}

// .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
//     display: none !important;
// }

/********************************/

.branding.default-bg.top-logo-bg {
  display: inline-block !important;
  text-align: center;
}

.branding.default-bg.top-logo-bg img {
  padding: 5px;
}

.mat-tab-list .mat-tab-labels .mat-tab-label {
  // text-transform: capitalize;
  color: #757575;
  padding: 0px 10px;
  margin-right: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.mat-tab-label.mat-tab-label-active {
  background: #e1f0ff !important;

  .mat-tab-label-content {
    font-weight: 700;
  }
}

.mat-tab-list .mat-tab-labels .mat-tab-label:hover,
.mat-tab-list .mat-tab-labels .mat-tab-label:focus {
  background: $hover-color;
}

.mat-tab-label {
  min-width: 125px !important;
  height: 40px !important;
  opacity: 1 !important;
}

.goal-more_horiz {
  width: 20px;
}

.sidenav span.item-name {
  color: $primary-text-color;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600 !important;
}

.goalList-popup.mat-card {
  margin: 0px !important;
}


.custom-select-matform .mat-form-field-label {
  width: calc(100% - 28px) !important;
  margin-top: 2px;
  left: 5px;
  top: 1.30em;
}

.mat-input-element {
  color: #212121 !important;
}

.mat-checkbox-frame {
  border-width: 0.5px !important;
  border-color: $checkbox-color !important;
  border-radius: unset !important;
}

.datatable-checkbox input[type=checkbox]:checked:before {
  transform: rotate(-45deg);
  height: .5rem;
  border-color: $primary-color;
  border-top-style: none;
  border-right-style: none;
}

.datatable-checkbox input[type=checkbox]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #fff;
  cursor: pointer;
}

kendo-grid-group-panel.k-grouping-header.k-grouping-header-flex {
  display: none;
}

.custom-searchbar,
.search_goalinput {
  input {
    border: 1px solid $custom-border-color !important;
    border-radius: 4px;
    height: 32px;
    text-transform: initial !important;
    padding: 0 26px 0 10px !important;
    background-color: $white-color;
  }

  .mat-form-field-label {
    left: 5px;
    top: 1.35em;
  }

  .mat-form-field-underline,
  .mat-form-field-ripple {
    background-color: transparent !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0.25em;
  }
}

.custom-select-matform {
  .mat-form-field-wrapper {
    padding-bottom: 0.25em;
  }
}

fa-icon {
  color: $grey-iconColor;
}

.img-height-main-logo-topbar {
  height: 35px;
}

@media only screen and (max-width: 1366px) and (min-width: 780px) {
  .project-tabs-container .mat-tab-header {
    max-width: 60%;
  }
}

@media only screen and (max-width: 460) {
  .custom-add-icon {
    padding-top: 20px;
  }
}

.custom-add-icon fa-icon {
  color: $primary-color;
  border-bottom: 2px solid $border-bottom-color;
  cursor: pointer;

}

.default-board {
  background-color: $white-color;
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  width: 100%;
  overflow-y: hidden;
}


.sprint-board {
  background-color: $white-color;
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    width: 100%;
  }


.display-search-filters{
  border-top: 1px solid #75757530;
  margin-top: 40px;
  border-left: 1px solid #75757530;
  padding: 5px;
  margin-right: 20px;

  span {
    margin-left: 5px;
  }

  @media only screen and (min-width: 768) {
    margin-right: 40px;
  }

}

.widget-progressbar {
  counter-reset: step;
  padding: 0;
}

.widget-progressbar li {
  list-style: none;
  display: inline-table;
  width: 16%;
  position: relative;
  text-align: center;
  cursor: not-allowed;
  font-weight: 600;
}

.widget-progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  font-weight: bold;
  z-index: 1;
  position: relative;
}

.widget-progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #ddd;
  top: 14px;
  left: -50%;
  z-index: 0;
}

.widget-progressbar li:first-child:after {
  content: none;
}

.widget-progressbar li.active {
  color: $primary-color;
  cursor: pointer;
}

.widget-progressbar li.inactive {
  cursor: not-allowed;
}

.widget-progressbar li.active:before {
  border: 3px solid white;
  background-color: $primary-color;
  color: white;
}

.widget-progressbar li.active:after {
  background-color: $primary-color;
  z-index: 0;
}

.custom-cell-width {
  width: 250px;
}

.backdrop-bgcolor {
  background-color: #000;
}

.data-table-header {
  background-color: #eff0f2;
  color: #3e4148;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  font-weight: 800;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.custom-widget-icon {
  color: $primary-color;
  font-size: 29px;
  cursor: pointer;
}

.create-popup-text {
  font-size: 16px;
  margin-top: 19px;
}

.custom-input-field {
  input {
    border: 1px solid $custom-border-color !important;
    border-radius: 4px;
    height: 32px;
    padding: 0 26px 0 10px !important;
    background-color: $white-color !important;
  }

  .mat-form-field-label {
    left: 5px;
    top: 1.35em;
  }

  .mat-form-field-underline,
  .mat-form-field-ripple {
    background-color: transparent !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0.25em;
  }
}


.filter-panel .mat-menu-item-highlighted {
  background: $hover-color !important;
}

.filter-panel {
  margin-top: 30px;
}

.theme-menu-class {
  width: 250px;
  margin-top: 17px;
}

.k-popup {
  width: 180px !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.dropdown-custom-text {
  margin-bottom: 0px;
  font-family: Lato, "Helvetica Neue", sans-serif;
  color: $primary-text-color;
}

.custom-datatable-cell {
  width: 110px !important;
}

.mat-expansion-panel:hover {
  background: $hover-color !important;
}

.table-border {
  border: 1px solid #e0e0e0;
  border-top: none;
}


.custom-matpanel {
  margin-top: 32px;
}

.u-userLauncherColor {
  border: 1px solid #fff !important;
}


.full-height {
  height: 100%;
}

.widget-gridster {
  .component-vertical-scroll {
    height: 100%;
  }
}

.k-animation-container {
  .k-popup {
    width: 300px !important;
  }
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav>li {
  position: relative;
  display: block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  margin-left: 13px;
}

.tab-content>.active {
  display: block;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

a {
  background-color: transparent;
  // color: #337ab7;
  text-decoration: none;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.k-tabstrip-items .k-item.k-state-active {
  background-color: $primary-color !important;
}

.userstory-detail-status {
  display: inline-block !important;
}

.custom-mat-option {
  .mat-checkbox-inner-container {
    height: 20px !important;
    width: 20px !important;
    background: linear-gradient(90deg, rgba(239, 239, 245, 0.22) 0%, #e7edf1 .5%, rgba(255, 251, 251, 0.83) 99%, #eae6e6 100%) !important;
  }
}

.data-table-header {
  .mat-form-field-should-float {
    .mat-form-field-label {
      display: none !important;
    }
  }

  .search_goalinput,
  .custom-select-matform {

    .mat-form-field-label {
      top: 1.15em;
    }

    .mat-form-field-infix {
      border-top: .14375em solid transparent;
      padding: .15em 0;
      margin-top: 0.25em;
    }

    .close_icon {
      position: absolute;
      right: 5px !important;
      top: 14px !important;
    }

    .close_icon_screen {
      position: absolute;
      right: 5px;
      top: 11px;
    }

    .close_icon_billing {
      position: absolute;
      right: 0px !important;
      top: 13px !important;
    }

    .close_icon_all_work_items {
      position: absolute;
      right: 5px !important;
      top: 13px !important;
    }
  }
}

.custom-chip-box {
  .mat-form-field-should-float {
    .mat-form-field-label {
      display: none !important;
    }
  }

  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  // display: inline-flex !important;
  padding: 7px 12px !important;
  border-radius: 16px !important;
  align-items: center;
  cursor: pointer;
  min-height: 32px;
  height: 1px !important;
  // width: 150px;

  .mat-select-arrow-wrapper {
    visibility: hidden;
  }

  .mat-select-value-text {
    margin-left: 5px;
  }

  .mat-form-field-label {
    margin-top: 5px;
    margin-left: 5px;
  }
}


.chip-box-margin{
.mat-form-field-label {
  margin-top: 5px;
  margin-left: 10px;
    }

}

.hide-mat-form-label {
  .mat-form-field-should-float {
    .mat-form-field-label {
      display: none !important;
    }
  }
}

.custom-chip-bg {
  background-color: #e0e0e0 !important;
  color: rgb(143, 143, 143);
  text-overflow: ellipsis;
}

.mat-datetimepicker-calendar-header {
  background-color: $primary-color;
}

.mat-datetimepicker-calendar-body-cell-content {
  &.mat-datetimepicker-calendar-body-selected {
    background-color: $primary-color;
    color: white;
  }
}

.mat-datetimepicker-calendar-body-disabled>.mat-datetimepicker-calendar-body-selected {
  background-color: $primary-color;
}

.mat-datetimepicker-calendar-body-today {
  &:not(.mat-datetimepicker-calendar-body-selected) {
    border-color: $primary-color;
  }

  .mat-datetimepicker-calendar-body-selected {
    box-shadow: $primary-color;
  }
}


.mat-datetimepicker-clock-center {
  background-color: $primary-color;
}

.mat-datetimepicker-clock-hand {
  background-color: $primary-color;

  &::before {
    background-color: $primary-color;
  }
}

.mat-datetimepicker-clock-cell {
  &.mat-datetimepicker-clock-cell-selected {
    background-color: $primary-color;
  }
}

.display-inline-flex {
  display: inline-flex !important;
}

.leaveType-progressbar {
  counter-reset: step;
  padding: 0;
}

.leaveType-progressbar li {
  list-style: none;
  display: inline-table;
  width: 23%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.leaveType-progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  font-weight: bold;
  z-index: 1;
  position: relative;
}

.leaveType-progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #ddd;
  top: 14px;
  left: -50%;
  z-index: 0;
}

.leaveType-progressbar li:first-child:after {
  content: none;
}

.leaveType-progressbar li.active {
  color: $primary-color;
}

.leaveType-progressbar li.active:before {
  border: 3px solid white;
  background-color: $primary-color;
  color: white;
}

.leaveType-progressbar li.active:after {
  background-color: $primary-color;
  z-index: 0;
}

@-ms-viewport {
  width: device-width;
}

@-ms-viewport {
  width: 1920px;
}

.custom-width-cell-1 {
  width: 180px !important;
}

.custom-width-cell-2 {
  width: 130px !important;
}

.custom-width-cell-3 {
  width: 90px !important;
}

.custom-width-cell-4 {
  width: 304px !important;
}

@-ms-viewport {
  width: 1920px;
}

.edit-userstory {


  .mat-form-field-infix {
    border-top: 0;
    padding: .0375em 0;
  }

  .mat-form-field-label-wrapper {
    display: none;
  }

  .search_goalinput input {
    padding: 0 06px 0 10px !important;
  }
}

.custom-edit-field {
  max-width: 290px;

  min-width: 200px;
}

.d-grid {
  display: inline-grid !important;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav>li {
  position: relative;
  display: block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  margin-left: 13px;
}

.tab-content>.active {
  display: block;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav>li>a {
  position: relative !important;
  display: block !important;
  padding: 10px 15px !important;
}

a {
  background-color: transparent !important;
  color: #337ab7 !important;
  text-decoration: none !important;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.error-msg{
  color:red;
}
.input-padding input{
padding: 10px !important;
}

.userstory-detail-status {
  display: inline-block !important;
}

.k-scheduler-table td,
.k-scheduler-table th {
  height: 2.428571em;
}

kendo-scheduler .k-event>div,
.k-event>div {
  height: 100%;
  position: absolute;
  width: 100%;

}

.custom-name-bg:hover {
  background-color: #d0cfcf54;
  cursor: pointer;
}

.adhoc-userstory {
  margin-top: 3px;
  border-radius: 5px;
}

.k-button-group .k-button {
  text-transform: none;
}

.k-button-group .k-button.k-state-active, .k-button-group .k-button:active {
  border-color: $primary-color;
  color: #fff;
  background-color: $primary-color;
}

.notification-cursor{
    cursor: pointer !important;
}

.invoice-page input {
    border: 0;
    background-color: #eaeaea;
    padding: 0;
    height: 23px;
}

.invoice-page .invoice-title {
    border: 0;
    background-color: #eaeaea;
    padding: 0;
    height: 35px;
    font-size: 22px;
    font-weight: 700;
    color: #a09999;
}

.invoice-page {
    font-size: 14px;
    font-weight: 600;
}

.invoice-container.mat-form-field-underline {
    height: 0px !important;
    display: none;
}

.invoice-container .mat-form-field-underline::focus {
    height: 0px !important;
}

.invoice-container {
    input {
        border: none;
        text-transform: initial !important;
        background-color: #eaeaea;
        color: #a09999 !important;
        padding: 0;
        height: 26px;
    }

    .mat-form-field-label {
        left: 5px;
        top: 1.35em;
    }

    .mat-form-field-underline, .mat-form-field-ripple {
        background-color: transparent !important;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0.25em;
    }
    // .mat-form-field-infix{
    //   padding: 0;
    //   border-top: 0;
    // }
    .mat-form-field-infix {
        border-top: 0px;
    }

    .mat-form-field-should-float .mat-form-field-label {
        display: none !important;
    }
    //  .mat-input-element {
    //     margin-top: 0.2625em;
    // }
}


// .invoice-dropdown{
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   text-indent: 1px;
//   padding: 3px;
// }

.overflow-visible {
    overflow: visible;
}

.invoice-container td:first-child, .invoice-container th:first-child {
    text-align: inherit;
    padding-left: 0;
    width: 40%;
}

.invoice-container td, .invoice-container th {
    padding-right: 0;
    text-align: right;
    width: 13%;
}

.invoice-padding {
    padding-left: 50px;
    padding-right: 50px;
}

.invoice-item-save {
    position: absolute;
    margin-top: 7px;
    margin-left: -32px;
    display: flex;
    align-items: center;
}

.invoice-item-edit-delete {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    width: 40px;
}

.invoice-title-field {
    .mat-form-field-label {
        font-size: 23px;
        margin-top: -9px;
        font-weight: 700;
    }
}

.invoice-select {
    .ng-input {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .ng-arrow-wrapper {
        display: none;
    }

    .ng-select-container {
        background-color: #eaeaea;
        min-height: 24px;
        height: 24px !important;
    }

    .ng-select-container:hover {
        background-color: #eaeaea;
    }
}

.invoice-select.ng-select-opened > .ng-select-container, .invoice-upsert-form textarea {
    background-color: #eaeaea;
}

.invoice-select-price .ng-select-container {
    direction: rtl !important;
    height: 32px !important;
}

.invoice-discount-price {
    position: relative;
    top: 4px;
}

.invoice-amount-price, .invoice-select-price .ng-value-label {
    font-size: 23px;
    font-weight: 700;
    position: relative;
    top: 1px;
}

.invoice-upsert-form {
    overflow: auto;
    height: calc(100% - 85px);
}

.invoice-move-top {
    position: relative;
    top: 4px;
}

.invoice-discount .mat-form-field-label {
    position: relative;
    top: 10px;
}

.invoice-client .ng-value-container .ng-value {
    position: relative;
    top: 3px;
}

.expenses-dialog-scroll .mat-dialog-container {
    overflow: hidden !important;
}

.expense-dialog-scroll {
    position: absolute !important;
    top: 15%;
    max-height: 70% !important;
}

.expense-dialog-height {
    max-height: 60vh;
}

.add-icon-expense {
    font-size: 20px;
    padding-top: 5px;
}

.k-grid-norecords{
  width: 100%;
  height: 100%;
  text-align: center;
  display: contents !important;
  align-items: center;
}

.goal_clear{
  position: absolute;
  top: 22.5px;
}

.first-Color{
    box-shadow: none !important;
}
.custom-dragdrop {
    text-align: center;
    border-width: 1.5px;
    border-style: dashed;
    border-color: #b7b7b7cf;
    border-radius: 10px;
    height: 50px;
    margin: 0 auto;
}

.custom-drag-items-text {
    color: $primary-color !important;
    text-align: center;
    margin-top: 6px;
}

.sprint-mat-form-label{
  .mat-form-field-label {
    margin-top: 2rem !important;
    color: $primary-text-color !important;
    width: 120px !important;
  }
}
.activity-data {
    .k-grid-header .k-header > .k-link {
        color: #000 !important;
        cursor: unset;
    }
}
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
  color: inherit !important;
}
.k-grid a {
  color: inherit !important;
  text-decoration: none;
}
.k-link, .k-link:hover {
  color: inherit !important;
}

.kendo-tree-total-height {
    min-height: calc(100vh - 300px) !important;
}

.top-right-dialog{
  position: fixed;
  right: 28.5%;
  top: 15%;
}

.k-treeview .k-in.k-state-selected {
  color: #000 !important;
  background-color: #e9eaf3 !important
  ;
}
.testcase-icon {
    margin-top: 34px;
}

.mat-nav-list .mat-list-item .mat-list-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.member-header {
    color: #3e4148;
    font-weight: 800;
}

@media only screen and (max-width: 1024px) {
    .document-store {
        display: inline-block !important;
        width: 100%;
    }
}

.document-store {
    display: flex;
}

.custom-widget-tag {
    // background-color: #7378809e;
    background-color: #b9bfca9e;
    border-radius: 10px;
    padding: 0px 4px !important;
    margin-right: 3px;
    max-width: 100%;
    float: left;
    color: #7e8688;
    margin-bottom: 5px;
    font: 400 12px/20px Lato, "Helvetica Neue", sans-serif;
    // color: #6d7f82;
}

.custom-tags-details {
    word-wrap: break-word !important;
    display: list-item !important;
}
.document-tree .k-widget {
    border-width: 0px !important;
}

.company-hierarchical-tree .k-widget {
  border-width: 0px !important;
  font-size : 35px !important;
}

.custom-widget-dashboard {
  font: 400 12px/20px Lato, "Helvetica Neue", sans-serif;
  background-color: #00000033;
  border-radius: 10px;
  padding: 0px 4px !important;
  margin-right: 3px;
  max-width: 100%;
  float: left;
  color:  #656565;
  margin-bottom: 5px;
  // color: #6d7f82;
}

.satpopover-custom-close{
  position: relative;
  float: right;
  margin-top: -35px;
  margin-right: 22px;
  .custom-close {
    position: fixed;
    width: 30px;
    background-color: $grey_background;
    height: 30px;
    border-radius: 20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    cursor: pointer;
  }
  .project-dialog {
    position: absolute;
    top: 14px;
    left: 7px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    color: $grey-iconColor;
    font: small-caption;
  }
}

.documents:hover .document-icon{
  display: block !important;
}
.document-icon{
  display: none;
}


.workflow-pagination .datatable-pager {
  text-align: left !important;
}