<div *ngIf="isFormLoaded">
    <div fxLayout="row">
        <div fxFlex class="m-3">
            <h5 class="text-center">{{formName}}</h5>
        </div>
    </div>
    <div id="style-1" style="height: calc(90vh - 115px) !important;">
        <div class="m-1"  [ngStyle]="{'background-color': formBgColor}">
            <formio [form]="form" [readOnly]="true"></formio>
            <!-- <formio [form]="form" ></formio> -->
        </div>
    </div>
</div>

<div class="loader text-center" *ngIf="!isFormLoaded"></div>