/*--------user stories start---------*/
.allgoals_txt {
  padding: 4px 0;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show_goal_tag {
  padding: 3px 10px;
  line-height: 12px;
  color: #ffffff !important;
  font-weight: 400;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 8px;
  background-color: rgb(254, 126, 2);
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  flex: 1 1 0%;
  box-sizing: border-box;
}

.goalname-content{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  user-select: all !important;
  cursor: copy;
  margin-bottom: 5px;
}

.hide_goal {
  margin: 1px 5px 0 2px !important;
}

.estimated-time{
  margin-bottom : 10px;
  .mat-error {
    font-size: smaller;
  }
}

.userstory-unique{
  padding: 2px;
  max-width: 100px;
  font-size: 12px;
  line-height: 15px;
  color: $primary-text-color;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  &:hover {
    color: #008CBA !important;
    text-decoration: underline !important;
      }
}

.unique-numbers-hover, .custom-link {
  color: #008CBA !important;
  &:hover {
text-decoration: underline !important;
  }

  fa-icon {
    color: #008CBA !important;
  }
}


 .custom-link {
  color: #008CBA !important;
  &:hover {
text-decoration: underline !important;
  }
}

.unique-numbers-cursor-text {
  cursor: text !important;
}

.unique-number-padding {
  padding-right: 10px;
}

.ng-select.custom-ng-select-template {
  .ng-select-container {
      width: 100% !important;
      .ng-value-container {
        max-width: 100% !important;
        .ng-value {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      max-width: 150px !important;
    }
  }
  }
}

.status-template{
  border-radius: 5px;
  .ng-select-container{
    opacity: 0.4;
  }
}

.status-template{
  border-radius: 5px;
  .ng-select-container{
    opacity: 0.4;
  }
}

.version-name{
  padding: 2px 3px;
  max-width: 100px;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.user-detailsuser-details .mat-checkbox {
  margin: 14px 5px 0 0;
}

.allgoals-headicons {
  float: right;
  margin: -3px 13% -5px 0;
}

.update-goals i,
.allgoals-headicons i {
  font-size: 16px;
  margin: 0 5px 0 5px;
}

.allgoals-headicons i {
  margin: 0 0 0 10px !important;
}

.update-goals {
  float: left;
}

.update-goals i:hover,
.allgoals-headicons i:hover {
  color: $secondary-color;
  transition: all 0.5s;
}

.goalstatus {
  height: calc(100vh - 160px);
  max-height: calc(100vh - 160px);
  width: 100%;
}

.goalstatus .mat-list-item-content {
  padding: 0 !important;
}

.goalstatus-backlog {
height: auto;
max-height: calc(100vh - 200px) !important;
}

.sprints-list {
height: auto;
max-height: 300px !important;
}

.adhoc-page-height {
  height: auto;
  max-height: calc(100vh - 280px) !important;
  }

.allgoals_process {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: #6560698f !important;
  margin-top: 2px;
  font-weight: 400 !important;
  text-transform: lowercase;
}

.allgoals_process::first-letter {
  text-transform: uppercase;
}


.user-details {
  padding: 0 10px !important;
  border-left: solid 2px #36c2c4;
  border-bottom: solid 1px #ccc;
}

.user-details {
  .avatar-content {
    margin: 10px 0 0 0;
    width: 25px !important;
    height: 25px !important;
  }
}

.user-details .mat-checkbox {
  margin: 14px 0px 0 0;
}

.update-goals .mat-checkbox {
  margin: 1px 5px 0 0;
}

.goalstatus .mat-list .mat-list-item.mat-list-item-with-avatar {
  height: 53px;
}

.user-story .mat-list .mat-list-item {
  height: 40px;
  line-height: 18px;
}
.mat-list-item.user-story-list.mat-list-item:last-child{
  margin-bottom: 5px;
}

.user-story-list {
  border-top: solid 1px #dfe1e6;
  border-bottom: solid 1px #dfe1e6;
  margin-top: -1px;
  &:last-child{
    &:hover{
      box-shadow: 1px 0 0 #cfd4de, inset -1px 0 0 #e7f0ff, 0 0px 0px 0 rgba(60, 64, 67, 0.3), 0 0px 1px 0px rgba(60, 64, 67, 0.15);
    }
}
  &:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    background-color: #00000005 !important;}

   
}

.link-user-story-list {
  border-top: solid 1px #dfe1e6;
  border-bottom: solid 1px #dfe1e6;
  border-left: solid 1px #dfe1e6;
  border-right:solid 1px #dfe1e6;
  cursor: pointer;
  margin-top: -1px;
  &:last-child{
    &:hover{
      box-shadow: 1px 0 0 #cfd4de, inset -1px 0 0 #e7f0ff, 0 0px 0px 0 rgba(60, 64, 67, 0.3), 0 0px 1px 0px rgba(60, 64, 67, 0.15);
    }
}
  &:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    background-color: #00000005 !important;}

   
}

.userstory-left {

  margin: 1px 5px  1px 2px;
}

.userstory-chcekbox .mat-checkbox-layout {
  margin-bottom: 0px;
}

.userstory-chcekbox {
  margin-top: 2px;
}


.history-list .allgoals_txt {
  padding: 5px;
}

.all-goalslist .mat-list-item:hover {
  transition: all 0.5s;
}

.userstory-transitions {
  font-size: 14px;
}

.userstory-transitions-list {
  .mat-list-item {
    height: 35px !important;
  }
}

.userstory_data fa-icon:hover {
  color: $primary-color;
  cursor: pointer;
}

.userstory-accordion{
  margin-top: 4px !important;
}

.userstory-accordion:hover {
  color: $primary-color;
  cursor: pointer;
}


.userstory-list:hover .userstory-accordion{
 transition-timing-function: ease-in;
 transition: 0.2s;
}


.userstory_data {
  height: 50px;
  margin: 0px !important;
  padding: 0.45rem 0.5rem 3.2rem 0;
}

.userstory_data .mat-checkbox {
  vertical-align: sub;
  margin: 10px 0 0 0;
  float: left;
}

.userstory_data .mat-checkbox label {
  margin: 0;
}

.kanban-superagile .active {
  color: $primary-color;
}

.kanban-superagile {
  margin: -4px -8px -8px 0;

  fa-icon {
    padding: 16px 8px;
    width: 30px;
    position: relative;
    bottom: 8px;
    float: left;

  }



  .kanban-icon {
    svg {
      transform: rotate(90deg);
    }
  }
}

.kanban-view .kanban-icon {
  svg {
    transform: rotate(90deg);
  }
}

.userStory-name {
  width: 100px;
}
.userStory-name-pm{
  width:100px;
  @media only screen and (max-width: 425px) {
  min-width: 40px;
  }
}

.goal-title {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}

.font-bold {
  font-weight: $font-weight-bold;
}

.userStory-dialog {
  .mat-dialog-content {
    max-height: 100%;
  }
}
.user-dailog{
  display: block;
  margin: 0 -24px !important;;
  padding: 0 24px !important;;
  max-height: 75vh !important;;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.userStory-float {
  .fab-item {
    color: $white-color !important;
  }

  .fab-menu.active {
    .fab-toggle {
      transform: scale(1, 1) translate3d(0, 0, 0) !important;
    }
  }
}

.superagile-summary{
  height: 46px;
  border-bottom: 1px solid $card-border-color;
  margin-top: -1px;
}

.tag-superagile-summary{
  height: 46px;
  border-bottom: 1px solid $card-border-color;
  margin-top: -1px;

  .userstory-list{
    margin-top: 9.5px !important;
  }

}

.user-story-list:first-child{
  margin-top: 0px;
}

.user-story-list:last-child{
  border-bottom: solid 1px #dfe1e6;
}

.userstory-input{
  border: solid 1px #dfe1e6;
}


  .userstory-tags{
    border-radius: 24px !important;
    font-size: 13px !important;
    line-height: 16px !important;
    display: flex !important;
  
}

.tags-popup{
  .mat-chip-list-wrapper{
  max-height: 60px;
  overflow-y: auto;
  overflow-x: auto;
 margin-top: 2px;
  }

}

.tag-display{
display: inline-block;
word-break: break-word;
}


.tags-details-popup{
  max-height: 60px;
  overflow-y: auto;
}

.tag-unque-display{
  max-width: 50%;
  display: inline-block !important;
}

.tag-unque-displaygoaltag{
  display: inline-block !important;
}

.tag-input-custom{
  background-color: #ccc;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
  max-width: 100%;
  float: left;
}

.userstory-summary{
  cursor: pointer;
  .right-click-menu {
    display: none;
    visibility:hidden;
    position:fixed
  }

  &:hover {
    .right-click-menu {
      display: inline-block;
    }
  }
}

.archive-float {
  .fab-item {
    background-color: $archiveFloat-background !important;
  }
}

.addGoal-float {
  .fab-item {
    background-color: $addGoalFloat-background !important;
  }
}

.ediGoal-float {
  .fab-item {
    background-color: $editGoalFloat-background !important;
  }
}

.enterUserstory-float {
  .fab-item {
    background-color: $enterUserstoryFloat-background !important;
  }
}

.absDaysCount {
  color: $red-color;
}

@media (max-width: 680px) {
  .user_transitions mat-form-field {
    width: 100%;
  }
}

/*--------user stories end---------*/
.user-story {
  .user-details {
    .allgoals_icons {
      padding: 14px 0;

      &:hover {
        color: $primary-color;
        transition: all 0.5s;
      }
    }
  }
}

.mce-content-body {
  height: 80px;
}


.userstory-emptytext {
  background: #ccc;
  height: 10px;
  margin: 4px 0 1px 0 !important;
}



@media (max-width: 1024px) {
  .userstory_data {
    float: left;
    width: 100%;
  }
  .kanban_main{
    float: left;
    width: 100%
  } 
  .goal-replan{
    max-width: 100%;
  }
 
}
//loader

.cs-loader {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  margin-top: 15px;
  width: calc(100% - 200px);
  color: $loader-color;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/* uncomment 'border' to see the bordered dots */

@keyframes loader {
  to { background: transparent; }
}

.goal-replan-type{
  height:40px;
}

.superagile-userstory_title {
  background: #f3f5f7;
  border: solid 1px $header-bg-color;
}

.custom-mat-error{
color: $red-color !important;
}
.default-board .superagile-userstory_title {
  border: none;
  border-bottom: solid 1px $header-bg-color;
}

.tooltip-overflow {
  word-break: break-word !important;
  max-width: 500px !important;
}

.userStory-name-control{
float: left;
max-width: 80%;
}

.history-tab{
  border-bottom: 1px solid $border-left-color;
  
  &:last-child {
    border-bottom: none;
  }

}


.short-goalname{
font-size: 13px;
margin-left:3px;
}

.userStory-name-control, .goal-title{
  // color: #4b4852 !important;
  color: $primary-text-color;
}

.details_userstory .mat-card-header-text{
width: 94%;
}

.userstory-summary{
  .more_vert {
    display: none;
    visibility:hidden;
    position:fixed
  }

  &:hover {
    .more_vert {
      display: inline-block;
    }
  }
}

.all-work-items .userstory-summary:hover {
  background: #eaeaea;
}

.userstory-summary .userstory-timeline-show{
display: none ;
font-size: 12px;
color: $primary-text-color;
@media only screen and (max-width: 1024px) {
  display: none  !important;
}
}

.subuserstory-list .userstory-list {
    border: 1px solid #ededed;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #c5c5c53d;
}

.custom-textarea.mat-form-field-appearance-legacy .mat-form-field-underline, .custom-selectbox .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
}

.custom-textarea textarea {
    background-color: #d6e5f13d;
    border: 1px solid #e4e4e4 !important;
}

.custom-textarea .mat-form-field-label {
    padding: 5px;
}

.display-timeline{
display: block !important;
font-size: 12px;
color: $primary-text-color;
}

.adhoc-userstories .userstory-timeline-show{
  display: block !important;
}

.userstory-summary:hover .userstory-timeline-show{
  display: block;
  

  @media only screen and (max-width: 1028px) {
    display: none !important;
  }
  }

  .goalstatus-height{
    max-height: calc(100vh - 317px)!important;
  }

  .cdk-overlay-container .cdk-overlay-pane .dropdown-custom-class{
    margin-top: 40px;
    }


    .userstory-table-group{
      .mat-tab-header{
        padding-left: 0px;;
      }
      .mat-tab-body-wrapper{
        padding: 0px;
      }
      .mat-tab-label{
        background: $primary-color !important;
        opacity: 0.67 !important;
        color: $white-color !important;
        margin-right: 2px;
        &:hover {
          opacity: 1 !important;
        }
      }
      .mat-tab-label.mat-tab-label-active{
        background: $primary-color !important;
        opacity: 1 !important;
      }
    }

    .estimation-time{
      @media only screen and (max-width: 425px) {
      max-width: 34px;
    }
  }
    .sub-task-estimation-time{
      @media only screen and (max-width: 425px) {
      max-width: 42px;
    }
  }

  .p-02{
padding: 0.2rem !important;
  }

  .display-grid{
display: grid;
  }

  .report-height{
  max-height: calc(100vh - 156px)!important;
}

.history-switch {
  float: right;
}
.history-switch {
  float: right;
}



.userstory-tags-display{
  display: flex;
    font-size: 9px;
}

.userStory-tag-control{
  margin-bottom: -4px;
  margin-top: -3px;
  padding-top: 0px !important;
}


.custom-userstory-tag{
  background-color: #b9bfca9e;
  border-radius: 10px;
  padding: 0px 4px !important;
  margin-right: 3px;
  max-width: 100%;
  float: left;
  color:   #7e8688;
  
}


.custom-goal-tag{
  border-radius: 10px;
  padding: 1px 4px;
  margin-right: 3px;
  max-width: 100%;
  float: left;
  color:   #7e8688;
  
}


.adhoc-tag{
line-height: 15px;
}

.sprint-workitems-board {
  background-color: #fff;
    height: 456px;
    width: 100%;
    overflow-y: scroll;
}

.description-text {
  color: #736e6ef0;
}

.userstory_color {
  color:white !important;
}

.userstory-badge-item {
  padding: 3px 8px !important;
  background: #b7b7b7 !important;
  color: white !important;
  border-radius: 5px;
}

.userstory-full-width
{
  min-width: 1000px;
}