<!-- <counter-increment></counter-increment>
<counter-element></counter-element>
<counter-decrement></counter-decrement>
<counter-reset></counter-reset> -->
<div  style="overflow: scroll; height: 100%">
  <!-- <custom-app-training-matrix-view [dashboardFilters]="">
  </custom-app-training-matrix-view> -->
  <!-- <app-fm-component-company-details></app-fm-component-company-details> -->
   <!-- <router-outlet></router-outlet>  -->
  <app-fm-component-companysetting></app-fm-component-companysetting>
  <!-- <app-fm-component-merchant></app-fm-component-merchant> -->
  <!-- <app-fm-component-business-unit></app-fm-component-business-unit> -->
  <!-- <app-fm-component-company-hierarchy></app-fm-component-company-hierarchy> -->
  <!-- <app-fm-component-time-zone></app-fm-component-time-zone> -->
  <!-- <app-fm-component-company-hierarchy></app-fm-component-company-hierarchy> -->
  <!-- <app-fm-component-time-zone></app-fm-component-time-zone> -->
  <!-- <app-settings-component></app-settings-component> -->
   <!-- <app-fm-component-shift-timing></app-fm-component-shift-timing>  -->
   <!-- <app-trendinsights-hrstats></app-trendinsights-hrstats>  -->
</div >