@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: '"Nunito Sans", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);  //$font-family: 'Lato, Roboto, "Helvetica Neue", sans-serif'

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);

// Keep atleast one file
@import "themes/egret-btrak";
// @import "themes/egret-dark-purple";
// @import "themes/egret-dark-pink";
@import "themes/egret-blue";
@import "themes/egret-indigo";
@import "themes/egret-dark-blue";
@import "themes/egret-bright-red";
@import "themes/egret-very-dark-magenta";
@import "themes/egret-grayish-blue";
@import "themes/egret-lime-green";
@import "themes/egret-grayish-cyan";
@import "themes/egret-desaturated-dark-cyan";
@import "themes/egret-desaturated-orange";
@import "themes/egret-desaturated-pink";
@import "themes/egret-soft-red";
@import "themes/egret-strong-blue";
@import  "themes/egret-dark-yellow";
@import "themes/egret-dark-grayish-green";
@import "themes/egret-moderate-orange";
@import "themes/egret-dark-moderate-violet";
@import "themes/egret-columbia-blue";
@import "themes/egret-rebecca-purple";

$background: map-get($egret-theme, background);
$foreground: map-get($egret-theme, foreground);