.new_policy {
    background: blue
  }
  
  .new_policy::before {
    background-color: rgb(13, 128, 243) !important;
  }
  
  .admin_policy {
    background: #074b1b;
  }
  
  .admin_policy::before {
    background-color: #09835a !important;
  }
  
  .print_policy {
    background: #f9a814 !important;
  }
  
  .print_policy::before {
    background-color: #f5b847 !important;
  }
  
  .update_policy {
    background: rgb(64, 153, 155);
  }
  
  .update_policy::before {
    background-color: rgb(47, 180, 182) !important;
  }