/*------status report start-------*/
.status-select {
    margin-top: -14px !important;
  }
  @media screen and (min-width: 1024px) {
    .report-configuration-window {
      min-width: 800px !important;
    }
  }
  
  
  
  @media screen and (max-width: 375px) {
    .status-text {
      margin-left: 0px !important;
      margin-top: 0px !important;
    }
  
    .status-select {
      float: none !important;
      margin: 0px !important;
    }

    .button-margin{
margin-bottom: 1rem !important;
    }


  }
  @media screen and (max-width: 320px) {
    .report-configuration-window {
      max-width: 260px !important;
      min-width: 220px !important;
    }
  }
  /*------status report end-------*/
  
  .status-report-card{
    margin:5px !important;
  }
  .status-config-card{
    margin:5px !important;
    height: 130px;
  }


  .status-report-card:hover, .status-config-card:hover{
 background-color:  rgb(234, 234, 234);
 box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) !important;
}
  .card-hover-icon{
    right: 15px !important;
    display: none;
  }

  .project-card:hover .card-hover-icon{
    display: block;
  }

  .statusreport-height {
    height: calc(100vh - 100px) !important;
  }

  .statusreport-dialog-height {
    height: calc(100vh - 155px) !important;
  }

  .statusreport-card-height {
    height: calc(100vh - 157px) !important;
  }

  .statusreport-dialog-card-height {
    height: calc(100vh - 170px) !important;
  }
  .card-display{
display: block !important;
  }

  .card-display .avatar-content{
    line-height: 30px !important;
  }

  .statusreport-popover+* .cdk-overlay-pane{
    @media (max-width: 568px){
    top: 10px !important;
      left: 0px !important;
      bottom: 0px;
      right: 0px !important;
  }
  @media only screen and (max-width: 1024px) and (min-width: 766px) {
  left: 0px !important;
  right: 0px !important;
}  
}
.statusreport-popover{
  background: $backdrop-color;
}

.report-seen {
  display: none;
}

.status-report-card:hover .report-seen {
  display: inline-block;
}

.reports-paginator{
.mat-paginator-range-label{
  margin: 0 5px 0 5px;
}
.mat-paginator-page-size{
  position: absolute;
  left: 0;
  .mat-paginator-page-size-label{
    margin-top: 19px;
  }
}
}