<div>
    <mat-progress-bar color="primary" mode="indeterminate" *ngIf="isLookupValuesGetInprogress"></mat-progress-bar>
    <div class="form-control ui fluid selection dropdown" style="padding: 0px !important;">
        <input [value]="value" spellcheck="true" lang="en" [disabled]="disableds" class="form-control" type="text" name="Unique Id" ref="input">
        <!-- <textarea type="text" class="form-control" lang="en" rows="3" (input)="GetFormRecordValues($event.target.value)"></textarea> -->
    </div>
</div> 