.receipts-width {
  width: 220px;
}

.expense-recipts-width
{
  width: 400px;
}

.employee-height .k-grid-content {
  height: calc(100vh - 176px);
} 

// .k-grid-content {
//   height: calc(390px - 176px);
// } 