.feature-card{
    .avatar-container{
        width: auto !important;
    }
}

@media only screen and (max-width: 375px) {
.component-card{
    a{
        margin-left: 5px;
    }
    p{
        margin-left: 5px;
    }

}
}