.widgets_tab .widget_name {
    transform: rotate(-90deg) translate(0px, 0);
    position: absolute;
    top: 75px;
    left: 0px;
    transform-origin: 0 0;
    font-weight: bold;
    border-top: solid 2px #06acc1;
    cursor: pointer;
  }

  .mat-card.p-0 .mat-card-content {
    padding: 0 1.0rem 0.3rem;
  }

  .widgets-list{
    height: calc(100vh - 340px);
  }

  .gridster-item-border {
    // border-top: 2px solid $primary-color;
    margin: 10px;
    height: 100%;
  }

  .visual-svg {
    stroke: $primary-color;
  }

  .visual-fill {
    fill: $primary-color;
  }

  .visual-svg-fill {
    stroke: $primary-color;
    fill: $primary-color;
  }

  .resident-observation {
    padding: 1rem;
  }

  .gridster-item-border:hover .floating-right-delete-button {
    display: block;
  }

  gridster-item{
border-radius: 5px;
  }

  .gridster-list{
    height: calc(100vh - 97px);
  }

  .kanban-icon-dashboard {
    svg {
      transform: rotate(90deg);
    }
  }

  .tab-icon{
    position: absolute
  }

  .dashboard-options {
    display: none;
  }

  .app-tabs .mat-tab-header {
    padding: 0px !important;
  }

  .app-tabs .mat-tab-body-wrapper {
    padding: 0px !important;
  }

  .selected-dashboard:hover .dashboard-options {
    display: flex !important;
  }

  .custom-app-details-height {
    height: calc(100vh - 330px);
  }

  .custom-app-card-height {
    height: calc(100vh - 250px);
  }

  .custom-app-title-height {
    overflow: auto;
    height: calc(100vh - 250px);
  }

  .dashboard-icon {
    cursor: pointer;
    color: $primary-color;
  }

  .custom-application-background-link {
    background-color: $primary-color;
    color: white;
  }

  .widgets-view-icon {
    vertical-align: middle;
    float: left;
    cursor: pointer;
  }
  
  .dashboard-tabs-menu {
    display: none;
  }

  .mat-tab-label:hover .dashboard-tabs-menu {
    display: inline-block;
  }

  .tabs-selected .mat-select-value-text {
    font-size: 25px !important;
    font-weight: 500 !important;
  } 

  .cursor-pointer {
    cursor: pointer;
  }

  .signature-button {
    margin: 10px 5px;
  }

  .sig-container {
    border-style: dashed;
    border-width: 1px;
    height: 245px;
  }
  
  .sig-container canvas {
    border-style: solid;
    border-width: 1px;
  }

  .cursor-auto {
    cursor: auto;
  }

  .form-submission .mat-tab-header {
    padding: 0px;
  }

  .performance-form {
    height: calc(100vh - 250px);
  }

  .performance .formbuilder {
    position: relative;
    width: 100%;
    height: calc(100vh - 275px);
    margin: 0px;
  }

  .oc-border {
    border: 1px solid $primary-color;
  }
 
.oc-background {
    background-color: #eff0f2;
}
 
.oc-name {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
 
.oc-designation {
    font-family: Lato, "Helvetica Neue", sans-serif;
    font-style: italic;
}
 
.oc-img {
    margin-left: -10px;
    width: 60px;
    height: 60px;
}

.oc-content {
  width: 185px;
}

.oc-img img {
    height: 100%;
}

  .auto-width{
    .mat-select {
      width: auto;
    }
    .mat-form-field {
        width: auto !important;
    }
    .mat-option-text {
      overflow: hidden !important;
    }
    .mat-select-value {
        max-width: 100%;
        width: auto;
        padding-right: 8px;
    }  
  }

  .widget-close-icon {
    font-size: 17px;
    float: right;
    padding-top: 6px;
    cursor: pointer;
  }

  .custom-widget-grid-head {
    height: 32px;
  }

  .custom-widget-grid-title{
    height: 42px;
  }

  .widget-drag-icon {
    font-size: 17px;
    padding: 6px 2px;
    float: right;
    cursor: all-scroll;
  }

  @media only screen and (min-width: 768px) {
    .custom-widget-width{
      width: 1000px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .custom-widget-width{
      max-width: 1000px;
    }
  }

  .k-checkbox:checked {
    border-color: $primary-color !important;
    background-color: $primary-color !important;
  }

  .side-float-icon-bar {
    bottom: auto;
    right: -21px;
    top: 162px;
    position: fixed;
    z-index: 10;
    width: 157px;
    margin-right: -33px;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-transform: rotate(90deg) translate(0px, 0);
    transform: rotate(90deg) translate(0px, 0);
    text-align: center;
    color: rgba(255,255,255,0.9);
    background: linear-gradient(to bottom, $primary-color 0%, $primary-color 50%, $primary-color 100%);
    transition: all 0.2s ease-out;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 4px;
    font-size: 13px;
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
}

.widget-tabs-height {
  height: calc(100vh - 62px);
}

.imports-popup {
  height: calc(100vh - 270px);
}

.imports-popup .popup-header {
  background-color : $primary-color;
  text-align: center;
}

.app-height-2 {
  height: 355px;
}

.app-height-search-2 {
  height: calc(100% - 49px - 7px - 6px);
}

.app-height-report-2 {
  height: 330px;
}

.app-height-4 {
  height: 817px;
}

.app-height-search-4 {
  height: 800px;
}

.app-height-process-2 {
  height: 285px;
}

.app-height-3 {
  height: 480px;
}

.mapping-title {
  width:70%;
}

.hidden-workspace-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding: 0.5rem 0;
}

.formio-form .btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
} 

.widget-list-name-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget-list-name {
  overflow: hidden;
}

.hidden-workspace {
  top: 332px;
}

.custom-widget {
  top: 500px;
}

.widget-tabs-icon {
  float: left;
  margin-right: 7px;
  color: darkgrey;
}

.custom-widget-mat-icon{
  font-size: 23px !important;
  color:  $primary-color;
}

.widgets-tabs-hide {
  width: 0%;
  display: block;
}

.widget-tab-static-label .mat-tab-label{
  padding: 0px 10px !important;
  width: 170px;
}

.workspac-add-tab-button {
  // background-color: #a9a9a9db;
  text-align: center;
}

.custom-tab-overflow .mat-tab-header{
  padding-left: 0px !important;
} 

.widget-tab-static-label .mat-tab-label-content{
  width: 150px;
  margin: 0px 5px;
}

.hidden-dashboard-pop {
  height: 300px;
  width: 275px;
}

.view-us 
{
}

.us-popover+* .cdk-overlay-pane{
  @media screen and (min-width: 1441px) {
   min-width: 1500px !important;
  top: 90px !important;
  left: 200px !important;
 }

 @media screen and (min-width: 1440px) and (max-width:1440px) {
  min-width: 950px !important;
  right: 0px !important;
  top: 90px !important;
  left: 6px !important;
 }
 
 @media screen and (min-width: 1024px) and (max-width:1439px) {
  min-width: 950px !important;
  right: 0px !important;
  top: 90px !important;
  left: 5px !important;
 }
 
 @media screen and (min-width: 768px) and (max-width:1023px) {
  min-width: 700px !important;
  left: 0px !important;
  top: 126px !important;
 }
}

@media screen and (min-width: 1440px) {
   .view-us {
  //min-width: 1000px !important;
  min-width: 1365px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width:1439px) {
  .view-us {
 min-width: 950px !important;
 right: 0px !important;
 left: 0px !important;
 }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .view-us {
 min-width: 700px !important;
 left: 0px !important;
 }
}

.widget-tab-static-label .mat-tab-disabled .mat-tab-label-content{
  width: 50px !important;
  margin: 0px;
  text-align: left;
}

.widget-close-search {
  right: 42px !important;
}

.widget-editable-background {
  background-color: #a9a9a9;
}

.widget-not-editable-background {
  // background-color:#e2dfdf;
  background-color: rgb(233, 234, 243);
}

.drag-handler{
  cursor: move;
}

.widget-progressbar {
  counter-reset: step;
  width: 120%;
}
.widget-progressbar li {
  list-style: none;
  display: inline-table;
  width: 19%;
  position: relative;
  text-align: center;
  font-weight: 600;
}
.widget-progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  font-weight: bold;
  z-index: 1;
  position: relative;
}
.widget-progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #ddd;
  top: 14px;
  left: -50%;
  z-index: 0;
}
.widget-progressbar li:first-child:after {
  content: none;
}
.widget-progressbar li.active {
  color: $primary-color;
}
.widget-progressbar li.active:before {
  border: 3px solid white;
  background-color: $primary-color;
  color: white;
}
.widget-progressbar li.active:after {
  background-color: $primary-color;
  z-index: 0;
}

.k-pager-numbers .k-state-selected {
  color: #fff;
  background-color: $primary-color !important;
}

.custom-app-bar-chart .k-chart-surface{
height: 350px !important;
}

.mapping-name {
  width: 100%;
}

.custom-table-height {
  // height: 365px;
  height: calc(100% - 49px - 7px - 6px);
}

.admin-activity-height {
  height: calc(100% - 49px - 7px - -17px);
}

.k-button.k-primary {
  border-color: $primary-color !important;
  background-color: $primary-color !important;
}

.mapping-name {
  width: 100%;
}

.custom-app-pie-chart .k-chart-surface{
height: 300px !important;
}

.k-chart{
  min-height: 350px !important;
}

.widget-radio-buttons
{
  font-weight: bold;
  font-size: 15px;
}

.custom-file-icon{
  top: -22px;
  right: 20px !important;
  height: 10px;
}

.white-icon{
color: $white-color;
}

.k-grid-header .k-grid-filter, .k-grid-header .k-header-column-menu {
  bottom: calc(3px + 0.7142857143em + -4px + -0.7142857143em) !important;
}

.k-grid th, .k-grid td {
  padding: 4px 8px !important;
  border-bottom: 1px solid #e8e8e8;
}

.k-grid-header .k-header>.k-link {
  margin: -16px -24px;
  padding: 15px 20px !important;
  line-height: inherit;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0;
}

.k-grid-pager {
  padding: 5px !important;
  border-width: 1px 0 0;
  border-color: inherit;
  font-size: inherit;
}

.custom-tables .input {
  overflow: visible;
  height: 28px !important;
} 

.custom-tab-overflow .mat-tab-body-wrapper{
  padding: 0px;
}

.floating-right-delete-button {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  display: none;
}

.floating-right-delete-button .mat-icon {
  color: #ff7066;

}

.mat-card-cvr { 
  width:30%; 
  text-align: center;
  position: relative !important;
}

.app-dialog-title {
  color: #3e4148;
}

.app-description-overflow {
  height: 60px;
  overflow: hidden !important;
}

.app-badgecomment-overflow {
  height: 40px;
  overflow: hidden !important;
}

.custom-title-height {
  line-height: 40px;
}

.no-drag{
  height: calc(100% - 49px - 7px - 6px);
}

.announcement {
  height: 100%;
}

.announcement:hover .announcement-icons {
  font-size: 2.5rem;
  cursor: pointer;
  display: block !important;
}

.announcement-icons {
  font-size: 2.5rem;
  cursor: pointer;
  display: none !important;
}

.icons-visible-a{
display: none !important;
}

.custom-widget-grid-title-a:hover{
  .icons-visible-a{
    display: flex !important;
    }
}

.icons-visible{
display: none !important;
}

.custom-widget-grid-title:hover{
  .icons-visible{
    display: flex !important;
    }
}

.visualization-change-tab .mat-tab-header {
  padding: 0px !important;
}

.custom-tag-value {
  width: 100%;
}

.custom-tag-value .mat-form-field-wrapper {
  width: 100%;
}

.app-store-title:hover{
  .icons-visible{
    display: flex !important;
    }
}

.custom-app-padding {
  padding: 0.455rem;
}

.custom-filter-chips{
  margin: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 2px 4px;
  margin-right: 3px;
  max-width: 100%;
  float: left;
  color: #1d1d1d;
  font-size: smaller;
}

.custom-app-filter-key .mat-form-field-wrapper {
  width: 100%;
}

.no-drag, .custom-table-height{
  .k-header {
    .k-i-more-vertical {
      display: none;
    }

    .k-i-more-vertical {
      display: none;
    }

    &:hover {
      .k-i-more-vertical {
        display: block !important;
      }
    }
  }
  }
  // .custom-table-height{
  //   .k-i-more-vertical {
  //     display: none;
  //   }

  //   &:hover {
  //     .k-i-more-vertical {
  //       display: block !important;
  //     }
  //   }

  // }

  .kendo-linear-gauge-chart-width{
    width: 520px !important;
  }

.k-arcgauge-label{position:absolute;text-align:center;padding:0;margin:0}.k-var--accent{background-color:#ff6358}svg .k-var--accent{fill:#ff6358}.k-var--accent-contrast{background-color:#fff}svg .k-var--accent-contrast{fill:#fff}.k-var--base{background-color:#f6f6f6}svg .k-var--base{fill:#f6f6f6}.k-var--background{background-color:#fff}svg .k-var--background{fill:#fff}.k-var--border-radius{margin-top:2px}.k-var--normal-background{background-color:#f6f6f6}svg .k-var--normal-background{fill:#f6f6f6}.k-var--normal-text-color{background-color:#656565}svg .k-var--normal-text-color{fill:#656565}.k-var--hover-background{background-color:#ededed}svg .k-var--hover-background{fill:#ededed}.k-var--hover-text-color{background-color:#656565}svg .k-var--hover-text-color{fill:#656565}.k-var--selected-background{background-color:#ff6358}svg .k-var--selected-background{fill:#ff6358}.k-var--selected-text-color{background-color:#fff}svg .k-var--selected-text-color{fill:#fff}.k-var--success{background-color:#37b400}svg .k-var--success{fill:#37b400}.k-var--info{background-color:#0058e9}svg .k-var--info{fill:#0058e9}.k-var--warning{background-color:#ffc000}svg .k-var--warning{fill:#ffc000}.k-var--error{background-color:#f31700}svg .k-var--error{fill:#f31700}.k-var--series-a{background-color:#ff6358}svg .k-var--series-a{fill:#ff6358}.k-var--series-b{background-color:#ffd246}svg .k-var--series-b{fill:#ffd246}.k-var--series-c{background-color:#78d237}svg .k-var--series-c{fill:#78d237}.k-var--series-d{background-color:#28b4c8}svg .k-var--series-d{fill:#28b4c8}.k-var--series-e{background-color:#2d73f5}svg .k-var--series-e{fill:#2d73f5}.k-var--series-f{background-color:#aa46be}svg .k-var--series-f{fill:#aa46be}.k-var--gauge-pointer{background-color:#ff6358}svg .k-var--gauge-pointer{fill:#ff6358}.k-var--gauge-track{background-color:#e6e5e5}svg .k-var--gauge-track{fill:#e6e5e5}.k-var--chart-inactive{background-color:rgba(101,101,101,0.5)}.k-var--chart-major-lines{background-color:rgba(0,0,0,0.08)}.k-var--chart-minor-lines{background-color:rgba(0,0,0,0.04)}.k-var--chart-area-opacity{opacity:.8}.k-var--chart-notes-background{background-color:rgba(0,0,0,0.5)}.k-var--chart-notes-border{background-color:rgba(0,0,0,0.5)}.k-var--chart-notes-lines{background-color:rgba(0,0,0,0.5)}.k-var--chart-crosshair-background{background-color:rgba(0,0,0,0.5)}.k-var--chart-error-bars-background{background-color:rgba(0,0,0,0.5)}

.display-none{
   display: none;
}

.display-block{
  display: block;
}

.k-edit-form-container {
  border-color: #f1f1f1 !important;
}
.orgchart{
  height: calc(100%-700px);
  width: 100%;
  position: absolute !important;
}
.orgchartcomponent{
  min-height: calc(50% - 50px) !important;
  height: 100%;
}