.container {
    display: flex;
    // justify-content: center;
    // align-items: center;
    place-content: center;
    height: 100vh;
    // overflow: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  // table {
  //     border-collapse: collapse;
  //     border-spacing: 0;
  //     width: 100%;
  //     border: 1px solid #002060;
  //    font-size: 50px;
  //   }
    
  //   td {
  //     color:#7C7C7C ;
  //     border: 1px solid #002060;
  //     text-align: center;
  //     padding: 12px;
  //     font-size: 14px;
  //   }
  
  //   th {
  //     color:#7C7C7C !important;
  //     border: 1px solid #002060;
  //     text-align: center;
  //     padding: 12px;
  //     font-size: 15px;
  //   }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #333333 !important;
   font-size: 50px;
  }
  
  td {
    color:#333333 !important;
    border: 1px solid #333333 !important;
    text-align: center;
    padding: 12px;
    font-size: 21px;
  }
  
  th {
    color: #002060 !important;
    border: 1px solid #333333 !important;
    background-color: #E0F8E6 !important;
    text-align: center;
    padding: 12px;
    font-size: 21px;
  }
  
  .sub-heading {
    color:#FFC000 !important;
    font-size:22px;
  }
  
  .text {
    color: #333333 !important;
    //#7C7C7C !important;
    font-size:21px;
  }
  
    pre {
      font-family: "Century Gothic" !important;
      color:#7C7C7C !important;
    }
  
      .pink-cloumn-header {
          th {
              background-color: #FDEFEF;
          }
      }
  
      .green-cloumn-header {
          th {
              background-color: #E0F8E6;
          }
      }
    
  
  .live-button-outlined {
      line-height: 46px !important;
      color: #73C2FB;
      font-size: 15px;
      border: 1px solid #73C2FB;
      border-radius: 26px;
      width: 280px;
      height: 44px;
  }
  
  .live-button-filled {
      line-height: 46px !important;
      background-color: #73C2FB;
      color: white;
      font-size: 15px;
      border: 1px solid #73C2FB;
      border-radius: 26px;
      width: 280px;
      height: 44px;
  }
  
  .live-button-outlined-support {
      line-height: 46px !important;
      color: #002060;
      font-size: 15px;
      border: 1px solid #002060;
      border-radius: 26px;
      height: 44px;
  }