<div fxLayout="row wrap" class="m-333 selected-dashboard" *ngIf="isAppStoreAccess">
    <div fxFlex class="mr-1"></div>
    <div fxFlex="2" fxFlex.md="3" fxFlex.lt-sm="6" fxFlex.lt-md="4" fxLayoutAlign="start center"
        class="dashboard-options">
        <fa-icon icon="store" matTooltip="App store" class="mat-color-accent cursor-pointer" (click)="opentemplates()"></fa-icon>
    </div>
</div>

<!-- <div class="container">
    <div [innerHTML]="htmlString"></div>
</div> -->
<app-dynamic-html-creation [htmlString] ="htmlString"></app-dynamic-html-creation>
