.formio-class ::ng-deep 
              .form-control{
        border: none !important;
        background-color: white !important;
      }
  
.formio-class ::ng-deep 
              .well{
        border: none !important;
        background-color: white !important;
      }
.formio-class ::ng-deep 
              .bg-light{
        border: none !important;
        background-color: white !important;
      }
.formio-class ::ng-deep 
.btn-primary.disabled{
        display: none !important;
      }
.formio-class ::ng-deep 
              .form-group{
                margin-bottom: -10px !important;
      }
.formio-class ::ng-deep 
.table th{
                padding: 0px !important;
      }
.formio-class ::ng-deep 
.table td{
                padding: 0px !important;
      }
// .formio-class ::ng-deep 
// .col-form-label{
//     font-size: 19px !important;
//       }

      .formio-class ::ng-deep 
      .signature-pad-body{
        background-color: white !important;
}
.status-color {
      .color-picker {
            .arrow.arrow-right {
                  top: -15px !important;
                  left: 0px !important;
                  border-width: 7px 7px !important;
                  border-color: transparent transparent #777 transparent !important;
            }
      }
}
    
formio input[type="checkbox"] {
      margin: 4px -17px 0 !important;
      margin-top: 1px \9; // IE8-9
      line-height: normal;
}