<div>
  <!-- <template-configuration></template-configuration> -->
   <!--<app-dashboard-table></app-dashboard-table> -->
  <!-- <app-soyabean-oil-dashboard></app-soyabean-oil-dashboard> -->
  <!-- <app-palm-oil-dashboard></app-palm-oil-dashboard>     -->
  <!-- <app-sunflower-oil-dashboard></app-sunflower-oil-dashboard>    -->
  <!-- <app-table></app-table> -->
  <!-- <app-consolidated-palm-oil-dashboard></app-consolidated-palm-oil-dashboard> -->
  <!-- <app-ricebran-oil-dashboard></app-ricebran-oil-dashboard> -->
  <!-- <app-glycerin-dashboard></app-glycerin-dashboard> -->
  <!-- <program-owner></program-owner> -->
  <!-- <app-dashboard-table></app-dashboard-table> -->
  <!-- <button onclick="downloadimage('dailypositiontableId')" class="clickbtn">Click To Download Image</button> -->
       <!-- <app-daily-position-table></app-daily-position-table>          -->
          <!-- <app-vessel-level-cpo-dashboard></app-vessel-level-cpo-dashboard>          -->
  <!-- <app-daily-position-table-dashboard></app-daily-position-table-dashboard> -->
  <!-- <router-outlet></router-outlet>   -->
  <!-- <app-trading-component-trade-template-list></app-trading-component-trade-template-list> -->
  <!-- <app-counter-party-types></app-counter-party-types> -->
  <!-- <app-billing-component-template-configuration></app-billing-component-template-configuration> -->
  <app-vessel-level-cpo-dashboard></app-vessel-level-cpo-dashboard>
</div>