
.admin-topborder:before{
    content: '';
    display: block;
    width: 0%;
    margin: auto;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  
  .admin-topborder:hover:before {
    width: 100%;
    height: 3px;
    background: $primary-color;
  }
.admin-textp {
    .mat-line {
    line-height: 30px !important;
  }
}
  .admin-textp .mat-list-item{
    height: auto !important;
  }
  .admin-textp .mat-list-item-content{
  padding:0px !important;
  }
  
  .admin-textp{
  padding:0px !important;
  }
  .admin-textp .mat-list-item {
    height: auto !important;
    padding: 0 15px;
  }
  
  .admin-topborder .card-title-text{
  font-weight: bold;
  }
  
  .admin-textp .mat-list-item:hover {
    background: #e6e6e6;
    transition: all 0.5s;
}
.flex-row-dir-app{
  flex-wrap: wrap !important;
}
.flex-div-btn{
  flex-direction: column !important;
    display: block !important;
}
.flex-div-btn-center{
text-align: center;
}