.leavesdashboard{
    max-width: 100%;
}

.leavesdashboardhistory{
    max-width: 75%;
}

.leaves-calender-height .k-scheduler-layout{
    height: calc(100vh - 299px);
    overflow: auto;
 }

 .leaves-month-height .k-scheduler-layout{
    height: calc(100vh - 241px);
    overflow: auto;
 }

 .profile-calender-height .k-scheduler-layout{
    height: calc(100vh - 299px);
    overflow: auto;
 }
 .profile-month-height .k-scheduler-layout{
    height: calc(100vh - 226px); 
    overflow: auto;
}

.leave-types-search {
    position: absolute;
    right: 2px;
}