/*------- Profile ------*/
.profile-sidebar {
  box-sizing: border-box;
}
.profile-sidebar .propic {
  width: 100%;
  margin-bottom: 6px;
}
.profile-sidebar .propic img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}
.profile-sidebar .profile-title .main-title {
  font-size: 1.5rem;
}
.profile-sidebar .profile-nav {
  margin-left: -24px;
  margin-right: -24px;
}
.profile-sidebar .profile-nav .mat-list-item .mat-icon {
  margin-right: 8px;
}

.timeline {
  position: relative;
  overflow: hidden;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 24px;
  width: 1px;
  background-color: rgba(0, 0, 0, .12);
}
.timeline .timeline-item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}
.timeline .timeline-badge {
  float: left;
  position: relative;
  margin-right: 30px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.timeline .timeline-badge img {
  max-width: 100%;
}
.timeline .timeline-badge .icon-badge {
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.timeline .timeline-body-top {
  margin-bottom: 8px;
}
.timeline .timeline-body {
  float: right;
  width: calc(100% - 78px);
}
.timeline .timeline-body-content img {
  border-radius: 4px;
  max-width: 100%;
}
.timeline .timeline-body-content > :last-child {
  margin-bottom: 8px;
}

[dir=rtl] {
  .profile-sidebar .profile-nav .mat-list-item .mat-icon {
    margin-right: 0;
    margin-left: 8px;
  }
}

.profile-nav{
mat-icon{
  color: $grey-iconColor;
}
.mat-list-item-content{
  color: $primary-text-color;
}
.list-item-active {
  border-left: none;
  border-right: 2px solid;
  background-color: $hover-color !important;
}
}

.overview-header{
color: $primary-text-color !important;
font-weight: 300px;
}

.profile-table-height .datatable-body {
  height: calc(100vh - 640px) !important;
  overflow: auto;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #f9f9f9;
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(222, 217, 217, 0.3);
    background-color: #c1bfbf;
  }
}

/* When the width is less than 1280px */
@media screen and (max-width: 1280px) {
  .profile-sidebar-max-height{
    height: 200px !important;
  }
}

/* When the width is greater than 1280px */
@media screen and (min-width: 1280px) {
  .profile-sidebar-max-height{
    height: calc(100vh - 520px);
  }
}
