.roster-card .active {
  background-color: $primary-color;
}

.k-scheduler-table td,
.k-scheduler-table th {
  height: 2.428571em;
}

kendo-scheduler .k-event>div,
.k-event>div {
  height: 100%;
  position: absolute;
  width: 100%;
}

.roster-planned {
  word-break: break-all;
}

.roster-actual {
  background-color: rgb(25, 214, 116);
  word-break: break-all;
}

.roster-toggle-button {
  color: $toggle-button-color;
  height: 36px;
  font-weight: 600;
}

.rosterbudgetexceeded {
  color: $warning-color-icon;
}

.roster-vertical-height {
  height: calc(100vh - 106px);
}

.roster-label-heading {
  font-size: 13px;
  font-weight: 700;
  color: #757575;
}

.widget-progressbar.roster-progress-step {
  width: 100%;
}

.roster-mat-content .k-textbox {
  height: 100%;
}

.roster-mat-content .hide-all-day .k-scheduler-table tr:nth-of-type(0),
.k-scheduler-times-all-day,
.k-scheduler-table.k-scheduler-header-all-day {
  display: none;
}


.roster-mat-content .k-scheduler-layout td.k-state-selected,
.k-scheduler-layout .k-scheduler-cell.k-state-selected {
  background-color: $primary-color;
  color: white;
}

.roster-mat-content .widget-progressbar li {
  width: 19%;
  word-break: break-all;
}

.roster-mat-content .breakall {
  word-break: normal;
}

.roster-createdby_img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0px 6px 0 0;
  float: left;
}

.roster-mat-content k-dialog-buttongroup {
  display: none;
}

.k-button-group .k-button {
  text-transform: none;
}

.k-button-group .k-button.k-state-active,
.k-button-group .k-button:active {
  border-color: $primary-color;
  color: #fff;
  background-color: $primary-color;
}


/* Scheduler Css */
.b-sch-event-wrap {
  height: .5em;
}

.b-milestone-wrap {
  top: .6em;
}

.b-milestone-wrap.b-sch-event-wrap .b-sch-event.b-milestone {
  font-size: 36%;
}

.b-milestone-wrap.b-sch-event-wrap .b-sch-event.b-milestone label {
  padding-left: 0.9em;
}

.b-grid-subgrid-locked {
  background-color: #f7f7f7;
}

.b-grid-subgrid-locked .b-grid-row {
  border-bottom-color: #f7f7f7;
}

.b-grid-subgrid-locked .b-grid-row dl {
  flex: 1;
}

.b-grid-subgrid-locked .b-grid-row img {
  width: 3em;
  height: 3em;
  background-color: #fff;
  padding: 3px;
  box-shadow: 0 .1em .5em 0 #CCC;
  order: 1;
  transform: scale(1);
  transition: all .2s;
}

.b-grid-subgrid-locked .b-grid-row.b-hover img,
.b-grid-subgrid-locked .b-grid-row.b-selected img {
  transform: scale(1.2);
  transition: all .2s;
  box-shadow: 0 .2em 1em 0 #BBB;
}

.b-theme-dark .b-grid-subgrid-locked {
  background-color: #2b2b2f;
}

.b-theme-dark .b-grid-subgrid-locked .b-grid-row {
  border-bottom-color: #2b2b2f;
}

.b-theme-dark .b-grid-subgrid-locked .b-grid-row img {
  box-shadow: 0 .1em .5em 0 #111;
}

.b-theme-dark .b-grid-subgrid-locked .b-grid-row.b-hover img,
.b-theme-dark .b-grid-subgrid-locked .b-grid-row.b-selected img {
  box-shadow: 0 .2em 1em 0 #000;
}

.b-theme-light .b-grid-subgrid-locked {
  background-color: #fcfcfc;
}

.b-theme-light .b-grid-subgrid-locked .b-grid-row {
  border-bottom-color: #fcfcfc;
}

.b-theme-light .b-grid-subgrid-locked .b-grid-row dd {
  color: #bbb;
}

.b-theme-light .b-grid-subgrid-locked .b-grid-row img {
  box-shadow: 0 .1em .25em 0 #BBB;
}

.b-theme-light .b-grid-subgrid-locked .b-grid-row.b-hover img,
.b-theme-light .b-grid-subgrid-locked .b-grid-row.b-selected img {
  box-shadow: 0 .2em .5em 0 #AAA;
}

.b-grid-row {
  border-bottom-style: dashed;
}

.b-column-line {
  border-left-style: dashed;
}

.b-column-line-major {
  border-left-style: dotted;
}

.b-resource-info dl {
  margin: 0px
}

.b-panel-header.b-dock-top {
  border-bottom: $primary-color !important;
}

.b-popup-header {
  background-color: $primary-color !important;
  color: white !important;
}

.b-has-label label {
  color: #757575 !important;
}

.b-sch-color-blue .b-sch-event {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.b-sch-color-teal .b-sch-event {
  background-color: #def1ef !important;
  border-color: #def1ef !important;
  opacity: 0.9 !important;
  color: grey !important;
}

.b-sch-color-teal .b-sch-event:hover,
.b-sch-color-teal .b-sch-event.b-sch-event-selected {
  background-color: #def1ef !important;
  border-color: #def1ef !important;
  opacity: 0.9 !important;
  color: grey !important;
}


.b-sch-color-pink .b-sch-event {
  opacity: 0.6 !important;
  color: grey !important;
}

.b-sch-color-pink .b-sch-event:hover,
.b-sch-color-pink .b-sch-event.b-sch-event-selected {
  opacity: 0.6 !important;
  color: grey !important;
}


.b-sch-color-indigo .b-sch-event {
  opacity: 0.6 !important;
  color: grey !important;
}

.b-sch-color-indigo .b-sch-event:hover,
.b-sch-color-indigo .b-sch-event.b-sch-event-selected {
  opacity: 0.6 !important;
  color: grey !important;
}

.b-field-inner {
  border-color: $primary-color !important;
}

// .roster-mat-content .k-grid-header {
//   padding: 0 !important;
// }

// .roster-mat-content .k-grid-aria-root {
//   max-height: calc(100vh - 140px);
// }

.roster-mat-content .k-grid-content {
  // overflow-y: visible;
  max-height: calc(100vh - 176px);
}

.k-multiselect {
  width: 200px !important;
}

.k-list-container .k-nodata {
  color: #454545;
  font-weight: 400;
}

.roster-div-responsive {
  max-height: 350px;
  overflow: auto;
}

.b-resource-info dl dt {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-resource-info .b-resource-role {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-ref="saveButton"] {
  background-color: $primary-color !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

[data-ref="deleteButton"] {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  text-transform: capitalize !important;
}

[data-ref="cancelButton"] {
  /* Attribute has this exact value */
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  text-transform: capitalize !important;
}

[data-ref="nameField"] {
  display: none !important;
}

// .roster-edit-form .k-picker-wrap .k-dateinput-wrap input {
//   pointer-events: none;
// }

.b-fieldtrigger[name="startDate"] {
  pointer-events: none;
}

.b-fieldtrigger[name="endDate"] {
  pointer-events: none;
}

.vertical-max-lines {
  overflow: hidden;
  white-space: normal;
  height: 3.4em;
}

.horizontalwidth60 {
  max-width: 60vw;
}

.b-float-root>.b-floating.b-centered {
  position: absolute !important;
}

.b-button.b-icon-align-start label {
  margin: 0px;
}

.roster-grid-content {
  margin-left: -18px;
  margin-right: -18px;
}

// .b-horizontaltimeaxis {
//   height: 115px;
// }

// .b-sch-header-row:last-child .b-sch-header-timeaxis-cell {
//   -webkit-transform: rotate(90deg);
//   -moz-transform: rotate(90deg);
//   -o-transform: rotate(90deg);
//   -ms-transform: rotate(90deg);
//   transform: rotate(90deg);
// }

.activity-checkbox .mat-checkbox-layout {
  margin-bottom: 0px !important;
  font-weight: 500;
}

.roster-content-border .k-grid {
  border-width: 0px !important;
}

// .flex-div-style{
//   justify-content: space-around !important;
// }