<!-- <counter-increment></counter-increment>
<counter-element></counter-element>
<counter-decrement></counter-decrement>
<counter-reset></counter-reset> -->
<div style="overflow: scroll;height: 100%">
  <!-- <custom-app-training-matrix-view [dashboardFilters]="">
  </custom-app-training-matrix-view> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-processdashboard></app-processdashboard> -->
  <!-- <app-custom-comments [dashboardId]="referenceId"></app-custom-comments> -->
  <!-- <app-dashboard-component-morningLateEmployee></app-dashboard-component-morningLateEmployee> -->
  <!-- <app-dashboard-component-lunchBreakLateEmployee></app-dashboard-component-lunchBreakLateEmployee> -->
  <!-- <app-dashboard-component-employeeSpentTime></app-dashboard-component-employeeSpentTime> -->
  <!-- <app-profile-component-historicalWork></app-profile-component-historicalWork> -->
  <!-- <app-work-items-details-report></app-work-items-details-report> -->
  <app-dashboard-component-userstoriesotherdependency></app-dashboard-component-userstoriesotherdependency>
  <!-- <app-dashboard-component-UserStoriesWaitingForQaApproval></app-dashboard-component-UserStoriesWaitingForQaApproval> -->
  <!-- <app-dashboard-component-employeeIndex></app-dashboard-component-employeeIndex> -->
  <!-- <app-exit-configuration></app-exit-configuration> -->
  <!-- <app-dashboard-component-bugReport></app-dashboard-component-bugReport> -->
<!-- <app-profile-component-workallocationsummarychart></app-profile-component-workallocationsummarychart> -->
</div>