<!-- <div class="full-width"> -->
  <!-- <app-emission-component></app-emission-component>   -->
  <!-- <app-customwidget-table [isMongoQuery] = true [collectionName]="collectionName" [widgetData]="widgetData" ></app-customwidget-table>      -->
  <!-- <app-customwidget-table [widgetData]="widgetData2"></app-customwidget-table> -->
  <!--<app-customwidget-table [widgetData]="widgetData1"></app-customwidget-table> -->
   <!-- <process-app-details [widgetData]="widgetData"></process-app-details>  -->
  <!-- <app-new-process-widget [selectedAppId]="selectedAppId"></app-new-process-widget> -->

<!-- </div> -->

<!-- <app-form-creator [formId]="formId"></app-form-creator> -->
<router-outlet></router-outlet> 
<!-- <process-app-details [widgetData]="widgetData"></process-app-details> -->
<!-- <app-fm-component-add-custom-widget></app-fm-component-add-custom-widget> -->
<!--<div>
    <mat-card class="mat-card p-0">-->
<!-- <app-fm-component-add-custom-html></app-fm-component-add-custom-html> 
      <app-new-process-widget></app-new-process-widget> -->
<!-- </mat-card>
</div>  -->
<!-- <process-app-details [widgetData]="widgetData"></process-app-details> -->
<!-- <app-new-process-widget></app-new-process-widget>-->