/*------------------leaves & permissions start-----------*/
.date_picker {
    position: absolute;
    right: 0;
    font-size: 12px;
    margin: 3px 0 0 0;
  }
  .permission_list{
    margin: 0 5px;
  }
  
  @media (max-width: 680px) {
  .apply-leave mat-form-field, .permission_list mat-form-field {
    width: 100%;
  }
  }
  /*------------------leaves & permissions end-----------*/