<mat-card>
    <!-- <observations-app></observations-app>-->
    <!-- <resident-app-details [dashboardId]="dashboardId"></resident-app-details>  -->
    <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFill>
            <button mat-button mat-raised-button color="primary" class="pull-right mr-1" type="button"
                (click)="createApp(1)"> Create sql app
            </button>
            <button mat-button mat-raised-button color="primary" class="pull-right mr-1" type="button"
                (click)="createApp(2)"> Create html app
            </button>
            <button mat-button mat-raised-button color="primary" class="pull-right mr-1" type="button"
                (click)="createApp(3)"> Create process app
            </button>
            <button mat-button mat-raised-button color="primary" class="pull-right mr-1" type="button"
                (click)="appTypeToBeCreated = 0"> cancel
            </button>
            <button mat-button mat-raised-button color="primary" class="pull-right mr-1" type="button"
                (click)="openCustomWidgetEntryApp()"> Display entry app
            </button>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="appTypeToBeCreated">
        <mat-card fxFill class="mat-card p-0">
            <app-fm-component-add-custom-widget *ngIf="appTypeToBeCreated == 1"></app-fm-component-add-custom-widget>
            <app-fm-component-add-custom-html *ngIf="appTypeToBeCreated == 2"></app-fm-component-add-custom-html>
            <app-new-process-widget *ngIf="appTypeToBeCreated == 3"></app-new-process-widget>
        </mat-card>
    </div>
    <br>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex>
            <mat-form-field>
                <input name="search" class="search_goal" matInput placeholder="Enter widget id" [(ngModel)]="widgetId"
                    (keyup)="openCustomWidget()">
            </mat-form-field>
            <mat-progress-bar color="primary" mode="indeterminate" *ngIf="anyOperationInProgress">
            </mat-progress-bar>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width tags-popup" hintLabel="">
                <input placeholder="enter widget name" matInput [matAutocomplete]="tagsAuto" #matTagInput
                (keyup)="searchWidget($event.code,$event.target.value)">

                <mat-autocomplete #tagsAuto="matAutocomplete" (optionSelected)="selectedWidgetValue($event)">
                    <mat-option *ngFor="let widget of widgetList " [value]="widget.widgetId">
                        {{widget.widgetName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="!anyOperationInProgress && !appTypeToBeCreated  && systemApp">
        <div fxFlex >
            This is a system app
        </div>
    </div>
    <hr>
    <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="!anyOperationInProgress && !appTypeToBeCreated && !systemApp">
        <div fxFlex *ngIf="currentWidgetType  == 1">
            <app-customwidget-table [widgetData]="widgetData" [dashboardGlobalData]="dashboardGlobalData">
            </app-customwidget-table>
        </div>
        <div fxFlex *ngIf="currentWidgetType  == 2">
            <app-fm-component-custom-html-app-details [widgetData]="widgetData">
            </app-fm-component-custom-html-app-details>
        </div>
        <div fxFlex *ngIf="currentWidgetType  == 3">
            <process-app-details  [widgetData]="widgetData"></process-app-details>
        </div>
    </div>
</mat-card>