.receipts-width {
  width: 220px;
}

.expense-recipts-width
{
  width: 400px;
}

.employee-height .k-grid-content {
  height: calc(100vh - 228px);
} 

.histotical-work-report .k-grid-content {
  height: calc(100vh - 189px);
}

.leave-list-height {
  height: calc(100vh - 100px) !important;
}

app-hr-area-component .mat-tab-body-wrapper {
  margin: 0 !important;
  padding: 5px 10px 0px !important;
}
app-hr-area-component .mat-tab-body-wrapper .mat-tab-body.mat-tab-body-active{
  overflow-y: hidden !important;
}
app-hr-area-component .mat-tab-body-wrapper .mat-tab-body .mat-tab-body-content {
  height: unset !important;
  overflow: unset !important;
}

app-hr-area-component app-hr-page-employeeList app-hr-component-employeeList .employee-height .k-grid-content {
  height: calc(100vh - 270px) !important;
}
app-hr-area-component app-doc-component app-fm-component-store-management .store-panel-height .datatable-body {
  height: calc(100vh - 210px) !important;
}
app-hr-area-component app-leaves-component app-fm-component-leave-list .leave-list-filter-table .k-grid-content{
  height: calc(100vh - 310px) !important
}
app-hr-area-component app-leaves-component app-fm-component-leave-list .leave-list-table .k-grid-content{
  height: calc(100vh - 270px) !important
}
app-hr-area-component app-leaves-component app-fm-component-leave-list .leave-list-height {
  height: calc(100vh - 145px) !important;
}
app-hr-area-component app-leaves-component app-fm-component-leave-list .leaveHistory-tab {
  height: calc(100vh - 150px) !important;
}
app-hr-area-component app-payroll-component app-payroll-run .payroll-run-height .k-grid-content{
  height: calc(100vh - 240px) !important;
}

.status-close {
  position: absolute;
  right: 7px;
  top: 15px;
  .mat-icon {
    font-size: 14px;
    background: $close-icon-background;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}
