/*---------------Time picker CSS Start--------------*/
.feed_timesheet .timepicker__header {
    padding: 0px 30px !important;
    background-color: $primary-color !important;
  }
  
  .feed_timesheet .timepicker-dial__control,
  .feed_timesheet .timepicker-dial__time {
    font-size: 32px !important;
  }
  
  .timepicker-dial__period {
    display: none !important;
  }
  
  .timepicker-dial__time {
    margin: 0px auto;
  }
  
  .timepicker-dial__control {
    width: 40px !important;
  }
  
  .clock-face__number span.active,
  .clock-face__clock-hand {
    background-color: $primary-color !important;
  }
  
  .timepicker-button {
    color: $primary-color !important;
  }
  
  .clock-face__clock-hand_minute:before {
    border: 4px solid $primary-color !important;
  }
  .timepicker-backdrop-overlay, .timepicker-overlay{
      z-index: 99999;
  }
  
  /*---------------Time picker CSS End--------------*/

 .late-permission, .next-day {
     margin: 6px 0 0 0;
     float: left;
 }
 .add-reason{
   float: left;
   margin-top: 17px;
   padding:0 4px;
  border-radius: 3px;
  cursor: pointer;
  }
  .permission-time{
    margin-top: -5px
  }
  .employee-feed-time-sheet{
    height: 300px;
  }
  .absence-reason{
    height: 22px;
  }

.feedtimesheet-datepicker-button {
  padding: 8px 18px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 7px;
  text-decoration: none;
}

.feedtimesheet-datepicker-button:hover {
background-color: $close-icon-background;
}

.feedtimesheet-datepicker-button:active {
  transform: translateY(1px);
}

.close-icon-padding {
  margin-top: -20px !important;
}

.custom-auto-spinner-timesheet {
  position: absolute;
  margin-left: -15px;
}

.custom-auto-close-timesheet {
  cursor: pointer;
  position: absolute;
  margin-top: -11px;
  margin-left: -19px;
}

.style-pointer {
  cursor: pointer;
}

.custom-float-right {
  float: right;
  text-align: center;
  border: none;
  background: white;
  padding-top: 2px;
  margin-right: -12px;
  font-size: 15px;
}

.monthly-timesheet .k-grid-content {
  height: calc(100vh - 430px) !important;
    overflow: auto;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px #f9f9f9;
      border-radius: 10px;
      background-color: #F5F5F5;
    }
  
    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
      background-color: #F5F5F5;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(222, 217, 217, 0.3);
      background-color: #c1bfbf;
    }
}