.search-box {
  right: 18px;
}

.all_projectsbtn {
  position: absolute;
  right: 10px;
  top: 5px;
}

.add_NewProduct {
  position: absolute !important;
  right: 0px !important;
}

.hover_button {
  top: -4px;
}

.plus_icon {
  margin-top: 15px;
  font-size: 20px !important;
  height: 21px !important;
  width: 21px !important;
  font-weight: bold;
  border-radius: 3px;
  line-height: 21px !important;
  cursor: pointer;
}

.listof_assets {
  overflow: auto;
  &.assets-list {
    height: calc(100vh - 212px);
    max-height: calc(100vh - 212px);
    overflow-x: hidden !important;
    overflow-y: scroll;
  }

  .mat-list {
    padding: 0 !important;
  }

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    width: 100%;
    float: left;
    font-size: 12px;
    margin: 5px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .border_left {
    height: 45px !important;
  }
}

.asset-content-hide p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.add_NewProduct {
  position: absolute !important;
  right: 0px !important;
}

.location_btn,
.vendor_addbutton {
  position: absolute !important;
  right: 10px;
  top: 5px;
}

.card-view {
  cursor: pointer !important;
}

.addAsset_popup {
  max-width: 500px !important;
}

.add_locationdialog {
  max-width: 350px !important;
  min-width: 350px !important;
}

.compact-list .active {
  background: #ebebeb;
}

.app-user-img img {
  width: 35px;
  height: 35px;
}

.default-avatar {
  width: 40px;
  height: 40px;
}

.asset-card {
  box-shadow: none !important;
  margin: 0;
  border-bottom: 1px solid #ccc;
  &:hover {
    background: $grey-color;
    transition: 0.3s;
    cursor: pointer;
  }
}

.asset-badge {
  padding: 3px 10px;
  line-height: 12px;
  color: #ffffff !important;
  font-weight: 400;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 8px;
}

.assets-comments-height {
  max-height: calc(100vh - 400px);
  overflow-x: hidden !important;
}

.assets-comments-height-pagination {
  max-height: calc(100vh - 459px);
  overflow-x: hidden !important;
}

.assets-comments {
  word-break: break-word;
}

.assets-name-control {
  max-width: 100%;
}

.masonry-with-columns {
  display: flex;
  flex-wrap: wrap;
}

.mobile-view-popover {
  max-height: 325px;
  overflow-y: auto;
}

.custom-application-keys-mat-list {
  height: 300px;
  overflow-y: auto;
}

.assets-recentlypurchased ,.assets-assigned ,.assets-damaged, .assets-allocated{
   background: white;
   margin-left: 10px;
   margin-top: 10px;
}

.edit_employee{
  font-family: Lato, "Helvetica Neue", sans-serif !important;
}

.store-dropdown-padding{
  padding: 8px 1rem !important;
}

.employee-history-height {
  max-height: calc(100vh - 200px);
  overflow-x: hidden !important;
}

.employee-history-height-pagination {
  max-height: calc(100vh - 259px);
  overflow-x: hidden !important;
}

.assets-pagination .datatable-pager {
  text-align: left !important;
}

.assets-count .page-count {
  flex: 1 1 0% !important;
}

.assets-tab .mat-tab-body-wrapper {
  padding-top: 0px !important;
}

.assets-list-search {
  position: absolute;
  right: 2px;
}

.asset-search-height {
  height: 32px;
}