<br><br>

<button type="button" mat-raised-button color="accent" (click)="openDialog()">Add Modules</button>
<br><br>
<kendo-grid [data]="getDynamicModuleData" (cellClick)="selectedRow($event)">
<!-- (cellClick)="selectedRow($event)"> -->
    
    <kendo-grid-column title="Sr. No" [width]="60">
        <ng-template kendoGridHeaderTemplate let-column="col">
            <span matTooltipClass="tooltipClass-mat" matTooltip="Sr. No" class="headers-color">Sr. No</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
            {{rowIndex+1}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Module Name" field="name">
        <ng-template kendoGridHeaderTemplate let-column="col">
            <span matTooltipClass="tooltipClass-mat" matTooltip="Module Name" class="headers-color">Module Name</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.dynamicModuleName}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title=" Module Icon" field="country">
        <ng-template kendoGridHeaderTemplate let-column="col">
            <span matTooltipClass="tooltipClass-mat" matTooltip="Module Icon" class="headers-color">Module Icon</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
           <div class="avatar-upload" style="margin:0 auto;" *ngIf="dataItem.moduleIcon">
             <div class="avatar-preview" id="imagePreview" matTooltipClass="tooltipClass-mat"
               matTooltip="Module Icon">
               <img class="upload-image" src="{{dataItem.moduleIcon}}" />
             </div>
           </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Tabs List" field="roleNames" [width]="350">
        <ng-template kendoGridHeaderTemplate let-column="col">
            <span matTooltipClass="tooltipClass-mat" matTooltip="Tabs List" class="headers-color">Tabs List</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{getTabsName(dataItem.dynamicTabs)}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Edit Permission" field="kycCompleted">
        <ng-template kendoGridHeaderTemplate let-column="col">
            <span matTooltipClass="tooltipClass-mat" matTooltip="Edit Permission" class="headers-color">Edit
                Permission</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
           {{dataItem.editRoleName}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="view Permission">
        <ng-template kendoGridHeaderTemplate let-column="col">
            <span matTooltipClass="tooltipClass-mat" matTooltip="view Permission" class="headers-color">View
                Permission</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.viewRoleName}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Actions">
        <ng-template kendoGridHeaderTemplate let-column="col">
            <span matTooltipClass="tooltipClass-mat" matTooltip="Actions" class="headers-color">Actions</span>
        </ng-template>
        
        <ng-template kendoGridCellTemplate let-dataItem >
            <button  mat-icon-button class="material-icons app-toolbar-menu save-button"
           matTooltip="Edit" color="primary"  >
            <mat-icon>edit</mat-icon>
        </button>&nbsp;&nbsp;

        <!-- <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
         matTooltip="Delete" color="warn">
        <mat-icon>delete</mat-icon>
    </button> -->
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

