/*---- Session (Sign in, sign up, forgot, lockscreen) -----*/
.page-wrap {
  display: flex;
  align-items: center;
  padding: 40px 1rem;
  height: 100%;
}
.session-progress {
  position: relative;
  bottom: -5px;
  z-index: 9999;
}
.session-form-hold {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.session-form-hold > .mat-card {
  margin: 0;    
}
.session-lockscreen {
  max-width: 320px;
}
.lockscreen-user {
  text-align: center;
  margin-bottom: 1rem;
  display: flow-root;
  overflow: hidden;
}
.lockscreen-face {
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.inform-text
{
  color: $goals-loader-border-leftcolor;
}

.create-text-wrap{
white-space: pre-wrap;
font-weight: bold;
}

.text-center-wrap
{
  position: relative;
  white-space: pre-wrap;
  top: 25%;
  color: $grey-iconColor;
}

.create-address-text  .mat-input-element{
text-align: right;
}
.reason-popop{
  height: 300px !important;
  width: 350px !important;
}
.textarea-drag{
max-height: 200px;
}
