
<form [formGroup]="moduleForm" novalidate #formDirective="ngForm">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field class="full-width" fxFlex>
            <input matInput formControlName="moduleName" placeholder="Module Name" required>
            <mat-error *ngIf="moduleForm.get('moduleName').hasError('maxlength')">
                Max length error</mat-error>
            <mat-error
                *ngIf="moduleForm.get('moduleName').hasError('required') && moduleForm.get('moduleName').touched">
                Required error
            </mat-error>
        </mat-form-field>

  <div class="mar">
        <input type="file" class="file-input"formControlName="moduleIcon" 
        (change)="onFileSelected($event)" #fileUpload placeholder="Module Icon">
        
     <div class="file-upload">
     {{"Module Icon"}} 
      <button mat-mini-fab color="primary" class="upload-btn"
       (click)="fileUpload.click()">
         <mat-icon>attach_file</mat-icon>
        </button>
       </div> 
    </div>


        <mat-form-field class="full-width" fxFlex>
            <mat-select placeholder="View Permission" formControlName="viewPermission" 
            multiple required>
                <mat-option *ngFor="let item of roles"  [value]="item.roleId">
                    {{item.roleName}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="moduleForm.get('viewPermission').hasError('required') && moduleForm.get('viewPermission').touched">
                Please slect role</mat-error>
        </mat-form-field>


        <mat-form-field class="full-width" fxFlex>
            <mat-select multiple placeholder="Edit Permission" formControlName="editPermission" required>
                <mat-option *ngFor="let item of roles"  [value]="item.roleId">
                    {{item.roleName}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="moduleForm.get('editPermission').hasError('required') && moduleForm.get('editPermission').touched">
                Please slect role</mat-error>
        </mat-form-field>
       

    </div>
      <button mat-raised-button color="primary" (click)="addTab()">Add Tab</button>
    <br>
    <div formArrayName="tabs">
        <div *ngFor="let item of getTabs.controls; let i=index">
            <div [formGroupName]="i">
                <!-- <span class="badge-item test-case-step-count count-padding">{{i + 1}}</span> -->
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px">
                    <mat-form-field class="full-width" fxFlex>
                        <input matInput formControlName="tabName" placeholder="Tab Name" required>
                        <mat-error *ngIf="getTabs.controls[i].get('tabName')?.errors?.maxlength">
                            Max length error</mat-error>
                        <mat-error
                            *ngIf="getTabs.controls[i].get('tabName')?.errors?.required && getTabs.controls[i].get('tabName')?.touched">
                            Required error
                        </mat-error>
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field class="full-width" fxFlex>
                        <mat-select placeholder="View Tab Permission" formControlName="viewTabPermission" required  multiple>
                            <mat-option *ngFor="let item of roles"  [value]="item.roleId">
                                {{item.roleName}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="getTabs.controls[i].get('viewTabPermission')?.errors?.required && getTabs.controls[i].get('viewTabPermission')?.touched">
                            Please slect role</mat-error>
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field class="full-width" fxFlex>
                        <mat-select placeholder="Edit Tab Permission" formControlName="editTabPermission" required  multiple>
                            <mat-option  *ngFor="let item of roles"  [value]="item.roleId">
                                {{item.roleName}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="getTabs.controls[i].get('editTabPermission')?.errors?.required && getTabs.controls[i].get('editTabPermission')?.touched">
                            Please slect role</mat-error>
                    </mat-form-field>&nbsp;&nbsp;
                    <img  class="Addbutton" src="../../assets/Images/icons8-macos-maximize-90.png" (click)="addTab()" >
                    <img  class="Addbutton" src="../../assets/Images/icons8-minus-sign-96.png">
                </div>
            </div>
        </div>
  
    </div>
</form>

<div style="padding: 0px 500px 0px 500px;">
    <button mat-raised-button="" type="reset" mat-dialog-close
        class="mat-focus-indicator mr-1 dark-blue-shadow mat-raised-button mat-button-base"
        style="color: #0020B8 !important;"><span class="mat-button-wrapper">Cancel </span><span matripple=""
            class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>&nbsp;&nbsp;
    <button mat-raised-button color="primary" type="submit" (click)="saveUpsertDynamicModule()">
      Save</button>
</div>