.testprojectsview a {
  font-size: 12px;
}


.projectlist p {
  margin: 0px;
}

.projectlist .mat-list {
  padding-top: 0 !important;
}

.projectlist .mat-progress-bar {
  height: 5px;
  margin: 25px 0;
}

.projectlist,
.project-display {
  display: block !important;
}

.report-display {
  display: flex !important;
}

.project-name {
  font-size: 17px;
  color: $primary-color;
}

.testprojectsview a {
  font-size: 15px;
}

.testprojectsview span:hover {
  color: $primary-color;
  cursor: pointer;
}

.project-list .mat-list-text {
  font-size: 26px;
}

.todos_inputs {
  margin: 0 5px;
}

.test_runs p {
  margin: 0px;
}

.test_runs .mat-list {
  padding-top: 0 !important;
}

.test_runs .mat-progress-bar {
  height: 10px;
  border-radius: 30px;
  margin: 8px 0;
}

.test_runs {
  border-bottom: solid 1px $test-runs-border-bottom;
  padding: 5px 0;
}

.projectlist .mat-expansion-panel-header,
.Milestones .mat-expansion-panel-header {
  padding: 0px 24px 10px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 2px -6px rgba(0, 0, 0, .2), 0 0px 1px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

.projectlist .mat-list .mat-list-item .mat-list-text {
  line-height: 26px !important;
}

.Milestones .mat-accordion.mat-accordion .mat-expansion-panel.mat-expansion-panel {
  margin: 12px 0 0 0;
}

.Milestones .mat-expansion-panel-header {
  height: auto !important;
}

.Milestones .mat-expansion-panel-header-title,
.test-suites .mat-expansion-panel-header-title {
  display: block;
}

.Milestones .mat-progress-bar {
  height: 10px;
  width: 100%;
  float: right !important;
}

.Milestones .mat-icon {
  width: 50px;
  float: left;
}

.Milestones p {
  margin: 0px;
}

.projectlist .mat-expansion-panel-header {
  background: $title-background !important;
}

.test-suite .hover_button {
  float: right;
}

.testrail-tabs .mat-tab-header {
  background: $tabs-background !important;
}

.test-suite .mat-card.p-0 .mat-card-content {
  padding: 0 1.0rem 0.3rem;
}

.testruns-results .mat-progress-bar {
  height: 10px !important;
  width: 100% !important;
  float: right !important;
}

.testruns-results .progress {
  width: 130px !important;
  float: right !important;
}

.testruns-results .mat-card.p-0 .mat-card-content {
  padding: 0 1.0rem 0.3rem;
}

.testruns-results img.mat-list-avatar {
  height: 30px !important;
}

.testruns-results .mat-list-item.p-0.mat-list-item.mat-3-line.ng-star-inserted {
  height: 70px;
}

.font_icon_add .fa:hover {
  color: $testrail-icon-on-hover;
  transition: all 0.5s;
}

.testcase-status-width  {
  width: 210px;
}

.testcase-outline .mce-edit-focus  {
  outline: none;
}

#toast-container>div {
  opacity: 1;
}

#toast-container {
  word-break: break-word !important;
}

.testcase_txt {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectlist .mat-list-item-content {
  padding: 0px !important;
}

.case-details-view .mat-card.p-0 .mat-card-content {
  padding: 0 1.0rem 0.3rem;
}

.case-details-view .mat-card.mat-card {
  padding: 12px;
}

.sections-subsections {
  .k-tabstrip-top>.k-tabstrip-items {
    background: $tabs-background !important;
  }

  .k-tabstrip>.k-content {
    padding: 0px !important;
  }

  .k-tabstrip-items {
    text-transform: none !important;
  }
}

.test-suites {
  .mat-accordion.mat-accordion .mat-expansion-panel.mat-expansion-panel {
    margin: 12px 0 0 0;
  }

  .mat-expansion-panel-header {
    background: none !important;
  }

  .mat-expansion-panel-header {
    height: auto !important;
  }

  .test-suite-image {
    width: 80px;
    height: 80px;
    margin-top: 5px;
  }

  .test-suite-operations {
    display: none;
  }

  .normal-test-suite-card:hover .test-suite-operations {
    display: inline-block;
  }

  .normal-test-suite-card {
    padding: 8px !important;
  }

  .normal-test-suite-card:hover,
  .test-runs-card:hover {
    cursor: pointer;
    background: $test-suites-card-background;
  }

  .test-suite-name {
    margin-top: 5px !important;
  }

  .test-run-gap {
    margin-left: 3px;
  }

  .test-suite-accordion {
    margin-right: 5px !important;
  }

  .testsuite-run-card {
    max-height: 85px;
  }

  .add-test-suite-card {
    padding: 11px !important;
  }

  .test-created {
    font-size: 14px;
  }

  .test-suite-run-image {
    width: 32px;
    height: 32px;
    margin-top: 8px;
  }

  .test-primarytext {
    font-weight: bold;
  }

  .test-primarytext:hover,
  .test-suite-actions a:hover {
    color: $primary-color;
  }

  .counts-color {
    color: $counts-color-red;
  }

  .mat-progress-bar {
    height: 10px;
    width: 100%;
    float: right;
  }

  p {
    margin: 0px !important;
  }
}

.test-case-unique-number {
  color: $primary-color;
}

.test-case-count-number, .test-run-case-count-number{
  padding: 4px 8px !important;
  background: #b5b7bb !important;
  color: #727686 !important;
  border-radius: 8px;
  display: table;
}


.mat-option, .mat-option-text {
  overflow: unset;
}

.word-break {
  word-break: break-word !important
}

.previous-page:hover {
  cursor: pointer;
  text-decoration: underline;
  color: $primary-color;
}

.date-filter:hover {
  cursor: pointer;
}

.new-testcase .Step-description {
  padding: 0px !important;
}

.add-case {
  .no-padding {
    padding: 0px !important;
  }

  .test-suite-section-operations,
  .test-case-operations {
    display: none;
  }

  .counts-color {
    color: $counts-color-red;
  }

  .section-heading:hover {
    cursor: pointer;
  }

  .section-heading:hover .test-suite-section-operations,
  .user-details:hover .test-case-operations {
    display: inline-block;
  }

  .test-suite-section {
    margin-left: 25px !important;
  }

  .section-description {
    font-weight: 400px !important;
  }
}

.testrun-result .radio-group {
  display: inline-flex;
  flex-direction: column;
}

.testrun-result .wrap-mat-radio-label {
  white-space: normal;
}

.testrun-kendo .mat-list-item {
  height: 35px !important;
}

.testrun-kendo .overflowx {
  overflow: auto
}

.testrun-kendo .testcase_txt {
  overflow: unset !important;
}

.testrun-result .mat-card.p-0 .mat-card-content {
  padding: 0;
}

.testrun-result .mat-card.mat-card {
  padding: 10px;
}



.report-item-padding {
    padding: 10px !important;
}





.custom-label {
  font-size: 13px;
  padding: 1px 5px 0px 0px;
  display: flex;
}
  
.veritcal-label {
  position: absolute;
  transform: rotate(-90deg) scaleX(-1);
  transform-origin: top left;
  
  .custom-label-content {
    border-top: solid 2px $primary-color;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 0px 3px;
    cursor: pointer;
    padding: 1px 6px 3px 8px;
    background-color: $primary-color !important;
    color: #fff;
    border-radius: 3px;
    fa-icon{
      color: #fff !important;
      font-size: 11px;
    }
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .testcase-edit-remove-step {
    margin-left: 0.5rem;
  }
}

@media (min-width: 1441px) {
  .testcase-edit-remove-step {
    margin-left: 0.8rem;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1260px) {
  .testrail-custom{
    max-width: 19% !important;
  }

  .namesection-custom{
    max-width: 19% !important;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 760px){
  .test-suite-details-list .filter-section ul li,.test-runs-sections-cases-list .filter-section ul li {
    border-left: none !important;
    border-bottom: 1px solid #75757530 !important;
    border-right: 1px solid #75757530 !important;
  }
}




@media only screen and (max-width: 480px) {
  .testsuite-tab .testsuite-name, .testrun-tab .testrun-name, .reports-tab .report-name {
  display: none;
  }
}

.test-suites-sections-list, .test-runs-sections-list{
  height: calc(100vh - 152px);
  overflow: auto !important;
}

.test-runs-sections-height {
  max-height: calc(100vh - 270px);
}
.test-suit-sections-height{
  max-height: calc(100vh - 241px);
}


.test-runs-sections-cases-list, .reports-list, .detailed-report {
  height: calc(100vh - 100px);
  overflow: auto !important;
}


.test-suite-details-list{
  height: calc(100vh - 101px);
  overflow: auto !important;
}

.case-details-preview, .testrun-status-preview, .report-test-cases-preview {
  height: calc(100vh - 112px);
}
.case-edit-preview{
  height: calc(100vh - 105px);
}
.testrun-status-preview {
padding: 24px 30px !important;
}

.case-details-preview-scroll {
  max-height: calc(100vh - 225px);
  overflow: auto;
}
.testsuite-history-scroll{
  max-height: calc(100vh - 255px);
  overflow: auto;
}

 .testrun-status-preview-scroll, .report-test-cases-preview-scroll {
  max-height: calc(100vh - 225px);
  overflow: auto;
  overflow-x: hidden !important;
}

.case-edit-preview-scroll{
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.testrun-status-preview-scroll #tab .k-content, .report-test-cases-preview-scroll #tab .k-content {
  margin: 0px !important;
  padding: 0px;
}

.testrun-tab{
  #tab .k-content{
    padding: 0px 10px;
    margin: 0px !important;
  }
}

.testrun-status-preview-scroll .k-tabstrip, .report-test-cases-preview-scroll .k-tabstrip {
  overflow-x: hidden;
}

.test-runs-list,.test-suites-list{
     height: calc(100vh - 148px) !important;
}

.filter-section ul li {
  border-right: none !important;
  border-left: none !important;
}

.filter-validate {
  line-height: 24px !important;
}

.hierarchical-subsection-border {
  border-left: 1px dotted $hierarchical-subsection-border;
}

.mt-045 {
  margin-top: 0.45rem;
}

.ml-08 {
  margin-left: 0.75rem !important;
}

.ml-02 {
  margin-left: 0.2rem !important;
}

.test-suites-sections-list,
.test-suite-details-list,
.test-runs-sections-list,
.test-runs-cases-list,
.test-runs-sections-cases-list, .audits-category-list {

  .testsuite-subsection-border,
  .testrun-subsection-border {
    border-left: 2px dotted $columbia-blue-color;
    margin-left: 30px;
  }

  .testsuite-section-operations {
    display: none !important;
  }

  .testsuite-section-operation:hover,
  .testrun-section-operation:hover,
  .filter-operation {
    cursor: pointer;
  }

  .testsuite-section-operation:hover .testsuite-section-operations {
    display: inline-block !important;
  }

  .testsuite-section-name,
  .testrun-section-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.custom-modal-box, .custom-modal-container {
  .mat-dialog-container {
    padding: 0px;
  }
}

@media (max-width: 1260px) {
  .custom-modal-container{
  width: 75% !important;
}
}
@media (max-width: 860px) {
  .custom-modal-container{
    width: 85% !important;
  }
}

.report-testrun:hover, .update-status:hover {
  cursor: pointer;
  color: $testrail-on-hover-link;
}

.report-testrun {
  font-weight: 400;
}

.test-suite-item-padding:hover .testsuite-operations,
.test-run-item-padding:hover .testrun-operations,
.report-item-padding:hover .report-operations {
  display: inline-block;
}

.test-suite-item-padding,
.test-run-item-padding,
.report-item-padding {
  

  .testsuite-operations,
  .testrun-operations,
  .report-operations {
    display: none;
  }

  .testsuite-title-overflow,
  .testrun-title-overflow,
  .report-title-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    max-width: 100%;
  }

  .testsuites-on-hover:hover,
  .testruns-on-hover:hover,
  .reports-on-hover:hover {
    color: $primary-color!important;
  }

  .testsuite-runs-count {
    background: $testrail-on-hover-link;
  }
}

  .testsuite-sections-count, .testrun-sections-count, .testrun-header-count, .milestone-count {
    background: $goal-count-color;
    padding: 2px 10px;
    border-radius: 10px;
    color: #727686;
    font-weight: 600;
  }
  .testrun-header-count{
font-size: 12px;
background: $testruns-passed-count;
color: $white-color;
  }
  
  .testruns-failed-count {
    background: $testruns-failed-count;
  }

  .testsuite-cases-count,
  .testrun-passed-count, .milestone-testrun-passed-count {
    background: $testruns-passed-count;
  }  

  .testrun-blocked-count {
    background: $testruns-blocked-count;
  }

  .testruns-retest-count {
    background: $testruns-retest-count;
  }

  .testruns-untested-count {
    background: $testruns-untested-count;
  }

  .section-cases-operations .avatar-content {
    margin: 5px 0 0 !important;
  }

  .testsuites-count-padding,
  .testruns-count-padding {
    padding: 2px 6px !important;
    line-height: 12px;
    color: $white-color !important;
    font-weight: 400;
    border-radius: 0px;
    font-size: 12px;
  }

  .milestone-testruns-count-padding {
    padding: 5px 6px !important;
    line-height: 12px;
    color: $white-color !important;
    font-weight: 400;
    border-radius: 11px;
    font-size: 12px;
  }

  .scenario-bugs-place {
    position: relative;
    bottom: 6px;
    left: -4px;
    background-color: $counts-color-red;
  }
  
  .scenario-bugs-count-padding {
    padding: 2px 4px !important;
    line-height: 12px;
    color: $white-color !important;
    font-weight: 400;
    border-radius: 8px;
    font-size: 8px;
  }

.test-suite-section-cases,
.test-run-section-cases,
.userstory-test-case-details,
.audits-category-questions {
  .test-case-operations, .testsuite-cases-operations {
    display: none !important;
  }

  .section-cases-operations:hover .test-case-operations {
    display: inline-block !important;
  }
  
  .section-cases-operations:hover .testsuite-cases-operations {
    display: flex !important;
  }

  .test-case-operations:hover a {
    color: $testrail-on-hover-link;
  }
  
  .testsuite-cases-operations a:hover {
    color: $testrail-on-hover-link;
  }

  .testsuite-description,
  .testrun-description {
    font-size: 15px !important;
    background: #f3f5f7;
    border-bottom: solid 1px $header-bg-color;
  }

  .section-description {
    font-weight: 400px !important;
  }
}

.userstory-case-scenario {
  height: 40px !important;
}

.userstory-case-scenario .mat-list-item-content {
  padding: 0px 0px !important;
}

.case-scenario-steps, .case-scenario-statuses {
  max-height: 376px;
  overflow: auto;
}

.report-description {
  font-size: 15px !important;
}

.test-case-no-border,
.testruns-dialog {
  box-shadow: none !important;
  border-radius: 0px !important;
}

.testruns-dialog-operations .mat-dialog-content {
  max-height: 100% !important;
}

.testruns-dialog {
  min-height: 87vh;
}

.test-case-title {
  font-size: 16px;
  padding: 0.5rem 1rem !important;
  color: $primary-text-color;
}

.add-test-case {
  text-decoration: underline !important;
  color: $primary-color !important;
}


.testrail-list-projects {
  left: auto !important;
  top: 8px !important;
  z-index: 100 !important;
  float: right !important;
  width: 15% !important;
}

.testrail-project-select-container {
  width: auto !important;
  max-width: 100% !important;
  margin-right: 0.5rem !important;
  float: right !important;
  padding: 0px !important;
  height: 33px !important;
}

.add-test-suite-section {
  text-decoration: underline !important;
  color: $primary-color !important;
}

.cases-select-all-none {
  text-decoration: underline !important;
  color: $primary-color!important;
}

.add-section-square {
  font-size: 18px;
}

.submission-dialog-font {
  font-size: 20px;
}

.public-from-height {
  height: 99vh;
}

.public-form-content {
  height: calc(100vh - 260px);
}

.testcase-custom-input {
  border-radius: 5px;
  padding: 5px;
border-color: #989696;
padding: .39285714rem .78571429rem;
}
.add-testcase-inputbox-width-fix  {
  width: 100%;
  resize: none;
}

.count-padding {
  padding: 2px 6px !important;
}

.testsuites-count, .testruns-count, .test-milestones-count, .test-reports-count, .test-reports-count, .audit-actions-count {
  background:  $goal-count-color;
}

.mat-tab-label-active .testsuites-count, .mat-tab-label-active .testruns-count,.mat-tab-label-active .test-milestones-count,
 .mat-tab-label-active.test-reports-count,.mat-tab-label-active.test-case-step-count, .mat-tab-label-active .test-reports-count,
 .mat-tab-label-active .audit-actions-count {
  background:  $primary-color;
}

.test-case-step-count{
  background:  $primary-color;
}

.mat-tab-label-active .testsuites-count, 
.mat-tab-label-active .testruns-count,
.mat-tab-label-active .test-milestones-count,
 .mat-tab-label-active .test-reports-count,
 .mat-tab-label-active .audit-actions-count {
  background: $primary-color !important;
}

.mat-divider-position {
  position: relative !important;
}

.testrun-add-width {
  width: min-content !important;
}

.test-suite-section-cases .mat-list-item-content, .report-cases .mat-list-item-content, .audits-category-questions .mat-list-item-content {
  padding: 0 !important;
}


.test-suite-section-cases .mat-list-item, .report-cases .mat-list-item, .audits-category-questions .mat-list-item {
  line-height: 32px;
  height: 32px !important;
}

.testrun-add-width .mat-horizontal-stepper-header {
  height: 48px !important;
}

.mat-chip-color-text {
  color: white !important;
}

.test-case-details {
  padding: 0 15px !important;
  color: $primary-text-color;
  // border-left: solid 2px $test-case-details-border-left;
  border-bottom: solid 1px #dfe1e6;
}

.testrail-case-details {
  padding: 0 15px 0px 5px !important;
  border-bottom: solid 1px #dfe1e6;
}

.userstory-test-case-details .section-cases-operations{
  padding: 7px 2px !important;
  border-left: solid 2px $test-case-details-border-left;
  border-bottom: solid 1px $test-case-details-border-bottom;
}

.userstory-test-case-details .userstory-bugs-padding{
  padding: 8px 2px !important;
}

.userstory-case-scenario-edit {
  max-width: 900px;
  max-height: 518px;
  overflow: auto;
}

@media (min-width: 768px) {
  .case-scenario-steps-edit {
    width: 31%;
  }
}

@media (max-width: 767px) {
  .case-scenario-steps-edit {
    width: 100%;
    margin-right: 0px !important;
  }
}

@media (min-width: 768px) {
  .goal-bugs {
    width: 450px;
    min-height: 40px;
    max-height: 300px;
    overflow: auto;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .goal-bugs {
    width: 400px;
    min-height: 40px;
    max-height: 300px;
    overflow: auto;
  }
}

@media (max-width: 425px) {
  .goal-bugs {
    width: 225px;
    min-height: 40px;
    max-height: 300px;
    overflow: auto;
  }
}

@media (min-width: 1024px) {
  .userstory-case-scenario-status-edit {
    width: 900px;
    max-height: 554px;
    overflow: auto;
  }
}

@media (max-width: 1023px) {
  .userstory-case-scenario-status-edit {
    max-width: 900px;
    max-height: 554px;
    overflow: auto;
  }
}

.testrun-user-img {
  width: 30px;
  border-radius: 30px;
}

.testcase-user-img {
  width: 25px;
  border-radius: 12px;
}

.status-padding {
  padding: 2px;
  border-radius: 3px;
}

.display-pre-line {
  white-space: pre-line !important;
}

.user-select-text {
  user-select: text !important;
  color: $primary-text-color;
}

.word-spacing-line-height {
  word-spacing: 4px !important;
  line-height: 1.5 !important;
}

.logtime-comment {
  resize: none;
}

.caret-size {
  font-size: 15px !important;
}

.caret-right-space {
  margin-right: 0.7rem !important;
}

.milestone-operations {
  display: none;
}

.milestones-view:hover .milestone-operations {
  display: inline-block !important;
}

.related-testruns:hover {
  cursor: pointer;
  background: $test-suites-card-background;
}
.related-testruns{
  white-space: nowrap;
}

.testrun-inline-editor {
  padding: 0 0.5rem !important;
}

.testrun-inline-editor .mce-content-body {
  height: 100px !important;
  width: 350px !important;
  overflow: hidden;
  
}

.testrun-external-editor .mce-content-body {
  height: 100px !important;
  width: 350px !important;
  overflow: hidden;
 
}

.description-editor {
  padding: 0px !important;
  height: 82px !important;
}

.testsuite-section-features {
  max-width: 72%;
}

.testrun-section-features {
  max-width: 80%;
}

@media only screen and (max-width: 1919px) {
.milestones-view {
    min-height: 83px !important;
  }
}

@media only screen and (max-width: 767px) {
  .feed_timesheet .mat-form-field {
    width: 100%;
    margin: 0 !important;
  }

  .milestone-image {
    margin: 0px 0px 25px !important;
  }

  .Milestones .mat-expansion-panel-header {
    padding: 0 15px 10px !important;
  }
}

@media only screen and (max-width: 568px) {
  .Milestones .mat-expansion-panel-body {
    padding: 5px !important;
  }

  .test-suite .mat-form-field-infix {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .testcase_txt {
    white-space: nowrap !important;
    overflow: auto !important;
  }

  .overflow_none {
    overflow: none !important;
  }

  .report-case-title {
    margin-left: 0.5rem !important;
  }

  .milestone-image {
    margin: 0px 0px 25px !important;
  }

  .milestone-panel {
    padding: 0 0.5rem 0.5rem !important;
  }

  .milestone-image {
    margin: 0px 0px 25px !important;
  }
}

.milestone-chart .k-widget {
  border: none !important;
}

.test-runs-sections-list, .test-runs-sections-cases-list {
  .mat-list-item-content {
    padding: 0 !important;
  }
}

.test-run-section-cases {
  .mat-list .mat-list-item {
    height: 32px;
    line-height: 32px;
  }
}

.testrun-add-width {
  .mat-horizontal-content-container {
    padding: 0;
    overflow: initial !important;
  }
}

.user-details label.mat-checkbox-layout {
  margin: 0;
}

.test-runs-cases-list {
  min-height: 334px;
  max-height: 334px;
  overflow: auto !important;

  .mat-list-item-content {
    padding: 0 !important;
  }

  .mat-list {
    padding: 0;
  }
}

.text-run-section-list {
  max-height: 377px;
  overflow: auto !important;
}

.search-testsuites, .search-testruns{
  position: relative;
  .clear-search{
    top: 0 !important;
  }
}

.sortby-testsuits{
  height: 40px;
}

.testcase-filter{
width:95% !important;
}

.testrail-project-name {
  font-size: 17px;
}

.testrail-project-name:hover {
  color: $primary-color;
}

.testrun-popover {
  background: rgba(0, 0, 0, 0.6);
}
.mt-2p {
  margin-top: 2px !important;
}

.mt-02 {
  margin-top: 0.3rem !important;
}
.mt-03 {
margin-top: 3px;
}
.mt-08 {
  margin-top: 0.8rem !important;
}

.p-03 {
  padding: 0.3rem !important;
}

.pr-03 {
  padding-right: 3px !important;
}

.pr-02 {
  padding-right: 2px !important;
}

.expand-collapse-sections {
  font-size: 16px !important;
}

.test-suite-steps {
  background-color: $test-suite-steps-background;
}

.mt-1-05 {
  margin-top: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 4rem !important;
}

.report-runs-results {
  padding: 10px;
  background: $hover-color;
}

.test-run-status {
  border: 1px solid darkgray;
  padding: 3px;
  border-radius: 5px;
}

.sections-order-cases {
  background-color: none !important;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 0px;
  font-family: Lato, "Helvetica Neue", sans-serif;
  color: $primary-text-color;
}

.testrun-add-width .mat-step-header:hover, .testrun-add-width .mat-step-header.cdk-program-focused{
  background-color: $testrail-mat-step-header-on-hover !important;
}

.text-overflow-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testrun-popover+* .cdk-overlay-pane{
  @media (max-width: 1024px){
    left: 10px !important;
    right: 10px !important;
    overflow: auto;
  }

  @media (max-width: 560px){
    top: 10px !important;
  }
}



.icon-primary{
color: $columbia-blue-color;
opacity: 0.8;
}

.gray-icon{
color: $grey-color-background;
}

.testsuite-text, .testrun-text{
font-weight: 600;
}

.add-icon{
background-color: $primary-color;
color: $white-color;
padding: 5px 7px;
border-radius: 50%;
font-size: 9px;
font-weight: bold;
}

.new-testcase {
  text-decoration: none !important;
  color: $primary-color !important;
}

.primary-text .mat-select-value, .testsuites-on-hover, .primary-text{
  color: $primary-text-color !important;
}


.testsuit-sections-addtestcase-height{
  max-height: calc(100vh - 348px) !important;

}
.addtestcase-filter-height{
  max-height: calc(100vh - 385px) !important;
}

.testrun-section-height{
  max-height: calc(100vh - 207px) !important;
}

.testrun-matlist{
overflow-y: hidden;
}

.test-suite-item-padding,.test-run-item-padding   {
  border-bottom: 1px solid #ececec;
  border-top:  1px solid #ececec;
  margin-top: -1px;
}


.test-suite-item-padding .mat-expansion-panel-header,.test-run-item-padding .mat-expansion-panel-header{
  background-color: $white-color ;
  position: relative;
border-bottom: none;
margin-bottom: 0px;
}

.selected-panel-header .mat-expansion-panel-header{
  background-color: #e9ecf3 !important;
  font-weight: bold;
}


.report-item-padding:hover{
  background-color: $hover-color  !important;
  cursor: pointer;
}
.sort-icon{
font-size: 20px;
}

.testcase-filter-border{
border-bottom: 1px solid #75757530;
}

.test-suite-item-padding:hover,
.test-run-item-padding:hover,
.report-item-padding:hover {
  .mat-expansion-panel-header{
    cursor: pointer;
    background: $hover-color !important;
  }
}
.test-suite-item-padding, .test-run-item-padding{
  .mat-expansion-panel{
    box-shadow: none !important;
  }
}

.expansion-icon{
  color: $grey-iconColor;
}


.test-suite-item-padding .mat-expansion-panel-body, .test-run-item-padding .mat-expansion-panel-body{
  padding: 5px 10px 5px 24px !important;
  background-color: #f3f5f7;
  
}


.testrail-summary{
  box-shadow: 5px 12px 31px -4px rgba(241, 239, 239, 0.75) ;

}

.test-userstory-left {
  margin-left: 1px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.custom-mini-buttons {
  .filter-validate{
    line-height: 10px !important;
  }
  .mat-mini-fab .mat-button-wrapper{
    line-height: 10px !important;
    padding: 6px 0 !important;
  }

.mat-mini-fab{
  width: 26px !important;
  height: 26px !important;
}
}
.filter-display-section{ 
border-top:1px solid $custom-border-color;
max-height: 80px;
overflow-y: auto;
}

.testrail-userstory-left{
  margin: 6px 5px 0px 0px;
  height: 20px;
}

.custom-testrun-checkbox .mat-checkbox-layout{
margin-top: 5px;
}

.testsuit-left-border{
background-color: $grey-color-background;
}

.milestones-view,.testrail-summary {
.right-click {
  display: none;
  visibility:hidden;
  position:fixed
}

&:hover {
  .right-click {
    display: inline-block;
  }
}
}
.rotate-icon {
  -moz-transition: all .4s linear;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  display: inline-block !important;
}
.rotate-icon.rotate-icon-down {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}
.mt-20p{
margin-top: 20px;
}
.testrun-section-filteropen-height{
  max-height: calc(100vh - 340px) !important;
}


.test-trail-references-hover{
  color: #008CBA !important;
}

.test-trail-references-hover:hover{
  text-decoration: underline !important;
}

.inline_edit_close_btn {
  right: 5px;
  font-size: small;
  top: 0px;
  padding: 1px;
}

.inline_edit_close_btn fa-icon {
  color: $white-color;
}

.pb-07 {
  padding-bottom: 0.75rem !important;
}

.ml-2{
  margin-left: 2rem !important;
}

.mr-2{
  margin-right: 2rem !important;
}

.mr-08{
  margin-right: 0.75rem;
}

.clock-icon{
font-size: 20px;
color: $primary-color;
opacity: 0.8;
font-weight: bold;
}

.testsuite-text, .test-suite-section-cases,  .testrun-text, .test-run-section-cases, .audits-category-questions{
  .test-case-count-number, .test-run-case-count-number{
    padding: 4px 8px !important;
    background: #cfd6e4 !important;
    color: #727686 !important;
    border-radius: 8px;
    display: table;
  }
}

.badge-item .test-case-count-number{
  padding: 4px 8px !important;
  background: #cfd6e4 !important;
  color: #727686 !important;
  border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
.testrail-custom-pagination {
.mat-tab-header{
  max-width: 80%;
}
.mat-tab-header-pagination{
 display: flex !important; 
}
}
}
.title-search{
word-break: break-word;
}

.white-color{
color: $white-color;
}


.testrun-tab{
  #tab .k-content{
    padding: 0px 10px;
    margin: 0px !important;
  }
}
.min-width-overflow{
  min-width: 100%;
}


.section-cases-operations{
  .mat-chip[mat-sm-chip]{
color:#ffffffd9 !important ;
}
}

.testrail-projectdialog{
overflow: hidden;
.testrail-project-list{
  max-height: 50vh;
  }
}

.project-count{
background-color: $primary-color !important;
}


.mat-active {
  .sections-order-cases{
background-color: #e0e0e0;
  }
}

.custom-position-initial{
  position: initial !important;
}