.message-card{
    box-shadow: none !important;
    padding: 10px !important;
    text-align: center;
    //border: 1px solid $card-border-color;
    background: transparent !important;
    .mat-card-title{
        color: $primary-color;
        letter-spacing: 0.25px;
        word-spacing: 2px;
    }
}