<!-- <div style="overflow: scroll;"> -->
   <!-- <app-am-component-assets-allocated-to-me></app-am-component-assets-allocated-to-me>
   <app-am-component-assets-preview></app-am-component-assets-preview> -->
   <!-- <app-am-component-vendor-management></app-am-component-vendor-management> -->
   <!-- <app-supplier></app-supplier> -->
    <!-- <app-am-component-recently-purchased-assets></app-am-component-recently-purchased-assets> -->
   <!-- <app-am-component-recently-damaged-assets></app-am-component-recently-damaged-assets>  -->
   <!-- <app-am-component-recently-assigned-assets></app-am-component-recently-assigned-assets> -->
   <!-- <app-am-component-product></app-am-component-product> -->
   <!-- <app-am-component-product-details></app-am-component-product-details> -->
   <!-- <app-am-component-product-details-management></app-am-component-product-details-management> -->
   <!-- <app-am-component-location-management></app-am-component-location-management> -->
   <!-- <app-am-component-assets-comments-and-history [assetId]=null></app-am-component-assets-comments-and-history> -->
   <!-- <app-am-component-assets-allocated-to-me></app-am-component-assets-allocated-to-me> -->
   <!-- <router-outlet></router-outlet> -->
<!-- </div> -->