/*----admin scss start------------*/
.permission_data {
  overflow: auto;
  height: 84.5vh;
}

.processstatus_color {
  border-radius: 20px;
  height: 10px;
  margin: 11px 0 0 0 !important;
}

.workflows-sec {
  height: auto !important;
}

.workflow_data {
  height: 80.5vh;
  overflow: auto;
}

.workFlow mat-list {
  padding: 0;
}

.workflows-sec {
  height: 80.5vh;
}

.underline_anchor {
  border-bottom: dashed 1px;
}

.boardtype_data {
  height: 80.5vh;
}

.update-roledialog,
.add_newtransition {
  max-width: 350px !important;
  min-width: 350px !important;
}

.status-color {
  .color-picker {
    .arrow.arrow-right {
      top: -15px !important;
      left: 0px !important;
      border-width: 7px 7px !important;
      border-color: transparent transparent #777 transparent !important;
    }
  }
}

/*----admin scss start------------*/

.search-projects {
  top: 24px !important;
  right: 40px !important;
}

.projects-listpage {
  position: relative;
  position: relative;
  padding: 9px 0px;
  background: #fff;
}

.filter-project {
  cursor: pointer;
}

.project-dtl {
  margin: 5px !important;
  // border-left: solid 3px #20da06;
}

.project-statuslist {
  margin: 0px;
}

.project-dtl .more_vert {
  top: 7px !important;
}

.person-name {
  cursor: pointer;
}

.person-name:hover {
  color: $primary-color !important;
}

.project-status {
  margin: 0 0 0 5px;
}

@media (max-width: 1366px) {
  .project-dtl img {
    width: auto !important;
    height: auto !important;
  }
}

.project-statustoggle label {
  margin: 0;
}

.project-statustoggle {
  margin-top: -2px;
}

.project-statustoggle .mat-button-toggle {
  border-right: solid 1px $grey-color;
}

.project-statustoggle .mat-button-toggle:last-child {
  border-right: none;
}

.custom-height{
  min-height: 100px !important;
  max-height: 500px !important;
  overflow-y: scroll;
}

.dialog-height {
  height: calc(100vh - 350px) !important;
}
