.block_ui .mat-card{
    background:$card-background !important;
  }
  .block_ui p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin:4px 0 0 0;
  }
  .block_ui .mat-card{
   border-left: solid 3px $grey-color !important;
     }
    
     .block_uisec p{
      margin: 5px;
      width: 58%;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
     }
     .block_uisec b{
       margin: 5px;
       width: 34%;
       float: left;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       font-size: 14px;
     }
     .block_ui .mat-card:hover {
       border-left-color: $primary-color !important;
       transition: all 0.5s;
   }
   .block_uisec img {
     width:30px;
     border-radius: 50px;
     float: left;
     margin-right:5px;
   }
   .block_ui .mat-card:after{
       left: 0;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       border-color: rgba(234, 38, 42, 0);
       border-left-color: $grey-color !important;
       border-width: 6px;
       z-index: 9999;
       top: 0%
   }
   .block_ui .mat-card:hover:after{
       border-left-color: $primary-color !important;
       transition:all 0.5s;
   }
   .block_ui .mat-card:hover{
       background:$card-hover !important;
       transition:all 0.5s;
       transform: translateY(-2px) scale(1);
   }
   
   .block_ui h4{
    font-size:16px;
    font-weight:500;
  }
  .block_icons{
    position:absolute;
    display:none !important;
    font-size:16px;
    transition:all 0.5s;
  }
  
  .block_ui .mat-card:hover .block_icons{
    display:block !important;
    top:4px;
    right:10px;
    position:absolute;
    transition:all 0.5s;
  }

  .block_icons .fa:hover {
    color: $primary-color;
    transition: all 0.5
  }

  .block_ui .more_vert{
    position: absolute;
    right: 5px;
    top: 5px;
  }
  @media only screen and (max-width: 1366px) {
    .block_uisec p, .block_uisec b{
      width: 100% !important;
    }
  }