.configuration,.configuration-data{
    box-shadow: none !important;
    margin: 0 5px;
    background: $white-color;
    .card-title-text{
        background: $white-color;
    }
}
.configuration-list {
    border-bottom: solid 1px $grey-color;
    cursor: pointer;
  
    &:hover {
      background: $grey-color;
    }
  }
  
  .config-text {
    .img {
      width: 30px;
      height: 30px;
    }
  }
  .pb{
    padding-bottom: 1em;
  }
  
  .p-1 {
     padding-top : 1em;
  }
.updatePermission{
    max-width: 320px;
}  