.userStory-float {
  position: fixed !important;
  right: 10px;
  bottom: 10px;
  z-index: 9;
}

.userStory-float {
  .item {
    width: 48px !important;
    left: 0 !important;
  }
}
.userStory-float{
    .fab-toggle{
        background-color:$primary-color !important;
        color: $white-color !important;
    }
}