/*------view timesheet--------------*/
.angle_fontsize {
    font-size: 18px !important;
  }
  .viewTimeSheet_search {
    float:right;
    margin:-10px 0px 0 0;
  }
  .viewtimesheet_data{
    height:80.5vh;
  }

  @media only screen and (max-width: 568px) {
    .viewTimeSheet_search{
      float: none !important;
    }
  }
  
.time-sheet{
  .date-picker{
    border: none;
    outline: none;
    width: 76px;
    text-align: center;
  }
  .custom-date-picker-width {
    border: none;
    outline: none; 
    width: 94px;
    text-align: center;
  }
}

.timezone-name {
  vertical-align: baseline !important;
}

.bold-time-sheet{
  font-weight:700;
}

.datatable-height {
  height: 86.5vh;
}


.custom-search-close {
  right: 15px !important;
}

.viewtimesheet-rows-cursor-pointer .datatable-body-cell {
  cursor: pointer !important;
}

.custom-monthly-timesheet {
  margin-top: 19px;
}

.tracking-dialog-padding {
  .mat-dialog-container {
    padding: 0px;
  }
}

.tracker-data-height .k-grid-content {
  height: calc(100vh - 500px);
} 

.work-log-drill-down .k-grid-content {
  height: calc(100vh - 500px);
}

.system-breaks {
  height: calc(100vh - 500px);
}

.system-breaks-font {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-size: 14px !important;
  color: #000
}

.text-underline:hover {
  text-decoration: underline;
}

.timesheet-height1 .k-grid-content {
  height: calc(100vh - 218px) !important;
}

.timesheet-height2 .k-grid-content {
  height: calc(100vh - 180) !important;
}